# Issue Valume Predictions for Comparable Markets

This notebook tries to build models and forecast issue volumes for all components in TQ,AQ and TS for 6 countries recognized as comparable markets

In [1]:
import time
begin = time.ctime()
begin

'Tue Aug 10 14:02:43 2021'

In [2]:
import numpy as np
import pandas as pd
pd.set_option('max.rows',100)

    import matplotlib.pyplot as plt
    %matplotlib inline
    import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime

#sklearn
from sklearn.metrics import mean_squared_error

#Time Series
from pylab import rcParams
import statsmodels.api as sm

from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss

from scipy.stats import boxcox

from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf

from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.holtwinters import ExponentialSmoothing
#Params used

ip_path ='./Input/'
op_path ='./Output/'

rcParams['figure.figsize'] = 12, 8


#We have data from Sept 2015, Total months = 69
#Train data length
train_len = 64
#Data to be forecasted or test data length
fc_mths = 5

#Starting month
start_mth = 4 #4-starts from JaN 2016, 28 - starts from Jan 2018

exclude_mons = [] #['01-09-2015','01-10-2015']
exclude_mon_nums=[] #[20150901,20151001]

#Create an empty data frame with our date range with values filled as nan
start = pd.datetime(2015,9,1) #Date from which we have data
end = pd.datetime(2021,5,1) #Current Month  
index = pd.date_range(start, end,freq='MS')

# Create an empty data frame with our date range with values filled as nan
empty_ts = pd.DataFrame(index=index)
empty_ts['Issues'] = np.nan
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX

from pmdarima.arima import auto_arima

In [3]:
#Params used

ip_path ='./Input/'
op_path ='./Output/'

rcParams['figure.figsize'] = 12, 8


#We have data from Sept 2015, Total months = 69
#Train data length
train_len = 64
#Data to be forecasted or test data length
fc_mths = 5

#Starting month
start_mth = 4 #4-starts from JaN 2016, 28 - starts from Jan 2018

exclude_mons = [] #['01-09-2015','01-10-2015']
exclude_mon_nums=[] #[20150901,20151001]

#Create an empty data frame with our date range with values filled as nan
start = pd.datetime(2015,9,1) #Date from which we have data
end = pd.datetime(2021,5,1) #Current Month  
index = pd.date_range(start, end,freq='MS')

# Create an empty data frame with our date range with values filled as nan
empty_ts = pd.DataFrame(index=index)
empty_ts['Issues'] = np.nan

In [4]:
# Function to Print null counts with counts greater than threshold.
#If threshold is not specified, pritns all null counts
def get_null_cnts(df_, thresh = None):
    null_cnts = df_.isnull().sum()
    null_cnts = null_cnts.sort_values(ascending=False)
    if thresh == None :
        return null_cnts
    else :
        return null_cnts[null_cnts > thresh]

In [5]:
# Function to Print null percentages with percentage greater than threshold.
#If threshold is not specified, pritns all null percentages
def get_null_perc(df_, thresh = None):
    null_perc = round(100 * df_.isnull().sum()/len(df_), 2)
    null_perc = null_perc.sort_values(ascending=False)
    if thresh == None :
        return null_perc
    else :
        return null_perc[null_perc > thresh]

In [6]:
#Function to get the group as test or control
def get_group(x):
    if x in test_cids:
        return 'Test'
    else:
        return 'Control'

In [7]:
#Date handling functions

def convert_dt_str_to_mth(dt_str_):
    dt_ = datetime.strptime(dt_str_,'%d-%m-%Y %H:%M')
    return datetime.strftime(dt_,'%B%Y')

#Format 2020-09-01
def convert_dt_str_to_mth2(dt_str_):
    dt_ = datetime.strptime(dt_str_,'%Y-%m-%d')
    return datetime.strftime(dt_,'%B%Y')


#Date Format:20180701
def convert_dt_int_to_mth(dt_int_):
    dt_ = datetime.strptime(str(dt_int_),'%Y%m%d')
    return datetime.strftime(dt_,'%B%Y')

#Date Format:20180701
def convert_dt_int_to_dt(dt_int_):
    return datetime.strptime(str(dt_int_),'%Y%m%d')

def convert_mth_to_dt(mth_):
    return datetime.strptime(mth_,'%B%Y')

def add_months(dt_, num_):
    return dt_ + relativedelta(months=num_)

def convert_dt_to_mth(dt_):
    return datetime.strftime(dt_,'%B%Y')

def convert_mth_to_date_key(mth_):
    return datetime.strftime(convert_mth_to_dt(mth_),'%Y%m%d')

def get_mth_range(dt_):
    start = add_months(dt_,- (pre_post_months))
    end = add_months(dt_,(pre_post_months))
    dt_range = pd.date_range(start,end,freq='MS')
    mth_range = dt_range.map(convert_dt_to_mth)
    mth_range
    return mth_range

#This function is to get all previous months engaged prior to passed month. To derive if the customer is new in curent month
def get_prev_mths(mth_):
    return eng_dt_range[:eng_dt_range.index(mth_)]

In [8]:
me_df_orig = pd.read_excel('./Input/ME_Analysis.xlsx',sheet_name='Sheet1')

In [9]:
me_df_orig.shape

(29882, 12)

In [10]:
me_df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29882 entries, 0 to 29881
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CalendarMonthStart    29882 non-null  int64
 1   Editorial Language    29882 non-null  object
 2   Issues                29882 non-null  int64
 3   EditorialCountryName  29882 non-null  object
 4   ComponentName         29882 non-null  object
 5   QueueCategory         29882 non-null  object
 6   QueueCategory1        29882 non-null  object
 7   QueueCategory2        12680 non-null  object
 8   Country&Lang          29882 non-null  object
 9   Country&Lang(T/F)     147 non-null    object
 10  Only Country          1103 non-null   object
 11  Only Lang             16017 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.7+ MB

In [11]:
me_df_orig.head(2)

,CalendarMonthStart,Editorial Language,Issues,EditorialCountryName,ComponentName,QueueCategory,QueueCategory1,QueueCategory2,Country&Lang,Country&Lang(T/F),Only Country,Only Lang
0,20160101,(blank),1,Australia,Appeals,NQP,AQ,NaN,Australia(blank),NaN,NaN,NaN
1,20160101,(blank),59,China,Appeals,NQP,AQ,NaN,China(blank),NaN,NaN,NaN

In [12]:
#Make a copy before doing any manipulations
me_df = me_df_orig.copy()

In [13]:
#Convert Month Start column to data format
me_df['Month'] = me_df.CalendarMonthStart.map(convert_dt_int_to_dt)

In [14]:
cats_df = me_df[['ComponentName','QueueCategory1','QueueCategory2']].drop_duplicates()

In [15]:
#Components mapped to Tscore
ts_core_comps = list(cats_df[(cats_df.QueueCategory1=='TS') & (cats_df.QueueCategory2=='Tscore')].ComponentName)
ts_core_comps

['Advertiser API',
 'Analytics',
 'BI/Reporting',
 'Campaign Mgmt',
 'Editorial',
 'Microsoft Advertising Editor',
 'Optimization',
 'Product Ads/Shopping',
 'Syndication/Publisher API',
 'Tier 3',
 'UCMA',
 'UCMT',
 'UCMB',
 'UCMC',
 'UCMBA']

In [16]:
#Number of rows mapped to NaN group for TS
me_df[ ((me_df.QueueCategory1=='TS') & (me_df.QueueCategory2.isnull()))].shape

(430, 13)

#### Very few records for nulls in QueueCategory2. We can ignore them safely

In [17]:
#Drop the TS components data not mapped to any group 
me_df = me_df[ ~((me_df.QueueCategory1=='TS') & (me_df.QueueCategory2.isnull()))]

In [18]:
#Introduce a new column with Component Names grouped for TS and as is for AQ and TQ
me_df['Component'] = me_df.ComponentName.replace(ts_core_comps,'Tscore')

In [19]:
#Count of rows by component
me_df.Component.value_counts()

Tscore                        8664
Phishing/Techscam             5808
Appeals                       4019
Complaints                    3480
Accounts & Billing            1841
Delivery                      1679
Supply TQ Investigation        948
Malware/Bundling/Downloads     820
Policy Questions               801
Enablements                    404
Matching                       314
Bing Places                    291
Bing Web Master Tools          205
SEAM                           178
Name: Component, dtype: int64

In [20]:
me_df.head(2)

,CalendarMonthStart,Editorial Language,Issues,EditorialCountryName,ComponentName,QueueCategory,QueueCategory1,QueueCategory2,Country&Lang,Country&Lang(T/F),Only Country,Only Lang,Month,Component
0,20160101,(blank),1,Australia,Appeals,NQP,AQ,NaN,Australia(blank),NaN,NaN,NaN,2016-01-01,Appeals
1,20160101,(blank),59,China,Appeals,NQP,AQ,NaN,China(blank),NaN,NaN,NaN,2016-01-01,Appeals

In [21]:
#Rename EditorialCountryName column to Country 
me_df = me_df.rename(columns={'EditorialCountryName':'Country'})

In [22]:
#Select the columns that we are interested in
me_df = me_df[['Month','Country','Component','Issues']]

In [23]:
print('Number of countries:', len(me_df.Country.unique()), 'Number Of Components', len(me_df.Component.unique()))

Number of countries: 195 Number Of Components 14

In [24]:
#Comparable Market countries list are the ones we consider
cons_cons = ['Denmark', 'Finland', 'France', 'Norway', 'Spain', 'Sweden']
comp_me_df = me_df[me_df.Country.isin(cons_cons)]

In [25]:
#Counts by country
comp_me_df.Country.value_counts()

France     1531
Spain      1061
Sweden      668
Denmark     526
Norway      403
Finland     283
Name: Country, dtype: int64

In [26]:
#Number of Country Component Combinations to consider
con_comp = comp_me_df[['Country','Component']].drop_duplicates().sort_values(['Country','Component'])
print('Number of combinations:', len(con_comp) )

#First and last month for which we have data for a combination
con_comp['FirstMonth'] = np.nan
con_comp['LastMonth'] = np.nan
#Number of months we have data for a combination
con_comp['Total'] = 0
#Add a column for number of missing entries in between min and max of available months
con_comp['Missing'] = 0
#Continuously for how many months we have data from the last month backwards
con_comp['LastCont'] = 0
#Average Isssues per month for a combinations
con_comp['AvgIssues'] = 0

Number of combinations: 75

#### Out of 84Country/Component combinations, we have data for 75 combinations

In [27]:
comp_me_df.head(2)

        Month  Country Component  Issues
4  2016-01-01   France   Appeals       1
18 2016-01-01  Denmark   Appeals      10

In [28]:
#Check the data availability for the combinations
for row in con_comp.itertuples():
    con, comp = row[1], row[2]
    temp_df = me_df[(me_df.Country == con) & (me_df.Component == comp)].groupby('Month')['Issues'].sum().reset_index()
    
    #First and Last month for which we have data for 
    first_mon = temp_df.Month.min()
    last_mon = temp_df.Month.max()
    
    #Month Range between first and last months 
    mth_range = pd.date_range( first_mon, last_mon, freq='MS')
    
    #Missing months in the range
    missing_mths = mth_range.difference(temp_df.Month)
    
    if len(missing_mths) > 0:
        #If data missing for a month or more, how many months data do we have continuosly from last month
        last_cont_mths = pd.date_range(max(missing_mths), last_mon, freq='MS')
    else:
        last_cont_mths = mth_range
    
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'FirstMonth'] = convert_dt_to_mth(first_mon)
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'LastMonth'] = convert_dt_to_mth(last_mon)
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'Total'] = len(mth_range)
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'Missing'] = len(missing_mths)
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'LastCont'] = len(last_cont_mths)-1 # Minus one
    
    #Average Issues
    con_comp.loc[(con_comp.Country==con) & (con_comp.Component==comp),'AvgIssues'] = temp_df.Issues.mean()

In [29]:
con_comp['MissingPerc'] = round((con_comp.Missing/con_comp.Total)*100)
con_comp['DataAvl'] = con_comp.Total - con_comp.Missing

In [30]:
con_comp.head(2)

,Country,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
16847,Denmark,Accounts & Billing,April2016,May2021,62,19,1,2.069767,31.0,43
18,Denmark,Appeals,January2016,June2021,66,0,65,15.318182,0.0,66

## Filter out combinations without significant data

In [31]:
#Ignore combinations not having more than 15 months of data
cons_con_comp = con_comp[con_comp.DataAvl > 15]
cons_con_comp.shape

(48, 10)

#### 27 combinations are gone if we consider combinations with at least 15 months of data availability

In [32]:
#Ignored combinations are
con_comp[~(con_comp.DataAvl > 15)]

,Country,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
29532,Denmark,Bing Places,June2021,June2021,1,0,0,1.000000,0.0,1
4544,Denmark,Enablements,April2019,April2021,25,13,2,1.833333,52.0,12
10075,Denmark,Malware/Bundling/Downloads,February2017,May2021,52,48,1,1.000000,92.0,4
5441,Denmark,Matching,October2019,January2021,16,11,1,1.800000,69.0,5
20,Denmark,Policy Questions,January2016,December2020,60,52,1,1.375000,87.0,8
20961,Finland,Bing Web Master Tools,June2018,June2018,1,0,0,1.000000,0.0,1
22712,Finland,Delivery,March2019,June2021,28,25,1,1.333333,89.0,3
9201,Finland,Malware/Bundling/Downloads,May2016,May2018,25,21,2,1.250000,84.0,4
5953,Finland,Matching,January2020,July2020,7,5,1,1.000000,71.0,2
63,Finland,Policy Questions,January2016,April2019,40,35,1,1.600000,88.0,5
13144,Finland,Supply TQ Investigation,January2019,July2019,7,5,1,1.000000,71.0,2
16717,France,Bing Places,February2016,April2017,15,13,1,1.000000,87.0,2
18823,France,Bing Web Master Tools,July2017,October2020,40,35,1,1.000000,88.0,5
10246,France,SEAM,March2017,July2017,5,2,1,1.666667,40.0,3
18608,Norway,Delivery,June2017,April2021,47,33,2,1.571429,70.0,14
7832,Norway,Enablements,December2020,December2020,1,0,0,1.000000,0.0,1
9412,Norway,Malware/Bundling/Downloads,July2016,June2019,36,29,1,1.285714,81.0,7
7672,Norway,Matching,November2020,January2021,3,1,1,1.500000,33.0,2
2572,Norway,Policy Questions,December2017,December2017,1,0,0,1.000000,0.0,1
10690,Norway,SEAM,July2017,July2017,1,0,0,1.000000,0.0,1
18029,Spain,Bing Places,April2017,August2020,41,31,2,1.900000,76.0,10
24855,Spain,Bing Web Master Tools,December2019,July2020,8,6,1,1.000000,75.0,2
10247,Spain,SEAM,March2017,April2017,2,0,1,1.000000,0.0,2
9314,Sweden,Malware/Bundling/Downloads,June2016,August2019,39,32,1,1.428571,82.0,7
4989,Sweden,Matching,June2019,January2021,20,12,1,1.125000,60.0,8
100,Sweden,Policy Questions,January2016,February2021,62,52,1,1.000000,84.0,10
9699,Sweden,SEAM,September2016,September2016,1,0,0,1.000000,0.0,1

In [33]:
#This can be configred based on the requirement
recent_months = ['June2021','May2021','April2021']
display('Ignored Combinations are:', cons_con_comp[~cons_con_comp.LastMonth.isin(recent_months)])
cons_con_comp = cons_con_comp[cons_con_comp.LastMonth.isin(recent_months)]
cons_con_comp.shape

'Ignored Combinations are:'

,Country,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
9048,France,Malware/Bundling/Downloads,March2016,January2021,59,24,1,1.657143,41.0,35
70,France,Policy Questions,January2016,February2021,62,18,2,2.613636,29.0,44
9050,Spain,Malware/Bundling/Downloads,March2016,March2021,61,32,1,1.965517,52.0,29
17234,Sweden,Delivery,September2016,March2021,55,17,7,2.052632,31.0,38
11184,Sweden,Supply TQ Investigation,November2017,March2021,41,15,1,1.692308,37.0,26

(43, 10)

#### Another 5 combinations are gone if we do not

In [34]:
cons_con_comp

,Country,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
16847,Denmark,Accounts & Billing,April2016,May2021,62,19,1,2.069767,31.0,43
18,Denmark,Appeals,January2016,June2021,66,0,65,15.318182,0.0,66
19,Denmark,Complaints,January2016,June2021,66,1,54,21.661538,2.0,65
17855,Denmark,Delivery,March2017,June2021,52,23,1,1.689655,44.0,29
8932,Denmark,Phishing/Techscam,January2016,June2021,66,5,22,3.918033,8.0,61
11595,Denmark,Supply TQ Investigation,February2018,June2021,41,20,2,1.809524,49.0,21
16671,Denmark,Tscore,January2016,June2021,66,19,8,2.957447,29.0,47
17756,Finland,Accounts & Billing,March2017,June2021,52,34,1,1.333333,65.0,18
61,Finland,Appeals,January2016,June2021,66,1,59,6.723077,2.0,65
62,Finland,Complaints,January2016,June2021,66,3,47,17.650794,5.0,63
8933,Finland,Phishing/Techscam,January2016,June2021,66,11,12,5.200000,17.0,55
19676,Finland,Tscore,November2017,May2021,43,23,5,1.250000,53.0,20
16697,France,Accounts & Billing,February2016,June2021,65,6,53,12.661017,9.0,59
4,France,Appeals,January2016,June2021,66,0,65,157.242424,0.0,66
69,France,Complaints,January2016,June2021,66,0,65,94.393939,0.0,66
16661,France,Delivery,January2016,June2021,66,1,53,12.353846,2.0,65
4613,France,Enablements,April2019,June2021,27,4,10,5.913043,15.0,23
4614,France,Matching,April2019,June2021,27,2,8,6.240000,7.0,25
8934,France,Phishing/Techscam,January2016,June2021,66,0,65,43.303030,0.0,66
9402,France,Supply TQ Investigation,June2016,June2021,61,14,39,4.021277,23.0,47
16651,France,Tscore,January2016,June2021,66,0,65,35.318182,0.0,66
18205,Norway,Accounts & Billing,May2017,June2021,50,12,1,1.973684,24.0,38
83,Norway,Appeals,January2016,June2021,66,0,65,12.424242,0.0,66
84,Norway,Complaints,January2016,June2021,66,3,49,11.936508,5.0,63
8942,Norway,Phishing/Techscam,January2016,June2021,66,11,34,3.745455,17.0,55
11757,Norway,Supply TQ Investigation,March2018,May2021,39,22,1,1.058824,56.0,17
17005,Norway,Tscore,June2016,June2021,61,21,9,2.100000,34.0,40
17123,Spain,Accounts & Billing,August2016,June2021,59,4,52,6.781818,7.0,55
48,Spain,Appeals,January2016,June2021,66,0,65,55.242424,0.0,66
95,Spain,Complaints,January2016,June2021,66,0,65,73.727273,0.0,66
16815,Spain,Delivery,March2016,June2021,64,6,2,4.189655,9.0,58
4983,Spain,Enablements,June2019,June2021,25,5,3,1.950000,20.0,20
4984,Spain,Matching,June2019,June2021,25,9,3,2.562500,36.0,16
8946,Spain,Phishing/Techscam,January2016,June2021,66,0,65,31.712121,0.0,66
96,Spain,Policy Questions,January2016,June2021,66,42,3,1.375000,64.0,24
10358,Spain,Supply TQ Investigation,April2017,June2021,51,12,16,3.282051,24.0,39
16641,Spain,Tscore,January2016,June2021,66,6,52,11.216667,9.0,60
17773,Sweden,Accounts & Billing,March2017,June2021,52,5,22,3.106383,10.0,47
98,Sweden,Appeals,January2016,June2021,66,0,65,23.590909,0.0,66
99,Sweden,Complaints,January2016,June2021,66,0,65,25.121212,0.0,66
4646,Sweden,Enablements,April2019,June2021,27,5,1,2.090909,19.0,22
8947,Sweden,Phishing/Techscam,January2016,June2021,66,2,53,5.093750,3.0,64
16762,Sweden,Tscore,February2016,June2021,65,11,24,5.462963,17.0,54

#### By looking at the remaining combination's data, it seems to be dafe to impute missing month's data with zero

## Build models

In [35]:
#Number of combinations to build models for
cons_con_comp.shape

(43, 10)

In [36]:
#Function to calculate error and prepare a data frame
def calc_error(method, act, pred):
    global cons_err_df
 
    #Root Mean Square Error
    rmse = np.sqrt(mean_squared_error(act, pred)).round(2)
    mae = np.mean(abs(act-pred))

#     cons_res_df['Actual_'+method] = results_df_['Issues'] #Not required for every method. Initiate it only once
    cons_res_df['Forecast_'+method] = pred
    
 
    #Mean Absolute Percentage error
    mape = np.round(np.mean(np.abs(act-pred)/act)*100,2)
    
    # Over and Under predictions to check the direction of the error
    over_pred, under_pred = [],[]
    for row in zip(act,pred):
        actual = row[0]
        predicted = row[1]
        if predicted > actual:
            over_pred.append([predicted,actual])
        else:
            under_pred.append([predicted,actual])

    
    #This is to avoid shown nan as average error
    if len(over_pred) == 0:
        over_pred_mape =0
    else:
#         over_pred_avg = round(np.mean(over_pred),1)
        preds = [item[0] for item in over_pred]
        acts = [item[1] for item in over_pred]
        over_pred_mape = np.round(np.mean(np.abs(np.array(preds)-np.array(acts))/np.array(acts))*100,2)

    if len(under_pred) == 0:
        under_pred_mape = 0
    else:
#         under_pred_avg = round(np.mean(under_pred),1)
        preds = [item[0] for item in under_pred]
        acts = [item[1] for item in under_pred]
        under_pred_mape = np.round(np.mean(np.abs(np.array(preds)-np.array(acts))/np.array(acts))*100,2)

    over_preds = str(len(over_pred)) + ' - ' + str(over_pred_mape)
    under_preds = str(len(under_pred)) + ' - ' + str(under_pred_mape)

 
    err_df_ = pd.DataFrame({'Method':[method], 'MAPE': [mape], 'RMSE': [rmse], 'MAE':[mae],
                           'Over Predictions':[over_preds], 'Under Predictions':[under_preds]})
    cons_err_df = cons_err_df.append(err_df_)
    
#     print('Method:', method, 'MAPE:', [mape], 'RMSE:', [rmse], 'MAE:',[mae])
    return err_df_

In [37]:
#Plot results of a time series forecasting model
def plot_results(method_name_, ts_data_train, results_df_):
    plt.figure(figsize=(12,4))
    plt.plot(ts_data_train, label='Train')
    plt.plot(results_df_['Issues'], label='Test')
    plt.plot(results_df_['Issues_FC'], label=method_name_+' Forecast')
    plt.legend(loc='best')
    plt.title(method_name_)
    plt.show()

In [38]:
#Functions to run different models

#Simple Exponential Smoothing
def run_simple_exp_smooth(ts_data_train, ts_data_test, smoothing_level_=0.2, optimized_=False):
    model = SimpleExpSmoothing(ts_data_train)
    try:
        model_fit = model.fit(smoothing_level=smoothing_level_, optimized=optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model SES:', str(e))
        return pd.DataFrame()

    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df


#Holts method with only trend
def run_holt_trend(ts_data_train, ts_data_test, seasonal_periods_=12 , smoothing_level_=0.2, smoothing_slope_=0.01, optimized_=False):
    
    model = ExponentialSmoothing(np.asarray(ts_data_train) ,seasonal_periods = seasonal_periods_ , trend='additive', seasonal=None)

    try:
        model_fit = model.fit(smoothing_level = smoothing_level_, smoothing_slope = smoothing_slope_, optimized = optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Holt with only Trend:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df

#Holt winters with trend and seasonality
def run_holt_wint(ts_data_train, ts_data_test, seasonal_periods_=12 , trend_='add', seas_='add', optimized_=True, use_boxcox_=None,init_method_=None):
    
    model = ExponentialSmoothing(np.asarray(ts_data_train) ,seasonal_periods=seasonal_periods_ ,trend=trend_, seasonal=seas_, 
                                 initialization_method=init_method_, use_boxcox=use_boxcox_)
    
    try:
        model_fit = model.fit(optimized=optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Holt Winters:', str(e))
        return pd.DataFrame()
        
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df

#ARIMA
def run_arima(ts_data_train, ts_data_test, is_bc_=False, order_=(1,0,0)):
    
    model = ARIMA(ts_data_train, order=order_)
    try:
        model_fit = model.fit()
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model ARIMA:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))[0]

    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df


#SARIMAX
def run_sarimax(ts_data_train, ts_data_test, is_bc_=False, order_=(1,1,1), seasonal_order_=(1,1,1,12), is_exog_=False, exog_=None):

    promo_train_, promo_test_ = None, None 
    if is_exog_:
        promo_train_ = exog_[0:len(ts_data_train)+1]
        promo_test_ = exog_[len(ts_data_train):]
        print(ts_data_train.shape, ts_data_test.shape, promo_train_.shape, promo_test_.shape)
    
    model = SARIMAX(ts_data_train, order=order_, seasonal_order=seasonal_order_,exog=promo_train_)

    try:
        model_fit = model.fit()
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model SARIMAX:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df

def run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_d=2, max_p=3, max_q=3,start_P=0, 
                             start_Q=0, max_P=3, max_D=1, max_Q=3, m=12, seasonal=True, trace=True, d=1, D=1, max_order = 5,
                             maxiter = 50,
                             error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100, n_jobs = -1):

    # model = auto_arima(train, trace=True, error_action='ignore', suppress_warnings=True)
    model = auto_arima(ts_data_train,start_p=start_p,start_q=start_q,max_p=max_p, max_d=max_d, max_q=max_q,start_P=start_P, 
                             start_Q=start_Q, max_P=max_P, max_D=max_D, max_Q=max_Q, m=m, seasonal=seasonal, trace=trace, d=d, 
                             D=D, max_order = max_order, maxiter = maxiter, 
                             error_action=error_action, suppress_warnings=suppress_warnings, 
                             stepwise=stepwise, random_state=random_state, n_fits=n_fits, n_jobs = n_jobs)


    try:
        model.fit(ts_data_train)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Auto ARIMA:', str(e))
        return pd.DataFrame()

    results_df = ts_data_test.to_frame()
    
    try:
        results_df['Issues_FC'] = model.predict(len(ts_data_test))
    except ValueError as e:
        print('Value Error while prediction in Auto ARIMA:', str(e))
        return pd.DataFrame()
        
    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df

In [39]:
def plot_calc_error(method, ts_data_train, results_df):
    if len(results_df) == 0:
        print('Results Dataframe is empty')
        return
    if debug:
        plot_results(method, ts_data_train, results_df)
    calc_error(method,results_df['Issues'],results_df['Issues_FC'])

#bc to indicate whether to boxcox transformation
def run_models(ts_data, bc, select='mape'):
    #Train test split - 80:20
    ts_len = len(ts_data)
    train_len = int(ts_len*.8)
    ts_data_train = ts_data[:train_len]
    ts_data_test = ts_data[train_len:]
    
    if bc:
        ts_data_bc = pd.Series(boxcox(ts_data.interpolate(), lmbda=0),name='Issues')
        #Index with all months from first to last
        idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
        #Reset index for boxcox data set
        ts_data_bc.index = idx

        ts_data_train_bc = ts_data_bc[:train_len]
        ts_data_test_bc = ts_data_bc[train_len:]
    
    cons_res_df['Actual'] = ts_data_test

    method = 'SES'
    results_df = run_simple_exp_smooth(ts_data_train, ts_data_test)
    plot_calc_error(method, ts_data_train, results_df)

    method = 'HoltsTrend'
    results_df = run_holt_trend(ts_data_train, ts_data_test)
    plot_calc_error(method, ts_data_train, results_df)

    method = 'HWAdditive'
    results_df = run_holt_wint(ts_data_train, ts_data_test)
    plot_calc_error(method, ts_data_train, results_df)

    if bc:
        method = 'HWMult'
        results_df = run_holt_wint(ts_data_train, ts_data_test,seas_='mul')
        plot_calc_error(method, ts_data_train, results_df)

    ord = (1,1,1)
    method = 'ARIMA_'+str(ord)
    results_df = run_arima(ts_data_train, ts_data_test, order_=ord)
    plot_calc_error(method, ts_data_train, results_df)

    if bc:
        
        ord = (1,1,1)
        method = 'ARIMA_BC_'+str(ord)
        results_df = run_arima(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord) #TODO - pass Box Cox data
        plot_calc_error(method, ts_data_train, results_df)

        ord_1 = (1,1,1)
        ord_2 = (1,1,1,12)
        method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
        results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2)#TODO
        plot_calc_error(method, ts_data_train, results_df)

        ord_1 = (1,2,1)
        ord_2 = (1,1,1,12)
        method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
        results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2) #TODO
        plot_calc_error(method, ts_data_train, results_df)

        ord_1 = (1,2,1)
        ord_2 = (0,1,1,12)
        method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
        results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2) #TODO
        plot_calc_error(method, ts_data_train, results_df)

    ord_1 = (1,2,1)
    ord_2 = (1,1,1,12)
    method = 'SARIMA_'+str(ord_1)+'_'+str(ord_2)
    results_df = run_sarimax(ts_data_train, ts_data_test, order_=ord_1, seasonal_order_=ord_2)
    plot_calc_error(method, ts_data_train, results_df)


    ord_1 = (1,2,1)
    ord_2 = (0,1,1,12)
    method = 'SARIMA_'+str(ord_1)+'_'+str(ord_2)
    results_df = run_sarimax(ts_data_train, ts_data_test, order_=ord_1, seasonal_order_=ord_2)
    plot_calc_error(method, ts_data_train, results_df)

    method = 'PMD_Diff1'
    results_df = run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_p=8, max_q=8,start_P=0, 
                             start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=1, D=1, 
                             error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
    plot_calc_error(method, ts_data_train, results_df)

    method = 'PMD_Diff2'
    results_df = run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_p=8, max_d=3, max_q=8,start_P=0, 
                             start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=2, 
                             error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
    plot_calc_error(method, ts_data_train, results_df)

    if bc:
        method = 'PMD_Diff1_BC'
        results_df = run_auto_arima(ts_data_train_bc, ts_data_test_bc, is_bc_=True, start_p=1, start_q=1,max_p=8, max_q=8,start_P=0, 
                                 start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=1, D=1, 
                                 error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
        plot_calc_error(method, ts_data_train, results_df)

In [40]:
%%time
#Forecasting with missing values as 0
debug = False

all_res_dfs = {}
all_err_dfs = {}
i = 0 
for row in cons_con_comp[['Country','Component']].itertuples():
    con, comp = row[1], row[2]
    print('Building models for Country:{} and Component:{}'.format(con, comp))
    print('='*100)
    ts_data = me_df[(me_df.Country==con)&(me_df.Component==comp)].groupby('Month')['Issues'].sum()
    
    #Index with all months from first to last
    idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
    #Reindex time series data to fill values with 0
    ts_data = ts_data.reindex(idx, fill_value=0)
    
    print('TS Data Set shape: ',ts_data.shape)

    #Initiate Consolidated Result and Error dataframes
    cons_err_df = pd.DataFrame()
    cons_res_df = pd.DataFrame()

    run_models(ts_data, bc=False)
    
    
    all_res_dfs[(con, comp)] = cons_res_df
    all_err_dfs[(con, comp)] = cons_err_df
    
    display(cons_err_df)
    if debug:
        display(cons_res_df)
        
    #For testing.Run only limited combos
#     i += 1
#     if i==1:
#         break
    
    print()

Building models for Country:Denmark and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (62,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,1.00,0.874954,6 - inf,7 - 30.33
0,HoltsTrend,inf,7.34,6.967840,0 - 0,13 - inf
0,HWAdditive,inf,1.41,1.100947,9 - inf,4 - 31.93
0,"ARIMA_(1, 1, 1)",inf,1.10,0.910991,6 - inf,7 - 22.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.16,0.993348,5 - inf,8 - 38.5
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.22,1.038261,5 - inf,8 - 48.27
0,PMD_Diff1,inf,2.05,1.648219,12 - inf,1 - 40.43
0,PMD_Diff2,inf,8.93,8.017473,0 - 0,13 - inf

Building models for Country:Denmark and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,57.91,14.68,12.260772,9 - 72.77,5 - 31.17
0,HoltsTrend,92.08,31.76,25.553342,0 - 0,14 - 92.08
0,HWAdditive,37.70,13.37,10.357144,5 - 53.29,9 - 29.04
0,"ARIMA_(1, 1, 1)",99.40,19.33,17.902362,11 - 118.8,3 - 28.25
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",155.17,33.10,28.672716,13 - 166.39,1 - 9.28
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",155.43,33.17,28.874605,13 - 166.14,1 - 16.23
0,PMD_Diff1,58.84,17.61,12.185418,9 - 76.7,5 - 26.7
0,PMD_Diff2,96.59,22.95,17.001475,12 - 107.41,2 - 31.7

Building models for Country:Denmark and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,425.17,20.66,16.764624,13 - 457.39,1 - 6.31
0,HoltsTrend,258.57,13.01,10.185114,8 - 442.25,6 - 13.65
0,HWAdditive,447.86,21.67,16.917798,14 - 447.86,0 - 0
0,"ARIMA_(1, 1, 1)",565.49,27.84,23.327171,14 - 565.49,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",507.55,26.54,22.179730,13 - 546.09,1 - 6.57
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",510.61,26.28,22.340120,13 - 549.75,1 - 1.78
0,PMD_Diff1,460.05,23.76,19.909210,13 - 494.89,1 - 7.23
0,PMD_Diff2,86.18,12.69,11.150957,5 - 138.05,9 - 57.36

Building models for Country:Denmark and Component:Delivery
====================================================================================================
TS Data Set shape:  (52,)
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.99,0.770809,6 - inf,5 - 63.28
0,HoltsTrend,inf,1.01,0.773478,6 - inf,5 - 67.25
0,HWAdditive,inf,1.36,1.016370,3 - inf,8 - inf
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.55,1.231004,6 - inf,5 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.48,1.167205,6 - inf,5 - inf
0,PMD_Diff1,inf,1.63,1.336725,4 - inf,7 - inf
0,PMD_Diff2,inf,2.81,2.343040,11 - inf,0 - 0

Building models for Country:Denmark and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,132.28,3.71,2.921153,11 - 161.13,3 - 26.49
0,HoltsTrend,423.23,13.40,12.575799,0 - 0,14 - 423.23
0,HWAdditive,164.79,4.29,3.674999,12 - 186.69,2 - 33.33
0,"ARIMA_(1, 1, 1)",167.27,4.20,3.648410,12 - 190.34,2 - 28.84
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",280.22,7.09,6.496125,13 - 297.73,1 - 52.57
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",285.50,7.19,6.617676,13 - 303.47,1 - 51.87
0,PMD_Diff1,134.94,4.07,3.320024,10 - 173.14,4 - 39.45

Building models for Country:Denmark and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (41,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.77,0.661721,3 - inf,6 - 43.21
0,HoltsTrend,inf,14.65,14.073905,0 - 0,9 - inf
0,HWAdditive,inf,1.75,1.377257,2 - inf,7 - inf
0,"ARIMA_(1, 1, 1)",inf,0.93,0.789324,3 - inf,6 - 67.83
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.72,1.213787,3 - inf,6 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.78,1.376404,3 - inf,6 - inf
0,PMD_Diff1,inf,2.74,2.314865,2 - inf,7 - inf
0,PMD_Diff2,inf,3.54,3.194480,1 - inf,8 - inf

Building models for Country:Denmark and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,3.08,2.428571,7 - inf,7 - 62.42
0,HoltsTrend,inf,9.49,8.460388,0 - 0,14 - inf
0,HWAdditive,inf,2.80,2.381223,7 - inf,7 - 50.6
0,"ARIMA_(1, 1, 1)",inf,2.65,2.326993,7 - inf,7 - 41.74
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,3.13,2.734629,10 - inf,4 - 33.76
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,2.81,2.491629,10 - inf,4 - 40.28
0,PMD_Diff1,inf,2.65,2.301592,9 - inf,5 - 44.34
0,PMD_Diff2,inf,4.25,3.703349,12 - inf,2 - 13.23

Building models for Country:Finland and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (52,)
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.90,0.665488,7 - inf,4 - 63.32
0,HoltsTrend,inf,0.90,0.651196,7 - inf,4 - 67.24
0,HWAdditive,inf,1.10,0.599657,7 - inf,4 - inf
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.52,1.336121,9 - inf,2 - 48.18
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.52,1.335944,9 - inf,2 - 51.28
0,PMD_Diff1,inf,1.10,0.891741,8 - inf,3 - 61.44
0,PMD_Diff2,inf,1.17,0.909061,8 - inf,3 - 73.93

Building models for Country:Finland and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,58.81,6.84,5.072641,8 - 70.97,6 - 42.6
0,HoltsTrend,66.68,11.78,8.957160,1 - 52.36,13 - 67.78
0,HWAdditive,50.02,7.10,4.779496,4 - 98.47,10 - 30.64
0,"ARIMA_(1, 1, 1)",59.78,6.50,4.880864,8 - 76.32,6 - 37.74
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",112.84,7.72,7.035936,11 - 136.07,3 - 27.68
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",127.51,8.38,7.713171,11 - 157.1,3 - 19.0
0,PMD_Diff1,56.44,6.87,5.249331,6 - 85.26,8 - 34.83
0,PMD_Diff2,202.77,14.69,12.936337,13 - 217.32,1 - 13.55

Building models for Country:Finland and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,62.70,10.26,7.585691,9 - 91.65,5 - 10.58
0,HoltsTrend,101.92,17.41,15.005458,14 - 101.92,0 - 0
0,HWAdditive,100.18,32.03,26.663948,3 - 58.24,11 - 111.62
0,"ARIMA_(1, 1, 1)",49.09,8.92,7.255292,6 - 86.93,8 - 20.7
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",113.61,34.04,27.309306,2 - 159.74,12 - 105.92
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",109.98,32.07,25.476527,3 - 123.05,11 - 106.41
0,PMD_Diff1,80.45,14.26,10.799512,7 - 142.17,7 - 18.73
0,PMD_Diff2,116.28,34.18,26.997902,3 - 127.56,11 - 113.2

Building models for Country:Finland and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,11.19,5.960565,6 - inf,8 - 50.27
0,HoltsTrend,inf,21.39,17.942468,0 - 0,14 - inf
0,HWAdditive,inf,10.91,5.660688,7 - inf,7 - 34.07
0,"ARIMA_(1, 1, 1)",inf,10.62,5.629969,7 - inf,7 - 32.66
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,12.68,8.933886,9 - inf,5 - 36.78
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,12.13,8.483676,10 - inf,4 - 40.15
0,PMD_Diff1,inf,13.17,9.571429,11 - inf,3 - 51.95
0,PMD_Diff2,inf,15.41,13.395832,12 - inf,2 - 39.49

Building models for Country:Finland and Component:Tscore
====================================================================================================
TS Data Set shape:  (43,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.71,0.629243,2 - inf,7 - 56.6
0,HoltsTrend,inf,7.46,7.204970,0 - 0,9 - inf
0,HWAdditive,inf,0.85,0.634921,2 - inf,7 - 41.67
0,"ARIMA_(1, 1, 1)",inf,0.55,0.449482,2 - inf,7 - 28.48
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.46,1.323093,1 - inf,8 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.45,1.308366,1 - inf,8 - inf
0,PMD_Diff1,inf,0.88,0.719920,4 - inf,5 - 69.67
0,PMD_Diff2,inf,1.13,0.811913,4 - inf,5 - 74.01

Building models for Country:France and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (65,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,40.99,8.03,6.587463,3 - 84.73,10 - 27.87
0,HoltsTrend,41.48,7.83,6.110950,3 - 104.67,10 - 22.52
0,HWAdditive,46.78,8.63,6.864390,5 - 75.14,8 - 29.06
0,"ARIMA_(1, 1, 1)",45.28,8.92,6.653891,5 - 71.92,8 - 28.63
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",43.67,8.46,6.829177,5 - 63.9,8 - 31.03
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",42.66,9.55,8.006238,2 - 79.19,11 - 36.01
0,PMD_Diff1,46.26,8.59,6.834232,5 - 74.45,8 - 28.64
0,PMD_Diff2,72.77,13.69,12.993198,0 - 0,13 - 72.77

Building models for Country:France and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.40,93.76,82.492687,0 - 0,14 - 29.4
0,HoltsTrend,42.47,116.80,106.957928,13 - 45.17,1 - 7.38
0,HWAdditive,26.28,82.76,72.797245,1 - 0.46,13 - 28.26
0,"ARIMA_(1, 1, 1)",22.96,76.10,65.122178,1 - 2.46,13 - 24.53
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",25.46,79.31,70.185111,1 - 3.73,13 - 27.13
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",30.63,92.82,83.899693,0 - 0,14 - 30.63
0,PMD_Diff1,24.58,81.83,68.602138,1 - 6.46,13 - 25.97
0,PMD_Diff2,34.62,109.96,96.390376,0 - 0,14 - 34.62

Building models for Country:France and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,19.93,23.63,16.888823,10 - 24.25,4 - 9.13
0,HoltsTrend,49.18,68.24,57.882150,1 - 23.5,13 - 51.16
0,HWAdditive,21.88,24.96,19.769272,10 - 26.81,4 - 9.56
0,"ARIMA_(1, 1, 1)",27.62,30.22,24.071898,13 - 29.3,1 - 5.78
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",18.07,23.71,17.582425,6 - 23.28,8 - 14.17
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",17.16,22.15,16.095032,7 - 21.96,7 - 12.35
0,PMD_Diff1,26.29,30.83,23.558407,12 - 27.85,2 - 16.99
0,PMD_Diff2,82.91,113.66,96.977314,0 - 0,14 - 82.91

Building models for Country:France and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,31.21,8.99,6.576092,5 - 23.67,9 - 35.4
0,HoltsTrend,47.85,8.10,6.901409,11 - 53.13,3 - 28.46
0,HWAdditive,36.21,7.51,6.396428,7 - 40.12,7 - 32.3
0,"ARIMA_(1, 1, 1)",32.53,7.87,6.038976,6 - 37.93,8 - 28.47
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",38.93,10.12,7.953288,4 - 30.29,10 - 42.38
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",33.82,8.54,6.754352,7 - 23.69,7 - 43.95
0,PMD_Diff1,66.34,14.79,12.532583,3 - 33.52,11 - 75.29
0,PMD_Diff2,81.29,17.46,15.080994,1 - 85.94,13 - 80.93

Building models for Country:France and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,214.25,5.28,4.647719,4 - 313.14,2 - 16.46
0,HoltsTrend,72.31,4.53,3.509054,1 - 190.56,5 - 48.66
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",393.47,10.14,8.242373,6 - 393.47,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",394.17,10.14,8.271328,6 - 394.17,0 - 0
0,PMD_Diff1,394.23,9.97,8.666667,6 - 394.23,0 - 0
0,PMD_Diff2,1442.22,45.23,40.333333,0 - 0,6 - 1442.22

Building models for Country:France and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,101.92,6.36,4.333333,3 - 162.24,3 - 41.6
0,HoltsTrend,405.48,16.04,14.707346,0 - 0,6 - 405.48
0,"ARIMA_(1, 1, 1)",93.39,6.61,4.383112,3 - 136.58,3 - 50.19
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",205.58,9.16,6.681489,1 - 9.13,5 - 244.86
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",164.19,8.89,6.267170,1 - 9.53,5 - 195.12
0,PMD_Diff1,131.69,6.48,4.830904,3 - 220.69,3 - 42.7
0,PMD_Diff2,146.86,7.44,6.171260,4 - 182.36,2 - 75.86

Building models for Country:France and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,67.79,25.02,21.102242,9 - 94.27,5 - 20.13
0,HoltsTrend,160.91,70.23,64.698901,0 - 0,14 - 160.91
0,HWAdditive,78.89,28.17,23.702603,10 - 101.99,4 - 21.13
0,"ARIMA_(1, 1, 1)",117.08,40.59,32.764768,13 - 125.28,1 - 10.5
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",38.22,22.24,16.836547,8 - 44.88,6 - 29.33
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",45.52,22.28,18.153552,8 - 57.6,6 - 29.41
0,PMD_Diff1,73.61,26.96,23.647987,6 - 141.48,8 - 22.7
0,PMD_Diff2,227.06,91.68,82.293713,0 - 0,14 - 227.06

Building models for Country:France and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (61,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,57.62,3.55,3.001117,1 - 290.78,12 - 38.19
0,HoltsTrend,184.56,9.85,9.391264,0 - 0,13 - 184.56
0,HWAdditive,61.27,3.00,2.390706,5 - 100.26,8 - 36.9
0,"ARIMA_(1, 1, 1)",62.08,2.99,2.522810,3 - 161.3,10 - 32.31
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",67.24,2.89,2.317555,4 - 157.3,9 - 27.21
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",67.38,2.89,2.247746,4 - 157.41,9 - 27.37
0,PMD_Diff1,56.36,3.24,2.653524,5 - 79.11,8 - 42.13
0,PMD_Diff2,267.74,12.92,11.946288,0 - 0,13 - 267.74

Building models for Country:France and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.31,16.75,14.706628,5 - 29.43,9 - 29.25
0,HoltsTrend,42.97,19.99,16.653633,12 - 49.2,2 - 5.62
0,HWAdditive,22.97,12.51,10.334552,6 - 30.82,8 - 17.08
0,"ARIMA_(1, 1, 1)",27.50,12.98,10.930046,8 - 39.28,6 - 11.79
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",37.58,24.09,20.096922,2 - 44.91,12 - 36.36
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",27.73,17.12,14.376511,4 - 28.2,10 - 27.55
0,PMD_Diff1,25.37,14.27,11.826451,6 - 28.9,8 - 22.72

Building models for Country:Norway and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (50,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.72,0.600000,5 - inf,5 - 43.56
0,HoltsTrend,inf,0.71,0.600154,5 - inf,5 - 42.81
0,HWAdditive,inf,1.10,0.888889,7 - inf,3 - 61.0
0,"ARIMA_(1, 1, 1)",inf,0.66,0.578467,5 - inf,5 - 35.64
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,2.09,1.532904,5 - inf,5 - 68.86
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.68,1.286713,3 - inf,7 - 69.65
0,PMD_Diff1,inf,2.65,1.505830,3 - inf,7 - 36.76

Building models for Country:Norway and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,83.79,8.57,6.736949,9 - 120.65,5 - 17.44
0,HoltsTrend,190.14,28.75,24.931186,0 - 0,14 - 190.14
0,HWAdditive,122.80,11.60,10.293714,13 - 129.42,1 - 36.76
0,"ARIMA_(1, 1, 1)",97.40,9.20,7.676374,12 - 108.39,2 - 31.44
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",156.17,14.56,13.316089,13 - 165.96,1 - 28.98
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",138.65,13.04,11.807269,13 - 146.97,1 - 30.56
0,PMD_Diff1,84.04,8.68,7.031437,10 - 108.77,4 - 22.21
0,PMD_Diff2,499.49,54.49,49.350751,14 - 499.49,0 - 0

Building models for Country:Norway and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,259.86,12.43,11.735819,14 - 259.86,0 - 0
0,HoltsTrend,184.37,7.95,6.762579,14 - 184.37,0 - 0
0,HWAdditive,241.35,13.04,12.211837,14 - 241.35,0 - 0
0,"ARIMA_(1, 1, 1)",278.47,13.97,13.197553,14 - 278.47,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",197.70,10.27,9.253457,14 - 197.7,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",188.51,9.47,8.544071,14 - 188.51,0 - 0
0,PMD_Diff1,247.97,13.38,12.607413,14 - 247.97,0 - 0
0,PMD_Diff2,107.02,6.32,5.493057,7 - 149.84,7 - 64.2

Building models for Country:Norway and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,124.05,2.75,2.284340,8 - 201.5,6 - 20.79
0,HoltsTrend,190.74,6.56,5.881639,0 - 0,14 - 190.74
0,HWAdditive,179.82,3.95,3.417411,12 - 204.26,2 - 33.18
0,"ARIMA_(1, 1, 1)",176.92,3.56,3.073488,11 - 219.24,3 - 21.74
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",446.51,10.15,9.214793,14 - 446.51,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",434.75,10.07,8.974241,14 - 434.75,0 - 0
0,PMD_Diff1,246.76,5.95,5.113064,12 - 284.21,2 - 22.04
0,PMD_Diff2,1355.72,33.83,29.921258,14 - 1355.72,0 - 0

Building models for Country:Norway and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (39,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.56,0.537971,5 - inf,3 - 34.81
0,HoltsTrend,inf,6.63,6.329306,0 - 0,8 - inf
0,HWAdditive,inf,0.90,0.696921,6 - inf,2 - 15.92
0,"ARIMA_(1, 1, 1)",inf,0.54,0.507531,5 - inf,3 - 45.96
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,0.92,0.754302,7 - inf,1 - 87.33
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,0.92,0.787426,7 - inf,1 - 88.34
0,PMD_Diff1,inf,0.97,0.792856,6 - inf,2 - 59.83
0,PMD_Diff2,inf,1.24,0.917836,7 - inf,1 - 23.4

Building models for Country:Norway and Component:Tscore
====================================================================================================
TS Data Set shape:  (61,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,2.09,1.584049,4 - inf,9 - 58.23
0,HoltsTrend,inf,9.14,8.240815,0 - 0,13 - inf
0,HWAdditive,inf,1.94,1.489720,5 - inf,8 - 49.78
0,"ARIMA_(1, 1, 1)",inf,1.95,1.465639,4 - inf,9 - 48.14
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.73,1.387126,9 - inf,4 - 32.97
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,1.69,1.327699,9 - inf,4 - 28.09
0,PMD_Diff1,inf,2.38,1.932208,6 - inf,7 - 51.65
0,PMD_Diff2,inf,3.31,2.882365,12 - inf,1 - 6.98

Building models for Country:Spain and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (59,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,80.04,4.94,3.912030,8 - 113.35,4 - 13.44
0,HoltsTrend,39.12,6.17,4.118198,3 - 18.37,9 - 46.04
0,HWAdditive,175.47,9.92,9.145312,11 - 189.94,1 - 16.26
0,"ARIMA_(1, 1, 1)",179.59,9.98,9.171075,11 - 195.07,1 - 9.28
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",296.63,17.28,16.049326,12 - 296.63,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",305.10,17.90,16.708151,12 - 305.1,0 - 0
0,PMD_Diff1,178.88,10.15,9.378325,11 - 193.83,1 - 14.43
0,PMD_Diff2,425.74,25.45,23.663142,12 - 425.74,0 - 0

Building models for Country:Spain and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,26.30,34.81,28.040391,1 - 22.76,13 - 26.57
0,HoltsTrend,131.32,137.59,128.651947,0 - 0,14 - 131.32
0,HWAdditive,16.12,23.40,16.488329,8 - 11.24,6 - 22.62
0,"ARIMA_(1, 1, 1)",21.12,29.19,22.381007,1 - 35.05,13 - 20.05
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",16.70,22.89,16.846218,8 - 12.77,6 - 21.94
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",16.18,24.83,17.062405,5 - 12.47,9 - 18.24
0,PMD_Diff1,18.97,29.28,20.288503,2 - 21.53,12 - 18.54
0,PMD_Diff2,49.42,62.01,51.742249,0 - 0,14 - 49.42

Building models for Country:Spain and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,38.61,53.07,45.519561,8 - 50.05,6 - 23.36
0,HoltsTrend,46.09,54.34,49.698348,10 - 55.92,4 - 21.52
0,HWAdditive,75.70,84.30,77.265663,13 - 80.13,1 - 18.05
0,"ARIMA_(1, 1, 1)",49.59,57.05,52.124260,10 - 62.44,4 - 17.46
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",69.38,79.34,72.241578,13 - 73.02,1 - 22.13
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",66.27,76.00,68.330924,13 - 69.45,1 - 24.96
0,PMD_Diff1,64.30,73.55,66.016930,11 - 79.01,3 - 10.33
0,PMD_Diff2,72.71,140.00,109.542846,3 - 34.64,11 - 83.1

Building models for Country:Spain and Component:Delivery
====================================================================================================
TS Data Set shape:  (64,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,1.58,1.317341,7 - inf,6 - 32.28
0,HoltsTrend,inf,7.40,6.858063,0 - 0,13 - inf
0,HWAdditive,inf,1.53,1.101935,7 - inf,6 - 16.48
0,"ARIMA_(1, 1, 1)",inf,1.60,1.262744,7 - inf,6 - 22.6
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,1.78,1.441942,5 - inf,8 - 40.66
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,2.40,1.807053,3 - inf,10 - 54.56
0,PMD_Diff1,inf,2.28,1.745696,13 - inf,0 - 0
0,PMD_Diff2,inf,2.48,2.239927,5 - 73.25,8 - inf

Building models for Country:Spain and Component:Enablements
====================================================================================================
TS Data Set shape:  (25,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,1.21,1.105239,2 - inf,3 - 42.69
0,HoltsTrend,inf,6.74,6.342162,0 - 0,5 - inf
0,"ARIMA_(1, 1, 1)",inf,1.11,0.914493,3 - inf,2 - 23.84
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,2.95,2.283316,3 - inf,2 - 62.51
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,2.92,2.268627,3 - inf,2 - 62.5
0,PMD_Diff1,inf,2.93,2.200000,3 - inf,2 - 58.33
0,PMD_Diff2,inf,2.72,2.219202,3 - inf,2 - 81.15

Building models for Country:Spain and Component:Matching
====================================================================================================
TS Data Set shape:  (25,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,1.88,1.455223,3 - inf,2 - 55.34
0,HoltsTrend,inf,6.95,6.356895,0 - 0,5 - inf
0,"ARIMA_(1, 1, 1)",inf,1.92,1.468547,3 - inf,2 - 60.03
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,4.19,3.370358,1 - inf,4 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,4.21,3.395101,1 - inf,4 - inf
0,PMD_Diff1,inf,3.77,3.000000,1 - inf,4 - inf
0,PMD_Diff2,inf,13.34,11.600000,0 - 0,5 - inf

Building models for Country:Spain and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,34.54,10.63,9.142857,7 - 46.11,7 - 22.96
0,HoltsTrend,49.11,18.84,16.160493,3 - 29.51,11 - 54.45
0,HWAdditive,30.23,11.95,9.274912,8 - 28.77,6 - 32.19
0,"ARIMA_(1, 1, 1)",37.78,10.57,9.355740,8 - 51.35,6 - 19.68
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",57.46,22.93,19.020876,2 - 21.14,12 - 63.52
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",48.57,19.01,15.715185,2 - 52.49,12 - 47.92
0,PMD_Diff1,121.98,42.46,37.864057,2 - 50.45,12 - 133.9
0,PMD_Diff2,47.81,14.44,11.599278,9 - 57.29,5 - 30.75

Building models for Country:Spain and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.72,0.571429,7 - inf,7 - 80.99
0,HoltsTrend,inf,15.63,14.720448,0 - 0,14 - inf
0,HWAdditive,inf,0.95,0.700883,3 - inf,11 - inf
0,"ARIMA_(1, 1, 1)",inf,0.77,0.585785,7 - inf,7 - 87.36
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,0.87,0.705208,5 - inf,9 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,0.74,0.578487,6 - inf,8 - inf
0,PMD_Diff1,inf,1.09,0.910824,2 - inf,12 - inf

Building models for Country:Spain and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (51,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,58.39,2.71,2.417814,3 - 78.72,8 - 50.77
0,HoltsTrend,59.90,2.61,2.356311,3 - 91.51,8 - 48.05
0,HWAdditive,77.64,2.74,2.330809,6 - 98.1,5 - 53.09
0,"ARIMA_(1, 1, 1)",67.84,2.16,1.988987,3 - 164.03,8 - 31.77
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",86.95,4.80,4.119036,1 - 41.57,10 - 91.48
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",75.90,4.57,3.795815,1 - 19.18,10 - 81.57
0,PMD_Diff1,208.22,8.11,7.623371,0 - 0,11 - 208.22
0,PMD_Diff2,208.23,8.11,7.621570,0 - 0,11 - 208.23

Building models for Country:Spain and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.17,3.96,3.232622,6 - 41.66,8 - 19.8
0,HoltsTrend,72.09,8.83,7.399123,14 - 72.09,0 - 0
0,HWAdditive,42.56,5.22,4.391849,11 - 49.41,3 - 17.44
0,"ARIMA_(1, 1, 1)",41.63,5.22,3.793625,11 - 51.31,3 - 6.14
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",29.87,4.23,3.717814,6 - 35.01,8 - 26.03
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",29.72,4.20,3.664189,6 - 35.72,8 - 25.21
0,PMD_Diff1,48.71,6.28,4.985205,10 - 63.32,4 - 12.19
0,PMD_Diff2,138.81,21.23,18.594859,0 - 0,14 - 138.81

Building models for Country:Sweden and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (52,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,45.33,2.44,1.749176,6 - 53.04,5 - 36.08
0,HoltsTrend,505.53,14.50,13.411324,11 - 505.53,0 - 0
0,HWAdditive,48.10,3.25,2.209226,2 - 61.7,9 - 45.07
0,"ARIMA_(1, 1, 1)",32.41,2.88,1.806259,5 - 7.7,6 - 53.0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",68.05,2.89,2.269186,7 - 82.59,4 - 42.61
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",53.92,2.96,2.144876,5 - 67.17,6 - 42.88
0,PMD_Diff1,57.10,2.81,2.128509,7 - 59.44,4 - 53.01
0,PMD_Diff2,102.81,4.42,3.358703,9 - 108.78,2 - 75.91

Building models for Country:Sweden and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,30.43,15.33,11.285714,7 - 40.1,7 - 20.76
0,HoltsTrend,62.74,21.46,19.193642,12 - 69.66,2 - 21.25
0,HWAdditive,37.24,15.38,12.620318,10 - 42.49,4 - 24.1
0,"ARIMA_(1, 1, 1)",41.72,15.67,13.317784,11 - 46.43,3 - 24.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",128.31,44.98,40.943457,14 - 128.31,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",120.57,42.43,38.470688,14 - 120.57,0 - 0
0,PMD_Diff1,37.17,15.70,12.628013,9 - 48.68,5 - 16.45
0,PMD_Diff2,325.57,126.49,112.863233,14 - 325.57,0 - 0

Building models for Country:Sweden and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,33.72,14.65,11.396492,3 - 91.58,11 - 17.94
0,HoltsTrend,37.35,16.67,14.056236,3 - 78.11,11 - 26.23
0,HWAdditive,37.78,14.61,11.192725,7 - 60.19,7 - 15.37
0,"ARIMA_(1, 1, 1)",36.35,13.56,10.487816,8 - 52.52,6 - 14.8
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",41.05,15.40,11.127287,7 - 69.63,7 - 12.47
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",41.68,15.76,11.298850,7 - 72.44,7 - 10.93
0,PMD_Diff1,39.86,15.13,11.421751,7 - 62.23,7 - 17.5
0,PMD_Diff2,48.42,21.44,19.012318,2 - 126.42,12 - 35.42

Building models for Country:Sweden and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,inf,0.95,0.830949,5 - inf,1 - 25.18
0,HoltsTrend,inf,13.89,13.501725,6 - inf,0 - 0
0,"ARIMA_(1, 1, 1)",inf,0.75,0.626993,5 - inf,1 - 37.35
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",inf,4.33,3.382354,1 - inf,5 - inf
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",inf,3.35,2.657211,2 - inf,4 - inf
0,PMD_Diff1,inf,3.24,2.170292,5 - inf,1 - 87.48
0,PMD_Diff2,inf,6.44,5.166667,6 - inf,0 - 0

Building models for Country:Sweden and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,85.54,3.21,2.466788,8 - 129.81,6 - 26.51
0,HoltsTrend,93.80,3.27,2.542009,8 - 148.46,6 - 20.91
0,HWAdditive,127.88,4.38,3.720093,11 - 157.39,3 - 19.65
0,"ARIMA_(1, 1, 1)",141.71,4.29,3.689305,12 - 161.54,2 - 22.76
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",152.13,5.15,4.532975,12 - 173.07,2 - 26.52
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",152.07,5.17,4.523583,12 - 173.01,2 - 26.42
0,PMD_Diff1,81.73,3.50,2.863234,10 - 98.59,4 - 39.6
0,PMD_Diff2,318.27,11.56,10.648852,13 - 338.07,1 - 60.97

Building models for Country:Sweden and Component:Tscore
====================================================================================================
TS Data Set shape:  (65,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,134.14,4.09,3.514007,8 - 202.0,5 - 25.56
0,HoltsTrend,111.51,6.80,5.676914,2 - 162.32,11 - 102.27
0,HWAdditive,201.01,5.74,5.057349,11 - 235.14,2 - 13.32
0,"ARIMA_(1, 1, 1)",163.13,4.65,4.009259,10 - 203.83,3 - 27.47
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",223.83,6.54,5.843115,12 - 240.67,1 - 21.79
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",288.43,8.65,7.773611,12 - 312.32,1 - 1.72
0,PMD_Diff1,169.95,5.06,4.392755,11 - 196.77,2 - 22.42
0,PMD_Diff2,294.34,9.58,8.464500,13 - 294.34,0 - 0

Wall time: 50min 19s

In [41]:
len(all_err_dfs), len(all_res_dfs), cons_err_df.shape, cons_res_df.shape

(43, 43, (8, 6), (13, 9))

In [42]:
%%time
#Forecasting with missng values linear interpolation
debug = False

all_res_intp_dfs = {}
all_err_intp_dfs = {}
i = 0
for row in cons_con_comp[['Country','Component']].itertuples():
    con, comp = row[1], row[2]
    print('Building models for Country:{} and Component:{}'.format(con, comp))
    print('='*100)
    ts_data = me_df[(me_df.Country==con)&(me_df.Component==comp)].groupby('Month')['Issues'].sum()
    
    #Index with all months from first to last
    idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
    #Reindex time series data to fill values with nan and use interpolation
    ts_data = ts_data.reindex(idx, fill_value=np.nan)
    #Interploate to impute
    ts_data = ts_data.interpolate()
    
    print('TS Data Set shape: ',ts_data.shape)

    #Initiate Consolidated Result and Error dataframes
    cons_err_df = pd.DataFrame()
    cons_res_df = pd.DataFrame()

    run_models(ts_data, bc=True)
    
    
    all_res_intp_dfs[(con, comp)] = cons_res_df
    all_err_intp_dfs[(con, comp)] = cons_err_df
    
    display(cons_err_df)
    if debug:
        display(cons_res_df)
        
    #For testing.Run only limited combos
#     i += 1
#     if i==1:
#         break
    
    print()

Building models for Country:Denmark and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (62,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,41.23,0.78,0.679042,4 - 83.45,9 - 22.47
0,HoltsTrend,40.99,0.77,0.652819,4 - 88.25,9 - 19.99
0,HWAdditive,52.06,1.04,0.775391,6 - 89.83,7 - 19.69
0,HWMult,54.49,1.12,0.871107,5 - 98.83,8 - 26.78
0,"ARIMA_(1, 1, 1)",40.79,0.74,0.612232,5 - 77.72,8 - 17.72
0,"ARIMA_BC_(1, 1, 1)",39.27,0.80,0.710039,4 - 64.84,9 - 27.9
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",40.30,0.84,0.725359,5 - 57.7,8 - 29.43
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",64.40,1.56,1.381342,1 - 61.56,12 - 64.63
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",65.43,1.58,1.397604,1 - 62.88,12 - 65.65
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",106.66,2.22,2.051224,1 - 145.17,12 - 103.45
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",115.14,2.34,2.184129,1 - 154.9,12 - 111.83
0,PMD_Diff1,62.45,1.39,0.981552,7 - 96.64,6 - 22.56
0,PMD_Diff2,261.54,5.15,4.704810,1 - 206.28,12 - 266.15
0,PMD_Diff1_BC,43.90,1.00,0.758417,6 - 62.02,7 - 28.38

Building models for Country:Denmark and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,57.91,14.68,12.260772,9 - 72.77,5 - 31.17
0,HoltsTrend,92.08,31.76,25.553342,0 - 0,14 - 92.08
0,HWAdditive,37.70,13.37,10.357144,5 - 53.29,9 - 29.04
0,HWMult,40.89,13.87,10.782286,5 - 58.15,9 - 31.31
0,"ARIMA_(1, 1, 1)",99.40,19.33,17.902362,11 - 118.8,3 - 28.25
0,"ARIMA_BC_(1, 1, 1)",49.21,14.70,11.511609,8 - 61.6,6 - 32.7
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",60.93,18.36,13.881940,6 - 100.97,8 - 30.91
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",134.92,39.51,26.765728,12 - 155.24,2 - 13.04
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",187.06,51.03,38.137613,13 - 199.79,1 - 21.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",155.17,33.10,28.672716,13 - 166.39,1 - 9.28
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",155.43,33.17,28.874605,13 - 166.14,1 - 16.23
0,PMD_Diff1,58.84,17.61,12.185418,9 - 76.7,5 - 26.7
0,PMD_Diff2,96.59,22.95,17.001475,12 - 107.41,2 - 31.7
0,PMD_Diff1_BC,105.45,29.12,19.341971,13 - 111.65,1 - 24.81

Building models for Country:Denmark and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,425.17,20.67,16.764658,13 - 457.39,1 - 6.31
0,HoltsTrend,258.55,13.01,10.184997,8 - 442.22,6 - 13.66
0,HWAdditive,448.75,21.73,17.005747,14 - 448.75,0 - 0
0,HWMult,496.58,27.02,23.161971,13 - 534.32,1 - 5.94
0,"ARIMA_(1, 1, 1)",565.26,27.83,23.318191,14 - 565.26,0 - 0
0,"ARIMA_BC_(1, 1, 1)",629.97,29.97,24.151706,14 - 629.97,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",623.18,30.35,21.563097,12 - 726.07,2 - 5.83
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",782.84,37.74,27.962680,13 - 842.82,1 - 3.16
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",768.55,37.06,27.250449,13 - 827.41,1 - 3.34
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",509.51,26.67,22.308492,13 - 548.22,1 - 6.33
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",509.91,26.19,22.229915,13 - 549.02,1 - 1.41
0,PMD_Diff1,459.73,23.73,19.872424,13 - 494.54,1 - 7.24
0,PMD_Diff2,84.15,12.82,11.240647,5 - 129.36,9 - 59.03
0,PMD_Diff1_BC,467.35,25.00,20.516730,12 - 543.06,2 - 13.12

Building models for Country:Denmark and Component:Delivery
====================================================================================================
TS Data Set shape:  (52,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,52.24,0.76,0.691828,8 - 62.86,3 - 23.91
0,HoltsTrend,55.29,0.79,0.714790,8 - 68.54,3 - 19.97
0,HWAdditive,72.66,1.13,0.941136,7 - 100.78,4 - 23.44
0,HWMult,91.63,2.14,1.713870,0 - 0,11 - 91.63
0,"ARIMA_(1, 1, 1)",45.77,0.70,0.640419,7 - 58.55,4 - 23.42
0,"ARIMA_BC_(1, 1, 1)",42.94,0.67,0.598934,7 - 54.99,4 - 21.84
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",73.07,1.16,0.852357,5 - 141.79,6 - 15.8
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",64.20,0.97,0.837974,4 - 128.58,7 - 27.41
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",61.40,0.91,0.793809,4 - 122.01,7 - 26.77
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",67.64,1.01,0.867686,4 - 137.26,7 - 27.86
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",65.38,0.96,0.833085,4 - 130.33,7 - 28.26
0,PMD_Diff1,69.19,1.09,0.785208,5 - 134.04,6 - 15.15
0,PMD_Diff2,244.36,3.98,3.502165,10 - 268.79,1 - 0.0
0,PMD_Diff1_BC,72.44,1.13,0.820660,5 - 138.18,6 - 17.65

Building models for Country:Denmark and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,136.63,3.76,2.998136,11 - 167.13,3 - 24.8
0,HoltsTrend,417.69,13.26,12.428976,0 - 0,14 - 417.69
0,HWAdditive,172.22,4.46,3.891281,12 - 195.33,2 - 33.58
0,HWMult,184.70,4.98,4.307252,10 - 249.49,4 - 22.72
0,"ARIMA_(1, 1, 1)",173.22,4.34,3.784203,12 - 197.43,2 - 27.96
0,"ARIMA_BC_(1, 1, 1)",183.33,4.68,4.086092,12 - 208.92,2 - 29.77
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",194.26,5.96,4.811972,13 - 203.77,1 - 70.62
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",318.24,9.90,8.202746,13 - 337.11,1 - 72.94
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",435.57,12.98,11.183551,13 - 464.28,1 - 62.37
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",232.28,6.30,5.438093,12 - 265.55,2 - 32.65
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",277.93,7.03,6.471897,13 - 294.95,1 - 56.65
0,PMD_Diff1,104.35,3.69,3.112369,8 - 127.16,6 - 73.94
0,PMD_Diff1_BC,109.64,4.38,3.309544,9 - 145.37,5 - 45.33

Building models for Country:Denmark and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (41,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,31.47,0.42,0.394354,6 - 34.67,3 - 25.05
0,HoltsTrend,29.69,0.41,0.380166,6 - 31.35,3 - 26.38
0,HWAdditive,52.20,1.03,0.703706,6 - 67.04,3 - 22.51
0,HWMult,87.38,1.50,1.087523,8 - 95.69,1 - 20.92
0,"ARIMA_(1, 1, 1)",34.51,0.66,0.523865,0 - 0,9 - 34.51
0,"ARIMA_BC_(1, 1, 1)",28.59,0.61,0.454119,0 - 0,9 - 28.59
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",44.34,0.69,0.613561,0 - 0,9 - 44.34
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",67.91,0.96,0.900519,0 - 0,9 - 67.91
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",63.41,0.95,0.843420,0 - 0,9 - 63.41
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",166.04,2.14,2.023533,0 - 0,9 - 166.04
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",111.44,1.58,1.464269,1 - 91.93,8 - 113.87
0,PMD_Diff1,181.46,2.35,2.207215,0 - 0,9 - 181.46
0,PMD_Diff2,175.27,2.28,2.131210,0 - 0,9 - 175.27
0,PMD_Diff1_BC,72.40,1.01,0.955024,0 - 0,9 - 72.4

Building models for Country:Denmark and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,54.89,2.98,2.306116,5 - 52.5,9 - 56.22
0,HoltsTrend,55.62,2.93,2.274972,5 - 57.54,9 - 54.55
0,HWAdditive,57.43,2.79,2.208382,5 - 68.83,9 - 51.1
0,HWMult,65.42,2.60,2.078245,5 - 111.02,9 - 40.09
0,"ARIMA_(1, 1, 1)",58.68,2.69,2.147359,5 - 78.53,9 - 47.66
0,"ARIMA_BC_(1, 1, 1)",55.83,2.83,2.206405,5 - 62.54,9 - 52.1
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",59.28,2.59,2.079855,5 - 85.45,9 - 44.74
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",66.44,2.67,2.173677,5 - 110.95,9 - 41.71
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",67.39,2.55,2.110826,5 - 115.24,9 - 40.81
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",79.92,2.37,1.920261,7 - 130.8,7 - 29.04
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",73.13,2.30,1.826872,5 - 160.49,9 - 24.6
0,PMD_Diff1,69.46,2.19,1.704553,8 - 95.59,6 - 34.63
0,PMD_Diff1_BC,57.14,2.66,2.063468,5 - 80.03,9 - 44.42

Building models for Country:Finland and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (52,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,36.63,0.65,0.521274,8 - 36.93,3 - 35.83
0,HoltsTrend,38.32,0.66,0.535886,8 - 39.54,3 - 35.05
0,HWAdditive,52.12,0.70,0.643886,8 - 61.8,3 - 26.31
0,HWMult,83.00,1.05,0.885489,10 - 90.1,1 - 11.98
0,"ARIMA_(1, 1, 1)",63.62,0.80,0.754962,9 - 70.5,2 - 32.63
0,"ARIMA_BC_(1, 1, 1)",68.53,0.85,0.802716,9 - 76.8,2 - 31.28
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",78.73,1.06,0.903326,9 - 88.91,2 - 32.92
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",111.38,1.53,1.228546,9 - 129.37,2 - 30.4
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",110.41,1.51,1.219028,9 - 128.15,2 - 30.55
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",82.27,1.08,0.945085,9 - 92.91,2 - 34.43
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",82.04,1.07,0.938701,9 - 92.91,2 - 33.12
0,PMD_Diff1,69.52,0.94,0.818182,8 - 86.46,3 - 24.34
0,PMD_Diff2,33.56,0.65,0.499726,8 - 31.84,3 - 38.16
0,PMD_Diff1_BC,81.64,1.14,0.939394,8 - 103.12,3 - 24.34

Building models for Country:Finland and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,58.81,6.84,5.072646,8 - 70.97,6 - 42.6
0,HoltsTrend,66.69,11.79,8.959660,1 - 52.22,13 - 67.81
0,HWAdditive,51.01,7.21,4.926346,4 - 98.09,10 - 32.18
0,HWMult,59.54,8.32,5.280338,5 - 95.67,9 - 39.46
0,"ARIMA_(1, 1, 1)",61.50,6.47,4.920694,8 - 80.2,6 - 36.56
0,"ARIMA_BC_(1, 1, 1)",47.80,7.71,5.295662,3 - 90.47,11 - 36.17
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",52.71,7.86,5.593243,5 - 66.05,9 - 45.3
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",291.07,27.12,21.853346,14 - 291.07,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",331.84,30.94,25.715950,13 - 357.23,1 - 1.78
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",117.21,7.89,7.261540,11 - 142.09,3 - 26.01
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",128.86,8.45,7.791184,11 - 158.88,3 - 18.81
0,PMD_Diff1,54.78,6.67,4.948224,6 - 86.13,8 - 31.27
0,PMD_Diff2,101.55,6.86,6.324479,11 - 122.25,3 - 25.64
0,PMD_Diff1_BC,46.22,7.39,5.379824,5 - 49.08,9 - 44.63

Building models for Country:Finland and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,62.70,10.26,7.585858,9 - 91.65,5 - 10.58
0,HoltsTrend,101.90,17.40,15.000728,14 - 101.9,0 - 0
0,HWAdditive,101.22,32.44,26.973432,3 - 57.73,11 - 113.08
0,HWMult,83.74,24.20,20.941003,3 - 83.84,11 - 83.72
0,"ARIMA_(1, 1, 1)",49.04,8.91,7.253941,6 - 86.79,8 - 20.74
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",100.84,18.74,13.850573,12 - 115.54,2 - 12.63
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",61.49,10.84,7.796907,7 - 104.15,7 - 18.83
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",93.82,18.72,15.050251,13 - 100.38,1 - 8.53
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",113.38,33.93,27.235859,2 - 159.83,12 - 105.63
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",107.87,31.36,24.960717,3 - 121.59,11 - 104.13
0,PMD_Diff1,80.14,14.20,10.804156,6 - 164.23,8 - 17.08
0,PMD_Diff2,118.40,35.13,27.769993,3 - 123.56,11 - 117.0
0,PMD_Diff1_BC,119.89,23.46,19.545346,14 - 119.89,0 - 0

Building models for Country:Finland and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,78.60,11.09,5.798501,6 - 118.24,8 - 48.87
0,HoltsTrend,274.98,21.30,17.950852,0 - 0,14 - 274.98
0,HWAdditive,104.19,10.86,5.597106,7 - 173.25,7 - 35.12
0,HWMult,849.33,78.00,43.207091,1 - 6444.88,13 - 418.9
0,"ARIMA_(1, 1, 1)",98.87,10.56,5.500435,7 - 164.26,7 - 33.47
0,"ARIMA_BC_(1, 1, 1)",76.46,11.19,5.859084,6 - 111.57,8 - 50.12
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",117.56,11.60,6.684605,9 - 151.48,5 - 56.48
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",242.31,18.56,12.995743,11 - 296.78,3 - 42.58
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",153.92,11.32,7.519721,10 - 200.05,4 - 38.57
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",213.26,12.10,8.512270,10 - 283.25,4 - 38.28
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",206.91,11.84,8.165054,10 - 273.19,4 - 41.2
0,PMD_Diff1,255.44,13.01,9.500000,11 - 310.93,3 - 51.95
0,PMD_Diff2,323.59,14.88,12.811058,12 - 370.63,2 - 41.37
0,PMD_Diff1_BC,166.20,13.95,9.610196,9 - 237.15,5 - 38.49

Building models for Country:Finland and Component:Tscore
====================================================================================================
TS Data Set shape:  (43,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,61.61,0.64,0.634310,8 - 67.27,1 - 16.37
0,HoltsTrend,65.92,0.69,0.676194,8 - 72.25,1 - 15.28
0,HWAdditive,72.79,0.77,0.745306,8 - 79.94,1 - 15.63
0,HWMult,71.79,0.77,0.733995,8 - 78.95,1 - 14.51
0,"ARIMA_(1, 1, 1)",77.28,0.81,0.780939,8 - 86.02,1 - 7.34
0,"ARIMA_BC_(1, 1, 1)",78.13,0.82,0.790288,8 - 86.88,1 - 8.13
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",101.74,1.16,1.023484,8 - 113.77,1 - 5.48
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",162.26,1.89,1.623704,9 - 162.26,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",143.94,1.54,1.450513,9 - 143.94,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",127.21,1.39,1.272667,9 - 127.21,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",126.89,1.35,1.276744,9 - 126.89,0 - 0
0,PMD_Diff1,110.08,1.20,1.102895,9 - 110.08,0 - 0
0,PMD_Diff2,73.95,0.93,0.739492,8 - 83.19,1 - 0.0
0,PMD_Diff1_BC,125.89,1.44,1.259676,9 - 125.89,0 - 0

Building models for Country:France and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (65,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,40.99,8.03,6.587428,3 - 84.73,10 - 27.87
0,HoltsTrend,41.48,7.83,6.112838,3 - 104.6,10 - 22.54
0,HWAdditive,47.01,8.57,6.845026,5 - 76.33,8 - 28.69
0,HWMult,46.27,9.51,7.646268,6 - 51.76,7 - 41.56
0,"ARIMA_(1, 1, 1)",45.04,8.90,6.665343,4 - 88.08,9 - 25.91
0,"ARIMA_BC_(1, 1, 1)",102.55,15.08,12.766333,8 - 147.67,5 - 30.36
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",101.52,15.89,13.355688,8 - 149.02,5 - 25.53
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",59.36,9.32,8.218146,7 - 89.06,6 - 24.7
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",37.21,7.42,6.137336,7 - 40.21,6 - 33.71
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",45.29,8.38,6.843798,6 - 59.98,7 - 32.7
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",41.31,8.90,7.350016,3 - 67.73,10 - 33.39
0,PMD_Diff1,46.64,8.44,6.861605,7 - 55.59,6 - 36.2
0,PMD_Diff2,55.67,11.41,10.633908,0 - 0,13 - 55.67
0,PMD_Diff1_BC,65.70,10.69,9.535741,8 - 83.73,5 - 36.85

Building models for Country:France and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.40,93.76,82.492687,0 - 0,14 - 29.4
0,HoltsTrend,42.47,116.80,106.957928,13 - 45.17,1 - 7.38
0,HWAdditive,26.28,82.76,72.797245,1 - 0.46,13 - 28.26
0,HWMult,28.37,88.58,77.807743,0 - 0,14 - 28.37
0,"ARIMA_(1, 1, 1)",22.96,76.10,65.122178,1 - 2.46,13 - 24.53
0,"ARIMA_BC_(1, 1, 1)",21.15,70.34,59.975548,1 - 5.95,13 - 22.32
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",26.67,82.72,72.468762,1 - 7.46,13 - 28.15
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",27.06,82.93,73.270222,1 - 7.06,13 - 28.6
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",32.78,98.03,89.005904,0 - 0,14 - 32.78
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",25.46,79.31,70.185111,1 - 3.73,13 - 27.13
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",30.63,92.82,83.899693,0 - 0,14 - 30.63
0,PMD_Diff1,24.58,81.83,68.602138,1 - 6.46,13 - 25.97
0,PMD_Diff2,34.62,109.96,96.390376,0 - 0,14 - 34.62
0,PMD_Diff1_BC,22.84,77.01,63.175510,2 - 4.95,12 - 25.82

Building models for Country:France and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,19.93,23.63,16.888823,10 - 24.25,4 - 9.13
0,HoltsTrend,49.18,68.24,57.882150,1 - 23.5,13 - 51.16
0,HWAdditive,21.88,24.96,19.769272,10 - 26.81,4 - 9.56
0,HWMult,27.12,29.64,25.242745,12 - 28.37,2 - 19.62
0,"ARIMA_(1, 1, 1)",27.62,30.22,24.071898,13 - 29.3,1 - 5.78
0,"ARIMA_BC_(1, 1, 1)",22.89,25.82,19.442609,13 - 23.83,1 - 10.72
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",26.22,30.18,24.502612,11 - 30.52,3 - 10.46
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",18.12,23.32,17.555515,6 - 25.08,8 - 12.89
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",18.51,22.97,17.765836,6 - 28.27,8 - 11.2
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",18.07,23.71,17.582425,6 - 23.28,8 - 14.17
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",17.16,22.15,16.095032,7 - 21.96,7 - 12.35
0,PMD_Diff1,26.29,30.83,23.558407,12 - 27.85,2 - 16.99
0,PMD_Diff2,82.91,113.66,96.977314,0 - 0,14 - 82.91
0,PMD_Diff1_BC,31.09,37.75,29.692813,10 - 37.89,4 - 14.08

Building models for Country:France and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,31.21,8.98,6.576068,5 - 23.67,9 - 35.4
0,HoltsTrend,47.84,8.10,6.900218,11 - 53.12,3 - 28.46
0,HWAdditive,36.51,7.54,6.432142,7 - 40.61,7 - 32.4
0,HWMult,35.66,10.84,7.995771,2 - 5.67,12 - 40.66
0,"ARIMA_(1, 1, 1)",32.54,7.87,6.039800,6 - 37.98,8 - 28.46
0,"ARIMA_BC_(1, 1, 1)",34.80,7.48,5.698543,9 - 38.07,5 - 28.92
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",36.52,6.78,5.923962,5 - 52.75,9 - 27.5
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",40.85,7.20,6.049358,5 - 75.21,9 - 21.76
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",38.56,7.86,6.601505,4 - 46.43,10 - 35.41
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",37.38,9.96,7.730960,4 - 30.15,10 - 40.27
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",34.07,8.68,6.838702,7 - 23.06,7 - 45.08
0,PMD_Diff1,61.51,14.03,11.832910,3 - 38.19,11 - 67.87
0,PMD_Diff2,63.89,14.68,12.334709,3 - 31.28,11 - 72.79
0,PMD_Diff1_BC,35.11,7.19,5.989250,4 - 48.21,10 - 29.88

Building models for Country:France and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,221.01,5.44,4.733744,4 - 324.43,2 - 14.18
0,HoltsTrend,72.65,4.36,3.320441,1 - 218.98,5 - 43.38
0,"ARIMA_(1, 1, 1)",300.65,7.53,6.461538,5 - 358.41,1 - 11.89
0,"ARIMA_BC_(1, 1, 1)",218.22,5.46,4.869601,4 - 318.4,2 - 17.85
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",79.79,3.11,2.352752,2 - 198.36,4 - 20.51
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",90.09,6.87,5.539987,0 - 0,6 - 90.09
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",90.10,6.87,5.541076,0 - 0,6 - 90.1
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",488.89,12.75,11.342351,6 - 488.89,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",471.60,12.32,10.934576,6 - 471.6,0 - 0
0,PMD_Diff1,300.78,7.55,6.388889,5 - 358.89,1 - 10.26
0,PMD_Diff2,1976.34,61.04,54.722222,0 - 0,6 - 1976.34
0,PMD_Diff1_BC,398.78,10.80,8.500000,6 - 398.78,0 - 0

Building models for Country:France and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,117.48,6.20,4.516394,4 - 147.4,2 - 57.65
0,HoltsTrend,385.53,15.48,14.094993,0 - 0,6 - 385.53
0,"ARIMA_(1, 1, 1)",109.30,6.38,4.427378,3 - 175.83,3 - 42.78
0,"ARIMA_BC_(1, 1, 1)",120.05,6.33,4.470170,3 - 199.67,3 - 40.44
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",107.89,5.96,3.547059,4 - 140.03,2 - 43.6
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",96.90,7.78,5.243362,1 - 310.18,5 - 54.24
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",68.85,7.68,5.006980,1 - 127.2,5 - 57.18
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",118.89,8.62,5.781994,2 - 10.6,4 - 173.03
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",125.57,8.63,5.848792,2 - 10.92,4 - 182.89
0,PMD_Diff1,134.09,6.54,4.923380,4 - 170.05,2 - 62.17
0,PMD_Diff2,95.09,7.51,5.072956,1 - 19.93,5 - 110.12
0,PMD_Diff1_BC,81.37,6.79,4.424242,1 - 263.64,5 - 44.92

Building models for Country:France and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,67.79,25.02,21.102242,9 - 94.27,5 - 20.13
0,HoltsTrend,160.91,70.23,64.698901,0 - 0,14 - 160.91
0,HWAdditive,78.89,28.17,23.702603,10 - 101.99,4 - 21.13
0,HWMult,127.34,45.85,38.829316,12 - 146.68,2 - 11.31
0,"ARIMA_(1, 1, 1)",117.08,40.59,32.764768,13 - 125.28,1 - 10.5
0,"ARIMA_BC_(1, 1, 1)",190.89,65.54,56.885150,14 - 190.89,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",185.95,65.56,57.651174,13 - 199.66,1 - 7.67
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",35.31,23.35,17.203135,5 - 52.06,9 - 26.01
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",40.12,23.29,18.257967,6 - 54.38,8 - 29.43
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",38.22,22.24,16.836547,8 - 44.88,6 - 29.33
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",45.52,22.28,18.153552,8 - 57.6,6 - 29.41
0,PMD_Diff1,73.61,26.96,23.647987,6 - 141.48,8 - 22.7
0,PMD_Diff2,227.06,91.68,82.293713,0 - 0,14 - 227.06
0,PMD_Diff1_BC,109.81,42.18,31.124655,12 - 127.77,2 - 2.07

Building models for Country:France and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (61,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,57.60,3.55,2.998980,1 - 291.03,12 - 38.15
0,HoltsTrend,64.86,2.82,2.281171,4 - 146.95,9 - 28.38
0,HWAdditive,58.48,3.37,2.816349,1 - 318.75,12 - 36.79
0,HWMult,52.54,4.00,2.437965,5 - 100.97,8 - 22.28
0,"ARIMA_(1, 1, 1)",59.85,3.37,2.874363,3 - 120.36,10 - 41.69
0,"ARIMA_BC_(1, 1, 1)",60.92,3.79,3.254270,1 - 284.85,12 - 42.26
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",54.86,3.59,2.954413,1 - 225.52,12 - 40.64
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",101.50,3.79,3.292699,9 - 133.58,4 - 29.32
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",98.00,3.36,2.749357,9 - 128.64,4 - 29.06
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",61.79,2.62,2.072865,4 - 152.06,9 - 21.67
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",62.43,2.62,2.007814,4 - 151.47,9 - 22.86
0,PMD_Diff1,52.39,3.68,3.001686,2 - 97.66,11 - 44.16
0,PMD_Diff2,65.30,2.84,2.261978,6 - 112.28,7 - 25.02
0,PMD_Diff1_BC,53.28,3.40,2.877865,4 - 80.92,9 - 41.0

Building models for Country:France and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.31,16.75,14.706628,5 - 29.43,9 - 29.25
0,HoltsTrend,42.97,19.99,16.653633,12 - 49.2,2 - 5.62
0,HWAdditive,22.97,12.51,10.334552,6 - 30.82,8 - 17.08
0,HWMult,25.68,13.76,11.020770,7 - 34.47,7 - 16.89
0,"ARIMA_(1, 1, 1)",27.50,12.98,10.930046,8 - 39.28,6 - 11.79
0,"ARIMA_BC_(1, 1, 1)",80.55,39.80,35.846593,14 - 80.55,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",25.69,14.90,11.127102,10 - 31.27,4 - 11.73
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",23.87,13.21,11.604383,7 - 25.49,7 - 22.25
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",23.46,12.63,11.391696,7 - 25.8,7 - 21.12
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",37.58,24.09,20.096922,2 - 44.91,12 - 36.36
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",27.73,17.12,14.376511,4 - 28.2,10 - 27.55
0,PMD_Diff1,25.37,14.27,11.826451,6 - 28.9,8 - 22.72
0,PMD_Diff1_BC,23.99,12.22,11.361227,7 - 28.96,7 - 19.01

Building models for Country:Norway and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (50,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,37.69,0.51,0.450000,5 - 62.36,5 - 13.02
0,HoltsTrend,38.77,0.53,0.447481,5 - 67.72,5 - 9.83
0,HWAdditive,72.29,1.16,1.020862,8 - 83.39,2 - 27.86
0,HWMult,110.62,1.98,1.599451,8 - 133.72,2 - 18.22
0,"ARIMA_(1, 1, 1)",51.22,0.73,0.565966,10 - 51.22,0 - 0
0,"ARIMA_BC_(1, 1, 1)",30.96,0.46,0.438945,4 - 44.95,6 - 21.63
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",78.59,1.88,1.276703,5 - 133.02,5 - 24.15
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",73.07,1.87,1.202523,7 - 87.44,3 - 39.53
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",28.17,0.64,0.478335,4 - 17.41,6 - 35.35
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",89.75,2.13,1.452771,7 - 113.66,3 - 33.96
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",46.61,1.13,0.799282,7 - 43.99,3 - 52.7
0,PMD_Diff1,146.42,3.51,2.321560,6 - 216.06,4 - 41.96
0,PMD_Diff2,86.32,1.62,1.396219,3 - 117.33,7 - 73.03
0,PMD_Diff1_BC,49.10,0.90,0.736911,6 - 64.83,4 - 25.51

Building models for Country:Norway and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,83.79,8.57,6.736949,9 - 120.65,5 - 17.44
0,HoltsTrend,190.14,28.75,24.931186,0 - 0,14 - 190.14
0,HWAdditive,122.80,11.60,10.293714,13 - 129.42,1 - 36.76
0,HWMult,114.05,12.40,10.669924,13 - 119.91,1 - 37.84
0,"ARIMA_(1, 1, 1)",97.40,9.20,7.676374,12 - 108.39,2 - 31.44
0,"ARIMA_BC_(1, 1, 1)",91.48,8.84,7.151536,12 - 101.27,2 - 32.75
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",82.09,9.37,7.174134,8 - 126.29,6 - 23.14
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",229.06,25.07,20.513080,13 - 244.53,1 - 27.89
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",160.76,17.57,14.755129,13 - 170.9,1 - 28.93
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",156.17,14.56,13.316089,13 - 165.96,1 - 28.98
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",138.65,13.04,11.807269,13 - 146.97,1 - 30.56
0,PMD_Diff1,84.04,8.68,7.031437,10 - 108.77,4 - 22.21
0,PMD_Diff2,499.49,54.49,49.350751,14 - 499.49,0 - 0
0,PMD_Diff1_BC,85.57,10.87,8.228866,8 - 119.1,6 - 40.86

Building models for Country:Norway and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,259.87,12.43,11.736289,14 - 259.87,0 - 0
0,HoltsTrend,292.21,14.50,13.861082,14 - 292.21,0 - 0
0,HWAdditive,248.78,13.16,12.329771,14 - 248.78,0 - 0
0,HWMult,221.70,12.09,11.046962,14 - 221.7,0 - 0
0,"ARIMA_(1, 1, 1)",276.48,13.85,13.063177,14 - 276.48,0 - 0
0,"ARIMA_BC_(1, 1, 1)",846.76,54.74,51.025627,14 - 846.76,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",811.10,60.10,54.564858,14 - 811.1,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",161.13,8.79,7.537987,13 - 171.46,1 - 26.86
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",173.54,9.53,8.388565,14 - 173.54,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",175.15,8.90,7.687735,13 - 188.35,1 - 3.52
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",168.37,8.26,6.993599,14 - 168.37,0 - 0
0,PMD_Diff1,237.78,12.53,11.658143,14 - 237.78,0 - 0
0,PMD_Diff2,107.39,7.54,5.975301,6 - 152.48,8 - 73.56
0,PMD_Diff1_BC,219.38,13.28,11.523634,11 - 275.95,3 - 11.96

Building models for Country:Norway and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,124.36,2.75,2.286243,10 - 161.73,4 - 30.94
0,HoltsTrend,232.96,4.70,4.086793,11 - 292.77,3 - 13.63
0,HWAdditive,174.71,3.86,3.283266,12 - 198.12,2 - 34.24
0,HWMult,209.98,6.03,4.618977,12 - 239.44,2 - 33.19
0,"ARIMA_(1, 1, 1)",169.04,3.41,2.918419,11 - 209.24,3 - 21.64
0,"ARIMA_BC_(1, 1, 1)",141.05,3.02,2.504596,10 - 187.16,4 - 25.78
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",155.40,4.11,3.340310,12 - 174.87,2 - 38.6
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",1244.41,38.67,29.008302,14 - 1244.41,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",988.54,27.17,22.065724,14 - 988.54,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",463.54,10.64,9.704599,14 - 463.54,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",452.21,10.54,9.459044,14 - 452.21,0 - 0
0,PMD_Diff1,276.32,8.00,6.594454,13 - 293.4,1 - 54.25
0,PMD_Diff2,1432.82,35.76,31.709510,14 - 1432.82,0 - 0
0,PMD_Diff1_BC,352.40,10.41,9.151610,13 - 377.09,1 - 31.43

Building models for Country:Norway and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (39,)
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,8.49,0.08,0.084935,8 - 8.49,0 - 0
0,HoltsTrend,9.40,0.09,0.094005,8 - 9.4,0 - 0
0,HWAdditive,14.59,0.22,0.145888,8 - 14.59,0 - 0
0,HWMult,15.25,0.24,0.152507,8 - 15.25,0 - 0
0,"ARIMA_BC_(1, 1, 1)",2.90,0.03,0.028970,8 - 2.9,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",28.22,0.46,0.282193,8 - 28.22,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",28.78,0.39,0.287791,8 - 28.78,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",29.20,0.40,0.292037,8 - 29.2,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",25.00,0.43,0.249999,4 - 50.0,4 - 0.0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",25.00,0.43,0.250006,6 - 33.33,2 - 0.0
0,PMD_Diff1,32.65,0.49,0.326454,8 - 32.65,0 - 0
0,PMD_Diff2,25.00,0.43,0.250000,3 - 66.67,5 - 0.0
0,PMD_Diff1_BC,27.92,0.46,0.279188,8 - 27.92,0 - 0

Building models for Country:Norway and Component:Tscore
====================================================================================================
TS Data Set shape:  (61,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,39.00,1.82,1.211909,1 - 43.14,12 - 38.66
0,HoltsTrend,346.02,8.98,8.300354,0 - 0,13 - 346.02
0,HWAdditive,42.82,1.67,1.019288,4 - 82.85,9 - 25.03
0,HWMult,50.69,1.82,1.213245,4 - 88.0,9 - 34.1
0,"ARIMA_(1, 1, 1)",29.35,1.49,0.842868,8 - 24.29,5 - 37.43
0,"ARIMA_BC_(1, 1, 1)",39.74,1.88,1.247829,1 - 37.91,12 - 39.89
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",49.71,1.95,1.374445,3 - 50.97,10 - 49.33
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",67.90,2.01,1.352034,4 - 162.6,9 - 25.82
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",50.49,1.62,0.966333,7 - 80.76,6 - 15.18
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",43.11,1.51,0.920860,10 - 48.88,3 - 23.88
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",43.27,1.47,0.888011,11 - 45.47,2 - 31.17
0,PMD_Diff1,46.83,1.94,1.252030,8 - 45.41,5 - 49.1
0,PMD_Diff2,149.09,3.43,3.066934,12 - 161.23,1 - 3.34
0,PMD_Diff1_BC,74.89,2.15,1.622445,3 - 193.82,10 - 39.21

Building models for Country:Spain and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (59,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,80.05,4.94,3.912109,8 - 113.35,4 - 13.44
0,HoltsTrend,90.47,5.31,4.364666,10 - 104.29,2 - 21.4
0,HWAdditive,171.73,9.68,8.919109,11 - 186.12,1 - 13.5
0,HWMult,57.16,4.77,3.323054,6 - 90.73,6 - 23.58
0,"ARIMA_(1, 1, 1)",176.58,9.80,9.004901,11 - 191.7,1 - 10.33
0,"ARIMA_BC_(1, 1, 1)",277.48,15.96,14.540839,12 - 277.48,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",507.87,32.53,29.329139,12 - 507.87,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",1560.12,109.03,89.331789,12 - 1560.12,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",1924.61,143.28,113.918962,12 - 1924.61,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",327.13,19.43,18.171244,12 - 327.13,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",319.12,18.88,17.638769,12 - 319.12,0 - 0
0,PMD_Diff1,193.85,11.17,10.228630,11 - 211.04,1 - 4.81
0,PMD_Diff2,545.66,33.20,30.810666,12 - 545.66,0 - 0
0,PMD_Diff1_BC,472.01,30.77,28.158626,12 - 472.01,0 - 0

Building models for Country:Spain and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,26.30,34.81,28.040391,1 - 22.76,13 - 26.57
0,HoltsTrend,131.32,137.59,128.651947,0 - 0,14 - 131.32
0,HWAdditive,16.12,23.40,16.488329,8 - 11.24,6 - 22.62
0,HWMult,19.22,27.39,19.752523,8 - 13.55,6 - 26.77
0,"ARIMA_(1, 1, 1)",21.12,29.19,22.381007,1 - 35.05,13 - 20.05
0,"ARIMA_BC_(1, 1, 1)",15.22,22.74,15.493115,4 - 19.23,10 - 13.62
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",23.79,25.29,22.489599,9 - 26.85,5 - 18.27
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",34.13,37.67,30.232365,9 - 49.18,5 - 7.03
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",20.81,24.44,20.421397,8 - 20.96,6 - 20.61
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",16.70,22.89,16.846218,8 - 12.77,6 - 21.94
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",16.18,24.83,17.062405,5 - 12.47,9 - 18.24
0,PMD_Diff1,18.97,29.28,20.288503,2 - 21.53,12 - 18.54
0,PMD_Diff2,49.42,62.01,51.742249,0 - 0,14 - 49.42
0,PMD_Diff1_BC,32.38,32.77,29.580714,8 - 41.7,6 - 19.96

Building models for Country:Spain and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,38.61,53.07,45.519561,8 - 50.05,6 - 23.36
0,HoltsTrend,46.09,54.34,49.698348,10 - 55.92,4 - 21.52
0,HWAdditive,75.70,84.30,77.265663,13 - 80.13,1 - 18.05
0,HWMult,71.03,84.02,72.931732,12 - 80.7,2 - 12.99
0,"ARIMA_(1, 1, 1)",49.59,57.05,52.124260,10 - 62.44,4 - 17.46
0,"ARIMA_BC_(1, 1, 1)",62.04,72.18,65.587396,13 - 64.94,1 - 24.32
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",100.97,117.75,103.655465,13 - 108.57,1 - 2.12
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",140.15,176.39,158.628186,14 - 140.15,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",124.06,154.83,138.520376,14 - 124.06,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",69.38,79.34,72.241578,13 - 73.02,1 - 22.13
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",66.27,76.00,68.330924,13 - 69.45,1 - 24.96
0,PMD_Diff1,64.30,73.55,66.016930,11 - 79.01,3 - 10.33
0,PMD_Diff2,72.71,140.00,109.542846,3 - 34.64,11 - 83.1
0,PMD_Diff1_BC,134.91,161.11,150.174649,14 - 134.91,0 - 0

Building models for Country:Spain and Component:Delivery
====================================================================================================
TS Data Set shape:  (64,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,43.76,1.42,1.221114,6 - 56.28,7 - 33.02
0,HoltsTrend,44.64,1.37,1.193169,6 - 61.58,7 - 30.12
0,HWAdditive,42.25,1.17,0.895676,8 - 54.83,5 - 22.11
0,HWMult,41.96,1.49,1.265282,3 - 79.22,10 - 30.78
0,"ARIMA_(1, 1, 1)",44.30,1.31,1.103582,5 - 79.37,8 - 22.39
0,"ARIMA_BC_(1, 1, 1)",42.61,1.30,1.067542,6 - 62.35,7 - 25.69
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",61.32,1.76,1.483443,8 - 75.3,5 - 38.94
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",84.93,2.38,2.070465,8 - 115.87,5 - 35.42
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",73.23,2.19,1.861640,8 - 90.85,5 - 45.04
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",48.03,2.23,1.744337,3 - 47.59,10 - 48.16
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",51.29,2.66,2.052382,2 - 22.95,11 - 56.45
0,PMD_Diff1,70.63,1.91,1.424123,12 - 75.6,1 - 10.94
0,PMD_Diff2,454.58,14.93,13.083387,13 - 454.58,0 - 0
0,PMD_Diff1_BC,54.75,1.84,1.416175,8 - 57.22,5 - 50.79

Building models for Country:Spain and Component:Enablements
====================================================================================================
TS Data Set shape:  (25,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,36.52,0.92,0.769550,2 - 37.69,3 - 35.75
0,HoltsTrend,154.26,2.65,2.639603,5 - 154.26,0 - 0
0,"ARIMA_(1, 1, 1)",37.18,0.68,0.632600,3 - 45.03,2 - 25.4
0,"ARIMA_BC_(1, 1, 1)",31.60,0.96,0.754729,1 - 34.96,4 - 30.76
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",112.13,3.97,2.628456,2 - 211.7,3 - 45.76
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",64.62,1.57,1.377217,1 - 53.45,4 - 67.42
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",64.51,1.56,1.373624,1 - 53.64,4 - 67.23
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",92.01,3.58,2.091431,4 - 108.36,1 - 26.59
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",86.54,3.44,1.995975,3 - 133.43,2 - 16.21
0,PMD_Diff1,90.00,2.91,2.100000,2 - 150.0,3 - 50.0
0,PMD_Diff2,90.00,2.91,2.100000,2 - 150.0,3 - 50.0
0,PMD_Diff1_BC,90.00,2.91,2.100000,2 - 150.0,3 - 50.0

Building models for Country:Spain and Component:Matching
====================================================================================================
TS Data Set shape:  (25,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,60.27,1.57,1.148999,3 - 74.5,2 - 38.93
0,HoltsTrend,591.37,8.04,7.895286,5 - 591.37,0 - 0
0,"ARIMA_(1, 1, 1)",28.22,1.75,0.972375,3 - 8.51,2 - 57.78
0,"ARIMA_BC_(1, 1, 1)",27.04,1.75,0.961047,3 - 6.63,2 - 57.66
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",27.85,1.57,0.930387,2 - 34.67,3 - 23.3
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",53.55,2.18,1.426278,0 - 0,5 - 53.55
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",50.52,2.13,1.373166,0 - 0,5 - 50.52
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",54.76,1.37,1.105673,4 - 56.32,1 - 48.48
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",54.84,1.38,1.107772,4 - 56.42,1 - 48.51
0,PMD_Diff1,38.00,1.56,0.946340,3 - 39.21,2 - 36.17
0,PMD_Diff2,54.00,2.02,1.300000,1 - 0.0,4 - 67.5
0,PMD_Diff1_BC,35.33,1.89,1.100000,1 - 0.0,4 - 44.17

Building models for Country:Spain and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,34.54,10.63,9.142857,7 - 46.11,7 - 22.96
0,HoltsTrend,49.11,18.84,16.160493,3 - 29.51,11 - 54.45
0,HWAdditive,30.23,11.95,9.274912,8 - 28.77,6 - 32.19
0,HWMult,30.52,11.91,9.432107,8 - 27.42,6 - 34.65
0,"ARIMA_(1, 1, 1)",37.78,10.57,9.355740,8 - 51.35,6 - 19.68
0,"ARIMA_BC_(1, 1, 1)",33.16,10.66,9.179764,7 - 41.1,7 - 25.22
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",25.32,12.91,9.064489,4 - 19.18,10 - 27.78
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",45.77,19.04,15.714305,2 - 11.99,12 - 51.4
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",40.84,16.72,13.717290,2 - 36.8,12 - 41.51
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",57.46,22.93,19.020876,2 - 21.14,12 - 63.52
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",48.57,19.01,15.715185,2 - 52.49,12 - 47.92
0,PMD_Diff1,121.98,42.46,37.864057,2 - 50.45,12 - 133.9
0,PMD_Diff2,47.81,14.44,11.599278,9 - 57.29,5 - 30.75
0,PMD_Diff1_BC,24.50,11.97,8.491650,6 - 18.98,8 - 28.65

Building models for Country:Spain and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,10.19,0.26,0.134936,13 - 7.41,1 - 46.3
0,HoltsTrend,172.79,2.01,1.858713,0 - 0,14 - 172.79
0,HWAdditive,15.00,0.37,0.196018,3 - 11.45,11 - 15.97
0,HWMult,12.18,0.34,0.164593,2 - 10.4,12 - 12.48
0,"ARIMA_(1, 1, 1)",12.68,0.33,0.169097,0 - 0,14 - 12.68
0,"ARIMA_BC_(1, 1, 1)",9.39,0.31,0.133885,0 - 0,14 - 9.39
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",12.58,0.35,0.166530,5 - 15.83,9 - 10.78
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",13.32,0.35,0.171037,8 - 15.41,6 - 10.53
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",16.07,0.35,0.202336,2 - 26.92,12 - 14.26
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",15.18,0.36,0.190122,8 - 18.16,6 - 11.21
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",19.78,0.39,0.242902,2 - 26.59,12 - 18.64
0,PMD_Diff1,14.29,0.40,0.178571,2 - 75.0,12 - 4.17
0,PMD_Diff2,14.29,0.40,0.178571,3 - 50.0,11 - 4.55
0,PMD_Diff1_BC,14.29,0.40,0.178571,9 - 16.67,5 - 10.0

Building models for Country:Spain and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (51,)
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,60.37,2.45,2.231452,3 - 106.05,8 - 43.24
0,HoltsTrend,62.12,2.35,2.156780,3 - 121.21,8 - 39.96
0,HWAdditive,77.04,2.38,2.076256,5 - 132.36,6 - 30.93
0,HWMult,91.15,3.03,2.630235,6 - 136.74,5 - 36.44
0,"ARIMA_(1, 1, 1)",70.72,1.99,1.738142,4 - 151.7,7 - 24.44
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",77.90,2.59,2.231195,5 - 123.09,6 - 40.25
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",60.03,3.83,3.150633,1 - 6.51,10 - 65.38
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",72.50,4.16,3.624879,0 - 0,11 - 72.5
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",81.10,4.50,3.754492,0 - 0,11 - 81.1
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",82.19,4.53,3.796321,0 - 0,11 - 82.19
0,PMD_Diff1,53.86,3.53,2.771060,3 - 31.3,8 - 62.32
0,PMD_Diff2,190.17,7.54,6.740063,0 - 0,11 - 190.17
0,PMD_Diff1_BC,90.64,3.16,2.930930,5 - 144.9,6 - 45.41

Building models for Country:Spain and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,29.17,3.96,3.232560,6 - 41.67,8 - 19.8
0,HoltsTrend,71.97,8.82,7.384173,14 - 71.97,0 - 0
0,HWAdditive,41.16,5.12,4.241651,11 - 47.39,3 - 18.28
0,HWMult,42.88,5.90,4.632776,9 - 57.18,5 - 17.13
0,"ARIMA_(1, 1, 1)",39.39,4.94,3.575691,10 - 52.58,4 - 6.41
0,"ARIMA_BC_(1, 1, 1)",70.32,9.08,7.184388,13 - 75.71,1 - 0.31
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",64.19,8.99,7.429360,11 - 75.77,3 - 21.72
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",34.60,6.27,5.322246,3 - 14.78,11 - 40.01
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",34.50,6.35,5.335324,3 - 13.19,11 - 40.31
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",29.08,4.50,3.806345,5 - 34.02,9 - 26.33
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",29.01,4.49,3.792490,6 - 28.41,8 - 29.47
0,PMD_Diff1,51.80,6.62,5.385119,10 - 66.8,4 - 14.28
0,PMD_Diff2,103.81,16.24,14.360938,2 - 48.02,12 - 113.11
0,PMD_Diff1_BC,42.29,7.70,6.594354,1 - 3.38,13 - 45.28

Building models for Country:Sweden and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (52,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,46.17,2.43,1.753709,6 - 55.4,5 - 35.1
0,HoltsTrend,507.24,14.55,13.460678,11 - 507.24,0 - 0
0,HWAdditive,44.94,2.78,2.012047,2 - 52.33,9 - 43.3
0,HWMult,39.75,2.70,1.872328,2 - 49.69,9 - 37.55
0,"ARIMA_(1, 1, 1)",33.50,2.80,1.788884,5 - 13.22,6 - 50.41
0,"ARIMA_BC_(1, 1, 1)",34.49,3.04,1.928421,0 - 0,11 - 34.49
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",36.78,2.76,1.852361,1 - 33.9,10 - 37.07
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",38.11,2.68,1.858583,5 - 21.46,6 - 51.98
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",40.94,2.87,2.000960,3 - 14.16,8 - 50.98
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",50.68,2.73,2.029222,6 - 51.6,5 - 49.58
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",50.55,2.87,2.112185,4 - 60.16,7 - 45.06
0,PMD_Diff1,52.60,2.52,1.940394,7 - 54.02,4 - 50.1
0,PMD_Diff2,163.79,4.80,4.415767,9 - 192.47,2 - 34.74
0,PMD_Diff1_BC,38.57,2.59,1.812294,5 - 24.38,6 - 50.39

Building models for Country:Sweden and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,30.43,15.33,11.285714,7 - 40.1,7 - 20.76
0,HoltsTrend,62.74,21.46,19.193642,12 - 69.66,2 - 21.25
0,HWAdditive,37.24,15.38,12.620318,10 - 42.49,4 - 24.1
0,HWMult,41.55,18.93,15.185029,8 - 55.53,6 - 22.92
0,"ARIMA_(1, 1, 1)",41.72,15.67,13.317784,11 - 46.43,3 - 24.45
0,"ARIMA_BC_(1, 1, 1)",52.00,18.27,16.102965,11 - 61.32,3 - 17.81
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",49.03,20.34,15.275368,9 - 69.92,5 - 11.42
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",250.88,105.30,86.421097,14 - 250.88,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",199.64,83.89,68.679348,14 - 199.64,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",128.31,44.98,40.943457,14 - 128.31,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",120.57,42.43,38.470688,14 - 120.57,0 - 0
0,PMD_Diff1,37.17,15.70,12.628013,9 - 48.68,5 - 16.45
0,PMD_Diff2,325.57,126.49,112.863233,14 - 325.57,0 - 0
0,PMD_Diff1_BC,53.31,21.31,18.509424,8 - 75.57,6 - 23.63

Building models for Country:Sweden and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,33.72,14.65,11.396492,3 - 91.58,11 - 17.94
0,HoltsTrend,37.35,16.67,14.056236,3 - 78.11,11 - 26.23
0,HWAdditive,37.78,14.61,11.192725,7 - 60.19,7 - 15.37
0,HWMult,41.41,16.38,12.334306,6 - 70.48,8 - 19.61
0,"ARIMA_(1, 1, 1)",36.35,13.56,10.487816,8 - 52.52,6 - 14.8
0,"ARIMA_BC_(1, 1, 1)",58.49,22.29,18.169534,11 - 72.37,3 - 7.6
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",79.13,36.17,26.132692,12 - 91.05,2 - 7.63
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",185.26,93.54,72.094652,14 - 185.26,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",165.05,81.98,63.089516,14 - 165.05,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",41.05,15.40,11.127287,7 - 69.63,7 - 12.47
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",41.68,15.76,11.298850,7 - 72.44,7 - 10.93
0,PMD_Diff1,39.86,15.13,11.421751,7 - 62.23,7 - 17.5
0,PMD_Diff2,48.42,21.44,19.012318,2 - 126.42,12 - 35.42
0,PMD_Diff1_BC,1088.85,765.03,486.567226,14 - 1088.85,0 - 0

Building models for Country:Sweden and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
Results Dataframe is empty

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,79.83,0.87,0.802198,5 - 95.33,1 - 2.34
0,HoltsTrend,1279.51,13.99,13.653842,6 - 1279.51,0 - 0
0,"ARIMA_(1, 1, 1)",48.42,0.52,0.511978,5 - 54.76,1 - 16.69
0,"ARIMA_BC_(1, 1, 1)",14.64,0.38,0.221412,3 - 12.71,3 - 16.56
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",117.69,1.58,1.262247,5 - 130.99,1 - 51.19
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",220.01,2.74,2.298869,5 - 252.17,1 - 59.24
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",173.72,2.26,1.826028,5 - 197.8,1 - 53.3
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",181.13,2.24,1.986352,5 - 196.34,1 - 105.04
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",138.80,1.96,1.539080,5 - 148.42,1 - 90.68
0,PMD_Diff1,176.89,2.86,1.843031,5 - 203.37,1 - 44.49
0,PMD_Diff2,156.47,2.24,1.703153,2 - 280.21,4 - 94.61
0,PMD_Diff1_BC,197.01,3.23,2.045775,5 - 227.34,1 - 45.39

Building models for Country:Sweden and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,85.54,3.21,2.466801,8 - 129.81,6 - 26.51
0,HoltsTrend,93.75,3.27,2.541615,8 - 148.37,6 - 20.94
0,HWAdditive,126.51,4.34,3.696992,11 - 155.27,3 - 21.08
0,HWMult,116.20,5.22,4.156333,9 - 162.64,5 - 32.62
0,"ARIMA_(1, 1, 1)",140.19,4.25,3.644491,12 - 159.67,2 - 23.35
0,"ARIMA_BC_(1, 1, 1)",143.95,4.39,3.733644,12 - 164.16,2 - 22.68
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",121.43,4.78,4.005367,11 - 149.07,3 - 20.06
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",96.58,3.97,3.296117,11 - 112.62,3 - 37.77
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",97.23,4.02,3.284887,11 - 113.59,3 - 37.22
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",149.89,5.09,4.458966,12 - 170.25,2 - 27.75
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",149.75,5.09,4.452288,12 - 170.08,2 - 27.75
0,PMD_Diff1,77.79,3.48,2.775361,10 - 91.97,4 - 42.35
0,PMD_Diff2,315.70,11.43,10.541629,13 - 335.3,1 - 60.99
0,PMD_Diff1_BC,59.94,3.76,2.795934,6 - 84.45,8 - 41.56

Building models for Country:Sweden and Component:Tscore
====================================================================================================
TS Data Set shape:  (65,)

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,136.87,4.13,3.542922,8 - 207.24,5 - 24.27
0,HoltsTrend,146.37,4.31,3.647267,8 - 225.83,5 - 19.24
0,HWAdditive,202.86,5.88,5.191063,11 - 236.63,2 - 17.12
0,HWMult,135.06,4.53,3.891559,10 - 168.77,3 - 22.7
0,"ARIMA_(1, 1, 1)",161.08,4.60,3.964751,9 - 223.27,4 - 21.16
0,"ARIMA_BC_(1, 1, 1)",253.39,7.50,6.395330,12 - 273.49,1 - 12.17
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",214.50,6.91,6.126581,12 - 228.81,1 - 42.73
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",196.36,5.99,5.341595,11 - 228.02,2 - 22.22
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",206.07,6.25,5.645668,12 - 220.03,1 - 38.6
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",250.58,7.40,6.614029,12 - 269.98,1 - 17.73
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",256.56,7.59,6.788337,12 - 276.67,1 - 15.24
0,PMD_Diff1,176.20,5.25,4.607616,11 - 202.26,2 - 32.88
0,PMD_Diff2,562.31,20.00,18.031956,13 - 562.31,0 - 0
0,PMD_Diff1_BC,652.38,29.72,23.179301,13 - 652.38,0 - 0

Wall time: 50min 3s

In [43]:
end = time.ctime()
begin, end

('Tue Aug 10 14:02:43 2021', 'Tue Aug 10 15:43:37 2021')