# Issue Valume Predictions for Comparable Markets

This notebook tries to build models and forecast issue volumes for all components in TQ,AQ and TS for 6 countries recognized as comparable markets

In [1]:
import time
begin = time.ctime()
begin

'Fri Mar 25 03:29:10 2022'

In [4]:
import numpy as np
import pandas as pd
pd.set_option('max.rows',100)

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from datetime import datetime

#sklearn
from sklearn.metrics import mean_squared_error

#Time Series
from pylab import rcParams
import statsmodels.api as sm

from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss

from scipy.stats import boxcox

from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf

from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.holtwinters import ExponentialSmoothing
#Params used

ip_path ='./Input/'
op_path ='./Output/'

rcParams['figure.figsize'] = 12, 8


#We have data from Sept 2015, Total months = 69
#Train data length
train_len = 64
#Data to be forecasted or test data length
fc_mths = 5

#Starting month
start_mth = 4 #4-starts from JaN 2016, 28 - starts from Jan 2018

exclude_mons = [] #['01-09-2015','01-10-2015']
exclude_mon_nums=[] #[20150901,20151001]

#Create an empty data frame with our date range with values filled as nan
start = pd.datetime(2015,9,1) #Date from which we have data
end = pd.datetime(2021,5,1) #Current Month  
index = pd.date_range(start, end,freq='MS')

# Create an empty data frame with our date range with values filled as nan
empty_ts = pd.DataFrame(index=index)
empty_ts['Issues'] = np.nan
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX

from pmdarima.arima import auto_arima

In [5]:
#Params used

ip_path ='./Input/'
op_path ='./Output/'

rcParams['figure.figsize'] = 12, 8


#We have data from Sept 2015, Total months = 69
#Train data length
train_len = 64
#Data to be forecasted or test data length
fc_mths = 5

#Starting month
start_mth = 4 #4-starts from JaN 2016, 28 - starts from Jan 2018

exclude_mons = [] #['01-09-2015','01-10-2015']
exclude_mon_nums=[] #[20150901,20151001]

#Create an empty data frame with our date range with values filled as nan
start = pd.datetime(2015,9,1) #Date from which we have data
end = pd.datetime(2021,5,1) #Current Month  
index = pd.date_range(start, end,freq='MS')

# Create an empty data frame with our date range with values filled as nan
empty_ts = pd.DataFrame(index=index)
empty_ts['Issues'] = np.nan

In [6]:
# Function to Print null counts with counts greater than threshold.
#If threshold is not specified, pritns all null counts
def get_null_cnts(df_, thresh = None):
    null_cnts = df_.isnull().sum()
    null_cnts = null_cnts.sort_values(ascending=False)
    if thresh == None :
        return null_cnts
    else :
        return null_cnts[null_cnts > thresh]

In [7]:
# Function to Print null percentages with percentage greater than threshold.
#If threshold is not specified, pritns all null percentages
def get_null_perc(df_, thresh = None):
    null_perc = round(100 * df_.isnull().sum()/len(df_), 2)
    null_perc = null_perc.sort_values(ascending=False)
    if thresh == None :
        return null_perc
    else :
        return null_perc[null_perc > thresh]

In [8]:
#Function to get the group as test or control
def get_group(x):
    if x in test_cids:
        return 'Test'
    else:
        return 'Control'

In [9]:
#Date handling functions

def convert_dt_str_to_mth(dt_str_):
    dt_ = datetime.strptime(dt_str_,'%d-%m-%Y %H:%M')
    return datetime.strftime(dt_,'%B%Y')

#Format 2020-09-01
def convert_dt_str_to_mth2(dt_str_):
    dt_ = datetime.strptime(dt_str_,'%Y-%m-%d')
    return datetime.strftime(dt_,'%B%Y')


#Date Format:20180701
def convert_dt_int_to_mth(dt_int_):
    dt_ = datetime.strptime(str(dt_int_),'%Y%m%d')
    return datetime.strftime(dt_,'%B%Y')

#Date Format:20180701
def convert_dt_int_to_dt(dt_int_):
    return datetime.strptime(str(dt_int_),'%Y%m%d')

def convert_mth_to_dt(mth_):
    return datetime.strptime(mth_,'%B%Y')

def add_months(dt_, num_):
    return dt_ + relativedelta(months=num_)

def convert_dt_to_mth(dt_):
    return datetime.strftime(dt_,'%B%Y')

def convert_mth_to_date_key(mth_):
    return datetime.strftime(convert_mth_to_dt(mth_),'%Y%m%d')

def get_mth_range(dt_):
    start = add_months(dt_,- (pre_post_months))
    end = add_months(dt_,(pre_post_months))
    dt_range = pd.date_range(start,end,freq='MS')
    mth_range = dt_range.map(convert_dt_to_mth)
    mth_range
    return mth_range

#This function is to get all previous months engaged prior to passed month. To derive if the customer is new in curent month
def get_prev_mths(mth_):
    return eng_dt_range[:eng_dt_range.index(mth_)]

In [10]:
me_df_orig = pd.read_excel('./Input/ME_Analysis.xlsx',sheet_name='Sheet1')

In [11]:
me_df_orig.shape

(29882, 12)

In [12]:
me_df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29882 entries, 0 to 29881
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CalendarMonthStart    29882 non-null  int64
 1   Editorial Language    29882 non-null  object
 2   Issues                29882 non-null  int64
 3   EditorialCountryName  29882 non-null  object
 4   ComponentName         29882 non-null  object
 5   QueueCategory         29882 non-null  object
 6   QueueCategory1        29882 non-null  object
 7   QueueCategory2        12680 non-null  object
 8   Country&Lang          29882 non-null  object
 9   Country&Lang(T/F)     147 non-null    object
 10  Only Country          1103 non-null   object
 11  Only Lang             16017 non-null  object
dtypes: int64(2), object(10)
memory usage: 2.7+ MB

In [13]:
me_df_orig.head(2)

,CalendarMonthStart,Editorial Language,Issues,EditorialCountryName,ComponentName,QueueCategory,QueueCategory1,QueueCategory2,Country&Lang,Country&Lang(T/F),Only Country,Only Lang
0,20160101,(blank),1,Australia,Appeals,NQP,AQ,NaN,Australia(blank),NaN,NaN,NaN
1,20160101,(blank),59,China,Appeals,NQP,AQ,NaN,China(blank),NaN,NaN,NaN

In [14]:
me_df_orig['Editorial Language'].value_counts()

English                11792
(blank)                 8465
Spanish                 1917
German                  1897
French                  1521
Traditional Chinese     1038
Dutch                    749
Portuguese               747
Italian                  639
Swedish                  338
Danish                   298
Norwegian                220
Finnish                  182
Hungarian                 11
Polish                    11
Japanese                   9
Romanian                   9
Slovak                     6
Croatian                   5
Catalan                    5
Czech                      5
Greek                      4
Slovenian                  4
Estonian                   3
Bulgarian                  3
Albanian                   1
Turkish                    1
Lithuanian                 1
Latvian                    1
Name: Editorial Language, dtype: int64

In [15]:
#Make a copy before doing any manipulations
me_df = me_df_orig.copy()

In [16]:
#Convert Month Start column to data format
me_df['Month'] = me_df.CalendarMonthStart.map(convert_dt_int_to_dt)

In [18]:
cats_df = me_df[['ComponentName','QueueCategory1','QueueCategory2']].drop_duplicates()

In [20]:
#Components mapped to Tscore
ts_core_comps = list(cats_df[(cats_df.QueueCategory1=='TS') & (cats_df.QueueCategory2=='Tscore')].ComponentName)
ts_core_comps

['Advertiser API',
 'Analytics',
 'BI/Reporting',
 'Campaign Mgmt',
 'Editorial',
 'Microsoft Advertising Editor',
 'Optimization',
 'Product Ads/Shopping',
 'Syndication/Publisher API',
 'Tier 3',
 'UCMA',
 'UCMT',
 'UCMB',
 'UCMC',
 'UCMBA']

In [21]:
#Number of rows mapped to NaN group for TS
me_df[ ((me_df.QueueCategory1=='TS') & (me_df.QueueCategory2.isnull()))].shape

(430, 13)

#### Very few records for nulls in QueueCategory2. We can ignore them safely

In [22]:
#Drop the TS components data not mapped to any group 
me_df = me_df[ ~((me_df.QueueCategory1=='TS') & (me_df.QueueCategory2.isnull()))]

In [23]:
#Introduce a new column with Component Names grouped for TS and as is for AQ and TQ
me_df['Component'] = me_df.ComponentName.replace(ts_core_comps,'Tscore')

In [24]:
#Count of rows by component
me_df.Component.value_counts()

Tscore                        8664
Phishing/Techscam             5808
Appeals                       4019
Complaints                    3480
Accounts & Billing            1841
Delivery                      1679
Supply TQ Investigation        948
Malware/Bundling/Downloads     820
Policy Questions               801
Enablements                    404
Matching                       314
Bing Places                    291
Bing Web Master Tools          205
SEAM                           178
Name: Component, dtype: int64

In [25]:
me_df.head(2)

,CalendarMonthStart,Editorial Language,Issues,EditorialCountryName,ComponentName,QueueCategory,QueueCategory1,QueueCategory2,Country&Lang,Country&Lang(T/F),Only Country,Only Lang,Month,Component
0,20160101,(blank),1,Australia,Appeals,NQP,AQ,NaN,Australia(blank),NaN,NaN,NaN,2016-01-01,Appeals
1,20160101,(blank),59,China,Appeals,NQP,AQ,NaN,China(blank),NaN,NaN,NaN,2016-01-01,Appeals

In [26]:
#Rename EditorialCountryName column to Country 
me_df = me_df.rename(columns={'EditorialCountryName':'Country'})

me_df = me_df.rename(columns={'Editorial Language':'Language'})

In [27]:
me_df

,CalendarMonthStart,Language,Issues,Country,ComponentName,QueueCategory,QueueCategory1,QueueCategory2,Country&Lang,Country&Lang(T/F),Only Country,Only Lang,Month,Component
0,20160101,(blank),1,Australia,Appeals,NQP,AQ,NaN,Australia(blank),NaN,NaN,NaN,2016-01-01,Appeals
1,20160101,(blank),59,China,Appeals,NQP,AQ,NaN,China(blank),NaN,NaN,NaN,2016-01-01,Appeals
2,20160101,(blank),5,China,Complaints,NQP,AQ,NaN,China(blank),NaN,NaN,NaN,2016-01-01,Complaints
3,20160101,(blank),1,China,Policy Questions,NQP,AQ,NaN,China(blank),NaN,NaN,NaN,2016-01-01,Policy Questions
4,20160101,(blank),1,France,Appeals,NQP,AQ,NaN,France(blank),NaN,NaN,NaN,2016-01-01,Appeals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29877,20210601,Croatian,2,Croatia,Appeals,NQP,AQ,NaN,CroatiaCroatian,CroatiaCroatian,Croatia,Croatian,2021-06-01,Appeals
29878,20210601,Croatian,1,Croatia,Complaints,NQP,AQ,NaN,CroatiaCroatian,CroatiaCroatian,Croatia,Croatian,2021-06-01,Complaints
29879,20210401,Bulgarian,1,Bulgaria,Appeals,NQP,AQ,NaN,BulgariaBulgarian,BulgariaBulgarian,Bulgaria,Bulgarian,2021-04-01,Appeals
29880,20210601,Bulgarian,2,Bulgaria,Appeals,NQP,AQ,NaN,BulgariaBulgarian,BulgariaBulgarian,Bulgaria,Bulgarian,2021-06-01,Appeals
29881,20210301,Albanian,1,Albania,Complaints,NQP,AQ,NaN,AlbaniaAlbanian,AlbaniaAlbanian,Albania,Albanian,2021-03-01,Complaints

In [28]:
#Select the columns that we are interested in
me_df = me_df[['Month','Language','Country','Component','Issues']]

me_df['Language'].replace(to_replace ="(blank)",
                 value ="English", inplace=True)
me_df

           Month   Language    Country         Component  Issues
0     2016-01-01    English  Australia           Appeals       1
1     2016-01-01    English      China           Appeals      59
2     2016-01-01    English      China        Complaints       5
3     2016-01-01    English      China  Policy Questions       1
4     2016-01-01    English     France           Appeals       1
...          ...        ...        ...               ...     ...
29877 2021-06-01   Croatian    Croatia           Appeals       2
29878 2021-06-01   Croatian    Croatia        Complaints       1
29879 2021-04-01  Bulgarian   Bulgaria           Appeals       1
29880 2021-06-01  Bulgarian   Bulgaria           Appeals       2
29881 2021-03-01   Albanian    Albania        Complaints       1

[29452 rows x 5 columns]

In [29]:
me_df.Language.value_counts()

English                19841
Spanish                 1911
German                  1896
French                  1521
Traditional Chinese     1036
Dutch                    749
Portuguese               744
Italian                  637
Swedish                  338
Danish                   298
Norwegian                220
Finnish                  182
Hungarian                 11
Polish                    11
Japanese                   9
Romanian                   9
Slovak                     6
Croatian                   5
Czech                      5
Catalan                    5
Greek                      4
Slovenian                  4
Estonian                   3
Bulgarian                  3
Albanian                   1
Turkish                    1
Lithuanian                 1
Latvian                    1
Name: Language, dtype: int64

In [30]:
print('Number of Unique Languages:', len(me_df.Language.unique()), 'Number Of Components', len(me_df.Component.unique()))

Number of Unique Languages: 28 Number Of Components 14

In [31]:
#Comparable Market countries list are the ones we consider
#cons_cons = ['Denmark', 'Finland', 'France', 'Norway', 'Spain', 'Sweden']
#cons_cons = ['Danish','Swedish','French','Norwegian','Sami','Spanish','Swedish']
cons_cons_c = ['Denmark', 'Finland', 'France', 'Norway', 'Spain', 'Sweden']
#cons_cons = ['Danish','Swedish']
comp_me_df = me_df[me_df.Country.isin(cons_cons_c)]
#comp_me_df = me_df[me_df.Language.isin(cons_cons)]

In [32]:
#Counts by country
comp_me_df.Language.value_counts()

English                1893
French                  843
Spanish                 633
Swedish                 300
Danish                  277
Norwegian               204
Finnish                 175
German                   68
Italian                  27
Dutch                    21
Portuguese               20
Traditional Chinese      11
Name: Language, dtype: int64

In [33]:
#Number of Country Component Combinations to consider
con_comp = comp_me_df[['Language','Component']].drop_duplicates().sort_values(['Language','Component'])
con_comp = comp_me_df[['Language','Component']].drop_duplicates().sort_values(['Language','Component'])
print('Number of combinations:', len(con_comp) )

#First and last month for which we have data for a combination
con_comp['FirstMonth'] = np.nan
con_comp['LastMonth'] = np.nan
#Number of months we have data for a combination
con_comp['Total'] = 0
#Add a column for number of missing entries in between min and max of available months
con_comp['Missing'] = 0
#Continuously for how many months we have data from the last month backwards
con_comp['LastCont'] = 0
#Average Isssues per month for a combinations
con_comp['AvgIssues'] = 0

Number of combinations: 112

In [35]:
con_comp

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues
17580,Danish,Accounts & Billing,NaN,NaN,0,0,0,0
18,Danish,Appeals,NaN,NaN,0,0,0,0
19,Danish,Complaints,NaN,NaN,0,0,0,0
17855,Danish,Delivery,NaN,NaN,0,0,0,0
4544,Danish,Enablements,NaN,NaN,0,0,0,0
...,...,...,...,...,...,...,...,...
6877,Traditional Chinese,Appeals,NaN,NaN,0,0,0,0
4125,Traditional Chinese,Complaints,NaN,NaN,0,0,0,0
23133,Traditional Chinese,Delivery,NaN,NaN,0,0,0,0
13754,Traditional Chinese,Phishing/Techscam,NaN,NaN,0,0,0,0
23273,Traditional Chinese,Tscore,NaN,NaN,0,0,0,0

#### Out of 84Country/Component combinations, we have data for 75 combinations

In [36]:
comp_me_df.head(2)

        Month Language  Country Component  Issues
4  2016-01-01  English   France   Appeals       1
18 2016-01-01   Danish  Denmark   Appeals      10

In [42]:
con_comp.head()

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues
17580,Danish,Accounts & Billing,NaN,NaN,0,0,0,0
18,Danish,Appeals,NaN,NaN,0,0,0,0
19,Danish,Complaints,NaN,NaN,0,0,0,0
17855,Danish,Delivery,NaN,NaN,0,0,0,0
4544,Danish,Enablements,NaN,NaN,0,0,0,0

In [49]:
for i in con_comp.itertuples():
    print((i))

Pandas(Index=17580, Language='Danish', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=18, Language='Danish', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=19, Language='Danish', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17855, Language='Danish', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4544, Language='Danish', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=5441, Language='Danish', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=8954, Language='Danish', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=20, Language='Danish', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=12195, Language='Danish', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16671, Language='Danish', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=6893, Language='Dutch', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=1174, Language='Dutch', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=8422, Language='Dutch', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=24716, Language='Dutch', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16697, Language='English', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4, Language='English', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16717, Language='English', Component='Bing Places', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=18823, Language='English', Component='Bing Web Master Tools', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=216, Language='English', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16809, Language='English', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4877, Language='English', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9113, Language='English', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=5349, Language='English', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=8932, Language='English', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=6603, Language='English', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9699, Language='English', Component='SEAM', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=10464, Language='English', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16672, Language='English', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17756, Language='Finnish', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=61, Language='Finnish', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=20961, Language='Finnish', Component='Bing Web Master Tools', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=62, Language='Finnish', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=22713, Language='Finnish', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=5953, Language='Finnish', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9023, Language='Finnish', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=63, Language='Finnish', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=13144, Language='Finnish', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=21343, Language='Finnish', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16784, Language='French', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=68, Language='French', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=18023, Language='French', Component='Bing Places', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=24326, Language='French', Component='Bing Web Master Tools', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=69, Language='French', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16661, Language='French', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4613, Language='French', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9048, Language='French', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4614, Language='French', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=8964, Language='French', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=70, Language='French', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9402, Language='French', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16651, Language='French', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=22424, Language='German', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=1327, Language='German', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=1835, Language='German', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=28485, Language='German', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=13638, Language='German', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=7986, Language='German', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9792, Language='German', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=14403, Language='German', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=23834, Language='German', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=3085, Language='Italian', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=29014, Language='Italian', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=5400, Language='Italian', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9567, Language='Italian', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=14165, Language='Italian', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=28413, Language='Italian', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=18757, Language='Norwegian', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=83, Language='Norwegian', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=84, Language='Norwegian', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=20645, Language='Norwegian', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=7832, Language='Norwegian', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=11915, Language='Norwegian', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=7672, Language='Norwegian', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9384, Language='Norwegian', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=2572, Language='Norwegian', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=13268, Language='Norwegian', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17005, Language='Norwegian', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=28614, Language='Portuguese', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=6329, Language='Portuguese', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=5697, Language='Portuguese', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=6846, Language='Portuguese', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=15640, Language='Portuguese', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=24676, Language='Portuguese', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17123, Language='Spanish', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=94, Language='Spanish', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=18540, Language='Spanish', Component='Bing Places', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=24855, Language='Spanish', Component='Bing Web Master Tools', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=95, Language='Spanish', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16815, Language='Spanish', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4983, Language='Spanish', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9050, Language='Spanish', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4984, Language='Spanish', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=8969, Language='Spanish', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=96, Language='Spanish', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=10358, Language='Spanish', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=16641, Language='Spanish', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17774, Language='Swedish', Component='Accounts & Billing', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=98, Language='Swedish', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=99, Language='Swedish', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17234, Language='Swedish', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4646, Language='Swedish', Component='Enablements', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=13008, Language='Swedish', Component='Malware/Bundling/Downloads', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4989, Language='Swedish', Component='Matching', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=9292, Language='Swedish', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=100, Language='Swedish', Component='Policy Questions', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=12039, Language='Swedish', Component='Supply TQ Investigation', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=17036, Language='Swedish', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=6877, Language='Traditional Chinese', Component='Appeals', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=4125, Language='Traditional Chinese', Component='Complaints', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=23133, Language='Traditional Chinese', Component='Delivery', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=13754, Language='Traditional Chinese', Component='Phishing/Techscam', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)
Pandas(Index=23273, Language='Traditional Chinese', Component='Tscore', FirstMonth=nan, LastMonth=nan, Total=0, Missing=0, LastCont=0, AvgIssues=0)

In [31]:
#Check the data availability for the combinations
for row in con_comp.itertuples():
    con, comp = row[1], row[2]
    temp_df = me_df[(me_df.Language == con) & (me_df.Component == comp)].groupby('Month')['Issues'].sum().reset_index()
    
    #First and Last month for which we have data for 
    first_mon = temp_df.Month.min()
    last_mon = temp_df.Month.max()
    
    #Month Range between first and last months 
    mth_range = pd.date_range( first_mon, last_mon, freq='MS')
    
    #Missing months in the range
    missing_mths = mth_range.difference(temp_df.Month)
    
    if len(missing_mths) > 0:
        #If data missing for a month or more, how many months data do we have continuosly from last month
        last_cont_mths = pd.date_range(max(missing_mths), last_mon, freq='MS')
    else:
        last_cont_mths = mth_range
    
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'FirstMonth'] = convert_dt_to_mth(first_mon)
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'LastMonth'] = convert_dt_to_mth(last_mon)
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'Total'] = len(mth_range)
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'Missing'] = len(missing_mths)
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'LastCont'] = len(last_cont_mths)-1 # Minus one
    
    #Average Issues
    con_comp.loc[(con_comp.Language==con) & (con_comp.Component==comp),'AvgIssues'] = temp_df.Issues.mean()

In [32]:
con_comp['MissingPerc'] = round((con_comp.Missing/con_comp.Total)*100)
con_comp['DataAvl'] = con_comp.Total - con_comp.Missing

In [33]:
con_comp.head(2)

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
17580,Danish,Accounts & Billing,November2016,January2021,51,21,7,1.266667,41.0,30
18,Danish,Appeals,January2016,June2021,66,0,65,15.136364,0.0,66

## Filter out combinations without significant data

In [34]:
#Ignore combinations not having more than 15 months of data
cons_con_comp = con_comp[con_comp.DataAvl > 15]
cons_con_comp.shape

(82, 10)

#### 27 combinations are gone if we consider combinations with at least 15 months of data availability

In [35]:
#Ignored combinations are
con_comp[~(con_comp.DataAvl > 15)]

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
17855,Danish,Delivery,March2017,May2020,39,26,1,1.153846,67.0,13
4544,Danish,Enablements,April2019,March2021,24,12,2,1.833333,50.0,12
5441,Danish,Matching,October2019,January2021,16,12,1,1.250000,75.0,4
20,Danish,Policy Questions,January2016,December2020,60,52,1,1.375000,87.0,8
12195,Danish,Supply TQ Investigation,June2018,January2021,32,19,1,1.153846,59.0,13
17756,Finnish,Accounts & Billing,March2017,October2020,44,36,1,1.125000,82.0,8
20961,Finnish,Bing Web Master Tools,June2018,June2018,1,0,0,1.000000,0.0,1
22713,Finnish,Delivery,March2019,June2021,28,25,1,1.000000,89.0,3
5953,Finnish,Matching,January2020,July2020,7,5,1,1.000000,71.0,2
63,Finnish,Policy Questions,January2016,April2019,40,35,1,1.600000,88.0,5
13144,Finnish,Supply TQ Investigation,January2019,January2019,1,0,0,1.000000,0.0,1
21343,Finnish,Tscore,August2018,September2020,26,19,1,1.285714,73.0,7
18023,French,Bing Places,April2017,April2017,1,0,0,1.000000,0.0,1
24326,French,Bing Web Master Tools,October2019,October2020,13,10,1,1.000000,77.0,3
5400,Italian,Matching,September2019,June2021,22,8,1,1.428571,36.0,14
18757,Norwegian,Accounts & Billing,July2017,December2019,30,17,1,1.846154,57.0,13
20645,Norwegian,Delivery,April2018,March2021,36,31,1,1.000000,86.0,5
7832,Norwegian,Enablements,December2020,December2020,1,0,0,1.000000,0.0,1
11915,Norwegian,Malware/Bundling/Downloads,May2018,September2020,29,26,1,1.000000,90.0,3
7672,Norwegian,Matching,November2020,January2021,3,1,1,1.500000,33.0,2
2572,Norwegian,Policy Questions,December2017,December2017,1,0,0,1.000000,0.0,1
13268,Norwegian,Supply TQ Investigation,February2019,March2021,26,22,1,1.000000,85.0,4
6846,Portuguese,Enablements,April2020,May2021,14,6,4,1.750000,43.0,8
18540,Spanish,Bing Places,June2017,August2020,39,34,2,1.400000,87.0,5
24855,Spanish,Bing Web Master Tools,December2019,December2019,1,0,0,1.000000,0.0,1
17234,Swedish,Delivery,September2016,May2019,33,23,1,1.400000,70.0,10
13008,Swedish,Malware/Bundling/Downloads,January2019,January2019,1,0,0,2.000000,0.0,1
4989,Swedish,Matching,June2019,January2021,20,13,1,1.142857,65.0,7
100,Swedish,Policy Questions,January2016,February2021,62,52,1,1.000000,84.0,10
12039,Swedish,Supply TQ Investigation,May2018,August2019,16,7,3,1.555556,44.0,9

In [36]:
#This can be configred based on the requirement
recent_months = ['June2021','May2021','April2021']
display('Ignored Combinations are:', cons_con_comp[~cons_con_comp.LastMonth.isin(recent_months)])
cons_con_comp = cons_con_comp[cons_con_comp.LastMonth.isin(recent_months)]
cons_con_comp.shape

'Ignored Combinations are:'

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
17580,Danish,Accounts & Billing,November2016,January2021,51,21,7,1.266667,41.0,30
8954,Danish,Phishing/Techscam,January2016,June2020,54,30,1,1.958333,56.0,24
9023,Finnish,Phishing/Techscam,February2016,May2019,40,22,1,1.333333,55.0,18
9048,French,Malware/Bundling/Downloads,March2016,January2021,59,34,1,1.400000,58.0,25
70,French,Policy Questions,January2016,February2021,62,18,2,2.659091,29.0,44
13638,German,Malware/Bundling/Downloads,February2016,October2020,57,29,1,1.500000,51.0,28
9384,Norwegian,Phishing/Techscam,June2016,May2019,36,20,1,1.812500,56.0,16
9050,Spanish,Malware/Bundling/Downloads,March2016,March2021,61,29,1,2.125000,48.0,32
17774,Swedish,Accounts & Billing,March2017,July2019,29,12,2,1.529412,41.0,17
9292,Swedish,Phishing/Techscam,May2016,November2020,55,31,1,2.291667,56.0,24
17036,Swedish,Tscore,June2016,November2020,54,20,3,2.705882,37.0,34

(71, 10)

#### Another 5 combinations are gone if we do not

In [37]:
cons_con_comp

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl
18,Danish,Appeals,January2016,June2021,66,0,65,15.136364,0.0,66
19,Danish,Complaints,January2016,May2021,65,1,53,21.140625,2.0,64
16671,Danish,Tscore,January2016,June2021,66,31,2,1.457143,47.0,35
6893,Dutch,Appeals,January2016,June2021,66,0,65,46.484848,0.0,66
1174,Dutch,Complaints,January2016,June2021,66,0,65,50.878788,0.0,66
8422,Dutch,Enablements,April2019,June2021,27,3,19,5.041667,11.0,24
24716,Dutch,Tscore,February2016,June2021,65,11,13,7.000000,17.0,54
16697,English,Accounts & Billing,January2016,June2021,66,0,65,486.712121,0.0,66
4,English,Appeals,January2016,June2021,66,0,65,1626.045455,0.0,66
16717,English,Bing Places,January2016,June2021,66,0,65,755.712121,0.0,66
18823,English,Bing Web Master Tools,January2016,June2021,66,0,65,712.575758,0.0,66
216,English,Complaints,January2016,June2021,66,0,65,2822.287879,0.0,66
16809,English,Delivery,January2016,June2021,66,0,65,514.484848,0.0,66
4877,English,Enablements,April2019,June2021,27,0,26,69.185185,0.0,27
9113,English,Malware/Bundling/Downloads,January2016,June2021,66,0,65,79.393939,0.0,66
5349,English,Matching,April2019,June2021,27,0,26,33.000000,0.0,27
8932,English,Phishing/Techscam,January2016,June2021,66,0,65,1649.424242,0.0,66
6603,English,Policy Questions,January2016,June2021,66,0,65,27.212121,0.0,66
9699,English,SEAM,February2016,June2021,65,0,64,70.276923,0.0,65
10464,English,Supply TQ Investigation,January2016,June2021,66,0,65,124.545455,0.0,66
16672,English,Tscore,January2016,June2021,66,0,65,1258.318182,0.0,66
61,Finnish,Appeals,January2016,June2021,66,1,59,6.415385,2.0,65
62,Finnish,Complaints,January2016,June2021,66,3,47,17.539683,5.0,63
16784,French,Accounts & Billing,March2016,June2021,64,9,22,7.363636,14.0,55
68,French,Appeals,January2016,June2021,66,0,65,169.348485,0.0,66
69,French,Complaints,January2016,June2021,66,0,65,95.803030,0.0,66
16661,French,Delivery,January2016,June2021,66,2,53,8.593750,3.0,64
4613,French,Enablements,April2019,June2021,27,4,10,6.565217,15.0,23
4614,French,Matching,April2019,June2021,27,1,23,6.423077,4.0,26
8964,French,Phishing/Techscam,January2016,June2021,66,4,29,22.209677,6.0,62
9402,French,Supply TQ Investigation,June2016,June2021,61,22,1,3.846154,36.0,39
16651,French,Tscore,January2016,June2021,66,0,65,24.712121,0.0,66
22424,German,Accounts & Billing,April2016,June2021,63,6,52,13.421053,10.0,57
1327,German,Appeals,January2016,June2021,66,0,65,158.333333,0.0,66
1835,German,Complaints,January2016,June2021,66,0,65,180.924242,0.0,66
28485,German,Delivery,January2016,June2021,66,3,41,12.301587,5.0,63
7986,German,Matching,April2019,June2021,27,0,26,9.888889,0.0,27
9792,German,Phishing/Techscam,January2016,June2021,66,3,30,20.380952,5.0,63
14403,German,Supply TQ Investigation,September2016,May2021,57,17,23,4.250000,30.0,40
23834,German,Tscore,January2016,June2021,66,2,62,34.953125,3.0,64
3085,Italian,Appeals,January2016,June2021,66,0,65,39.060606,0.0,66
29014,Italian,Delivery,May2016,June2021,62,17,24,2.288889,27.0,45
9567,Italian,Phishing/Techscam,April2016,June2021,63,6,15,14.701754,10.0,57
14165,Italian,Supply TQ Investigation,August2017,June2021,47,19,5,2.035714,40.0,28
28413,Italian,Tscore,April2016,June2021,63,12,25,6.235294,19.0,51
83,Norwegian,Appeals,January2016,June2021,66,0,65,12.060606,0.0,66
84,Norwegian,Complaints,January2016,June2021,66,3,49,11.698413,5.0,63
17005,Norwegian,Tscore,June2016,June2021,61,35,2,1.500000,57.0,26
28614,Portuguese,Accounts & Billing,January2016,June2021,66,17,1,5.530612,26.0,49
6329,Portuguese,Appeals,January2016,June2021,66,0,65,54.909091,0.0,66
5697,Portuguese,Complaints,January2016,June2021,66,0,65,38.954545,0.0,66
15640,Portuguese,Phishing/Techscam,January2016,June2021,66,3,27,54.984127,5.0,63
24676,Portuguese,Tscore,August2016,June2021,59,8,32,6.647059,14.0,51
17123,Spanish,Accounts & Billing,March2016,June2021,64,10,1,4.314815,16.0,54
94,Spanish,Appeals,January2016,June2021,66,0,65,83.045455,0.0,66
95,Spanish,Complaints,January2016,June2021,66,0,65,87.924242,0.0,66
16815,Spanish,Delivery,March2016,June2021,64,10,40,3.240741,16.0,54
4983,Spanish,Enablements,June2019,June2021,25,4,3,2.761905,16.0,21
4984,Spanish,Matching,June2019,June2021,25,7,7,2.333333,28.0,18
8969,Spanish,Phishing/Techscam,January2016,June2021,66,1,34,84.246154,2.0,65
96,Spanish,Policy Questions,January2016,June2021,66,24,6,2.095238,36.0,42
10358,Spanish,Supply TQ Investigation,April2017,June2021,51,15,25,4.222222,29.0,36
16641,Spanish,Tscore,January2016,June2021,66,2,40,8.703125,3.0,64
98,Swedish,Appeals,January2016,June2021,66,0,65,22.424242,0.0,66
99,Swedish,Complaints,January2016,June2021,66,0,65,25.045455,0.0,66
4646,Swedish,Enablements,April2019,June2021,27,5,1,2.090909,19.0,22
6877,Traditional Chinese,Appeals,January2016,June2021,66,0,65,112.333333,0.0,66
4125,Traditional Chinese,Complaints,January2016,June2021,66,0,65,48.227273,0.0,66
23133,Traditional Chinese,Delivery,January2016,June2021,66,17,1,3.102041,26.0,49
13754,Traditional Chinese,Phishing/Techscam,February2016,June2021,65,14,26,12.372549,22.0,51
23273,Traditional Chinese,Tscore,January2016,June2021,66,7,53,7.389831,11.0,59

#### By looking at the remaining combination's data, it seems to be dafe to impute missing month's data with zero

## Build models

In [38]:
#Number of combinations to build models for
cons_con_comp.shape

(71, 10)

In [39]:
#Function to calculate error and prepare a data frame
def calc_error(method, act, pred):
    global cons_err_df
 
    #Root Mean Square Error
    rmse = np.sqrt(mean_squared_error(act, pred)).round(2)
    mae = np.mean(abs(act-pred))

#     cons_res_df['Actual_'+method] = results_df_['Issues'] #Not required for every method. Initiate it only once
    cons_res_df['Forecast_'+method] = pred
    
 
    #Mean Absolute Percentage error
    mape = np.round(np.mean(np.abs(act-pred)/act)*100,2)
    
    # Over and Under predictions to check the direction of the error
    over_pred, under_pred = [],[]
    for row in zip(act,pred):
        actual = row[0]
        predicted = row[1]
        if predicted > actual:
            over_pred.append([predicted,actual])
        else:
            under_pred.append([predicted,actual])

    
    #This is to avoid shown nan as average error
    if len(over_pred) == 0:
        over_pred_mape =0
    else:
#         over_pred_avg = round(np.mean(over_pred),1)
        preds = [item[0] for item in over_pred]
        acts = [item[1] for item in over_pred]
        over_pred_mape = np.round(np.mean(np.abs(np.array(preds)-np.array(acts))/np.array(acts))*100,2)

    if len(under_pred) == 0:
        under_pred_mape = 0
    else:
#         under_pred_avg = round(np.mean(under_pred),1)
        preds = [item[0] for item in under_pred]
        acts = [item[1] for item in under_pred]
        under_pred_mape = np.round(np.mean(np.abs(np.array(preds)-np.array(acts))/np.array(acts))*100,2)

    over_preds = str(len(over_pred)) + ' - ' + str(over_pred_mape)
    under_preds = str(len(under_pred)) + ' - ' + str(under_pred_mape)

 
    err_df_ = pd.DataFrame({'Method':[method], 'MAPE': [mape], 'RMSE': [rmse], 'MAE':[mae],
                           'Over Predictions':[over_preds], 'Under Predictions':[under_preds]})
    cons_err_df = cons_err_df.append(err_df_)
    
#     print('Method:', method, 'MAPE:', [mape], 'RMSE:', [rmse], 'MAE:',[mae])
    return err_df_

In [40]:
#Plot results of a time series forecasting model
def plot_results(method_name_, ts_data_train, results_df_):
    plt.figure(figsize=(12,4))
    plt.plot(ts_data_train, label='Train')
    plt.plot(results_df_['Issues'], label='Test')
    plt.plot(results_df_['Issues_FC'], label=method_name_+' Forecast')
    plt.legend(loc='best')
    plt.title(method_name_)
    plt.show()

In [41]:
#Functions to run different models

#Simple Exponential Smoothing
def run_simple_exp_smooth(ts_data_train, ts_data_test, smoothing_level_=0.2, optimized_=False):
    model = SimpleExpSmoothing(ts_data_train)
    try:
        model_fit = model.fit(smoothing_level=smoothing_level_, optimized=optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model SES:', str(e))
        return pd.DataFrame()

    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df


#Holts method with only trend
def run_holt_trend(ts_data_train, ts_data_test, seasonal_periods_=12 , smoothing_level_=0.2, smoothing_slope_=0.01, optimized_=False):
    
    model = ExponentialSmoothing(np.asarray(ts_data_train) ,seasonal_periods = seasonal_periods_ , trend='additive', seasonal=None)

    try:
        model_fit = model.fit(smoothing_level = smoothing_level_, smoothing_slope = smoothing_slope_, optimized = optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Holt with only Trend:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df

#Holt winters with trend and seasonality
def run_holt_wint(ts_data_train, ts_data_test, seasonal_periods_=12 , trend_='add', seas_='add', optimized_=True, use_boxcox_=None,init_method_=None):
    
    model = ExponentialSmoothing(np.asarray(ts_data_train) ,seasonal_periods=seasonal_periods_ ,trend=trend_, seasonal=seas_, 
                                 initialization_method=init_method_, use_boxcox=use_boxcox_)
    
    try:
        model_fit = model.fit(optimized=optimized_)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Holt Winters:', str(e))
        return pd.DataFrame()
        
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    return results_df

#ARIMA
def run_arima(ts_data_train, ts_data_test, is_bc_=False, order_=(1,0,0)):
    
    model = ARIMA(ts_data_train, order=order_)
    try:
        model_fit = model.fit()
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model ARIMA:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))[0]

    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df


#SARIMAX
def run_sarimax(ts_data_train, ts_data_test, is_bc_=False, order_=(1,1,1), seasonal_order_=(1,1,1,12), is_exog_=False, exog_=None):

    promo_train_, promo_test_ = None, None 
    if is_exog_:
        promo_train_ = exog_[0:len(ts_data_train)+1]
        promo_test_ = exog_[len(ts_data_train):]
        print(ts_data_train.shape, ts_data_test.shape, promo_train_.shape, promo_test_.shape)
    
    model = SARIMAX(ts_data_train, order=order_, seasonal_order=seasonal_order_,exog=promo_train_)

    try:
        model_fit = model.fit()
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model SARIMAX:', str(e))
        return pd.DataFrame()
    
    results_df = ts_data_test.to_frame()
    results_df['Issues_FC'] = model_fit.forecast(len(ts_data_test))
    
    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df

def run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_d=2, max_p=3, max_q=3,start_P=0, 
                             start_Q=0, max_P=3, max_D=1, max_Q=3, m=12, seasonal=True, trace=True, d=1, D=1, max_order = 5,
                             maxiter = 50,
                             error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100, n_jobs = -1):

    # model = auto_arima(train, trace=True, error_action='ignore', suppress_warnings=True)
    model = auto_arima(ts_data_train,start_p=start_p,start_q=start_q,max_p=max_p, max_d=max_d, max_q=max_q,start_P=start_P, 
                             start_Q=start_Q, max_P=max_P, max_D=max_D, max_Q=max_Q, m=m, seasonal=seasonal, trace=trace, d=d, 
                             D=D, max_order = max_order, maxiter = maxiter, 
                             error_action=error_action, suppress_warnings=suppress_warnings, 
                             stepwise=stepwise, random_state=random_state, n_fits=n_fits, n_jobs = n_jobs)


    try:
        model.fit(ts_data_train)
        if debug:
            print(model_fit.params)
    except ValueError as e:
        print('Value Error while fitting the model Auto ARIMA:', str(e))
        return pd.DataFrame()

    results_df = ts_data_test.to_frame()
    
    try:
        results_df['Issues_FC'] = model.predict(len(ts_data_test))
    except ValueError as e:
        print('Value Error while prediction in Auto ARIMA:', str(e))
        return pd.DataFrame()
        
    if is_bc_:
        results_df['Issues'] = np.exp(results_df['Issues'])
        results_df['Issues_FC'] = np.exp(results_df['Issues_FC'])

    return results_df

In [42]:
def plot_calc_error(method, ts_data_train, results_df):
    if len(results_df) == 0:
        print('Results Dataframe is empty')
        return
    if debug:
        plot_results(method, ts_data_train, results_df)
    calc_error(method,results_df['Issues'],results_df['Issues_FC'])

#bc to indicate whether to boxcox transformation -- to indicate the model
def run_models(ts_data, bc, select='mape', run_all_models=None, run_Forecast_model=None):
    global results_df
    #Train test split - 80:20
    ts_len = len(ts_data)
    train_len = int(ts_len*.8)
    ts_data_train = ts_data[:train_len]
    ts_data_test = ts_data[train_len:]
    
    if bc:
        ts_data_bc = pd.Series(boxcox(ts_data.interpolate(), lmbda=0),name='Issues')
        #Index with all months from first to last
        idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
        #Reset index for boxcox data set
        ts_data_bc.index = idx

        ts_data_train_bc = ts_data_bc[:train_len]
        ts_data_test_bc = ts_data_bc[train_len:]
    
    cons_res_df['Actual'] = ts_data_test
    if run_all_models==True or run_Forecast_model =='SES':
        method = 'SES'
        results_df = run_simple_exp_smooth(ts_data_train, ts_data_test)
        print("---SES----")
        plot_calc_error(method, ts_data_train, results_df)
    
    if run_all_models==True or run_Forecast_model =='HoltsTrend':
        method = 'HoltsTrend'
        results_df = run_holt_trend(ts_data_train, ts_data_test)
        
        print("---HoltsTrend---")
        plot_calc_error(method, ts_data_train, results_df)
    
    if run_all_models==True or run_Forecast_model =='HWAdditive':
        method = 'HWAdditive'
        results_df = run_holt_wint(ts_data_train, ts_data_test)
        print("---HWAdditive-")
        
        plot_calc_error(method, ts_data_train, results_df)
    
    if run_all_models==True or run_Forecast_model in 'HWMult':
        if bc:
            method = 'HWMult'
            results_df = run_holt_wint(ts_data_train, ts_data_test,seas_='mul')
            print("---HWMult----")
            plot_calc_error(method, ts_data_train, results_df)
            
    if run_all_models==True or run_Forecast_model == 'ARIMA_(1, 1, 1)':

        ord = (1,1,1)
        method = 'ARIMA_'+str(ord)
        results_df = run_arima(ts_data_train, ts_data_test, order_=ord)
        
        print("---ARIMA_(1,1,1)----")
        
        plot_calc_error(method, ts_data_train, results_df)

    
    if bc:
        if run_all_models==True or run_Forecast_model == "ARIMA_BC_(1, 1, 1)":
            ord = (1,1,1)
            method = 'ARIMA_BC_'+str(ord)
            results_df = run_arima(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord) #TODO - pass Box Cox data
            print("---ARIMA_BC_(1,1,1)----")
            plot_calc_error(method, ts_data_train, results_df)

        if run_all_models==True or run_Forecast_model == "SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)":
            ord_1 = (1,1,1)
            ord_2 = (1,1,1,12)
            method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
            results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2)#TODO
            print("---SARIMA_BC_(1,1,1)_(1,1,1,12)----")
            plot_calc_error(method, ts_data_train, results_df)

        if run_all_models==True or run_Forecast_model == "SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)":
            ord_1 = (1,2,1)
            ord_2 = (1,1,1,12)
            method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
            results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2) #TODO
            print("---SARIMA_BC_(1,2,1)_(1,1,1,12)----")
            plot_calc_error(method, ts_data_train, results_df)

        if run_all_models==True or run_Forecast_model == "SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)":
            ord_1 = (1,2,1)
            ord_2 = (0,1,1,12)
            method = 'SARIMA_BC_'+str(ord_1)+'_'+str(ord_2)
            results_df = run_sarimax(ts_data_train_bc, ts_data_test_bc, is_bc_=True, order_=ord_1, seasonal_order_=ord_2) #TODO
            print("---SARIMA_BC_(1,2,1)_(0,1,1,12)----")
            plot_calc_error(method, ts_data_train, results_df)

        if run_all_models==True or run_Forecast_model == "SARIMA_(1, 2, 1)_(1, 1, 1, 12)":
            ord_1 = (1,2,1)
            ord_2 = (1,1,1,12)
            method = 'SARIMA_'+str(ord_1)+'_'+str(ord_2)
            results_df = run_sarimax(ts_data_train, ts_data_test, order_=ord_1, seasonal_order_=ord_2)
        
            print("---SARIMA_(1,2,1)_(1,1,1,12)----")
            plot_calc_error(method, ts_data_train, results_df)

        if run_all_models==True or run_Forecast_model == "SARIMA_(1, 2, 1)_(0, 1, 1, 12)":
            ord_1 = (1,2,1)
            ord_2 = (0,1,1,12)
            method = 'SARIMA_'+str(ord_1)+'_'+str(ord_2)
            results_df = run_sarimax(ts_data_train, ts_data_test, order_=ord_1, seasonal_order_=ord_2)
        
            print("---SARIMA_(1,2,1)_(0,1,1,12)----")
            plot_calc_error(method, ts_data_train, results_df)

    if run_all_models==True or run_Forecast_model =='PMD_Diff1':
        
        method = 'PMD_Diff1'
        results_df = run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_p=8, max_q=8,start_P=0, 
                                 start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=1, D=1, 
                                 error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
        
        print("---PMD_Diff1----")
        plot_calc_error(method, ts_data_train, results_df)

    if run_all_models==True or run_Forecast_model =='PMD_Diff2':
        method = 'PMD_Diff2'
        results_df = run_auto_arima(ts_data_train, ts_data_test, is_bc_=False, start_p=1, start_q=1,max_p=8, max_d=3, max_q=8,start_P=0, 
                                 start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=2, 
                                 error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
        
        print("---PMD_Diff2----")
        plot_calc_error(method, ts_data_train, results_df)

    if run_all_models==True or run_Forecast_model =='PMD_Diff1_BC':
        if bc:
            method = 'PMD_Diff1_BC'
            results_df = run_auto_arima(ts_data_train_bc, ts_data_test_bc, is_bc_=True, start_p=1, start_q=1,max_p=8, max_q=8,start_P=0, 
                                     start_Q=0, max_P=8, max_Q=8, m=12, seasonal=True, trace=debug, d=1, D=1, 
                                     error_action='warn', suppress_warnings=True, stepwise=True, random_state=20, n_fits=100)
            
            print("---PMD_Diff1_BC----")
            plot_calc_error(method, ts_data_train, results_df)
            
    if not run_all_models :        
        display(results_df)

In [44]:
%%time
#Running all models 
#Forecasting with missng values linear interpolation
debug = False

all_res_intp_dfs = {}
all_err_intp_dfs = {}
i = 0
minErrorModel = []
for row in cons_con_comp[['Language','Component']].itertuples():
    con, comp = row[1], row[2]
    print('Building models for Language:{} and Component:{}'.format(con, comp))
    print('='*100)
    ts_data = me_df[(me_df.Language==con)&(me_df.Component==comp)].groupby('Month')['Issues'].sum()
    
    #Index with all months from first to last
    idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
    #Reindex time series data to fill values with nan and use interpolation
    ts_data = ts_data.reindex(idx, fill_value=np.nan)
    #Interploate to impute
    ts_data = ts_data.interpolate()
    
    print('TS Data Set shape: ',ts_data.shape)

    #Initiate Consolidated Result and Error dataframes
    cons_err_df = pd.DataFrame()
    cons_res_df = pd.DataFrame()

    run_models(ts_data, bc=True,run_all_models=True)
    
    
    all_res_intp_dfs[(con, comp)] = cons_res_df
    all_err_intp_dfs[(con, comp)] = cons_err_df
    
    display(cons_err_df)
    
    for i in cons_err_df.itertuples():
    #print(i[3])
        if i[3] == cons_err_df['RMSE'].min() :
            #print("mehod---",i[1])
            minErrorModel.append(i[1])

            break
    if debug:
        display(cons_res_df)
        
    #For testing.Run only limited combos
#     i += 1
#     if i==1:
#         break
    
cons_con_comp['Min Error Method Interpolation'] = minErrorModel

Building models for Language:Danish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,62.92,14.60,12.259981,9 - 81.71,5 - 29.11
0,HoltsTrend,93.38,30.74,24.707399,0 - 0,14 - 93.38
0,HWAdditive,45.36,13.59,10.883942,5 - 71.37,9 - 30.91
0,HWMult,49.50,14.29,11.506197,5 - 75.88,9 - 34.85
0,"ARIMA_(1, 1, 1)",112.95,20.55,18.852836,11 - 137.72,3 - 22.11
0,"ARIMA_BC_(1, 1, 1)",52.58,14.63,11.414475,8 - 67.91,6 - 32.13
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",71.52,19.39,14.349953,6 - 123.4,8 - 32.62
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",166.82,43.98,29.998606,12 - 192.07,2 - 15.37
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",219.12,54.52,40.230211,13 - 234.04,1 - 25.17
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",179.24,35.66,30.863150,13 - 192.55,1 - 6.18
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",180.60,35.88,31.210663,13 - 193.56,1 - 12.12
0,PMD_Diff1,67.31,18.42,12.357143,8 - 99.55,6 - 24.31
0,PMD_Diff2,97.38,22.61,15.321228,10 - 128.53,4 - 19.53
0,PMD_Diff1_BC,84.01,24.62,13.432817,8 - 133.33,6 - 18.25

Building models for Language:Danish and Component:Complaints
====================================================================================================
TS Data Set shape:  (65,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,290.24,19.71,16.559391,12 - 313.72,1 - 8.41
0,HoltsTrend,183.33,12.35,9.191666,8 - 290.82,5 - 11.35
0,HWAdditive,284.87,20.43,16.441235,13 - 284.87,0 - 0
0,HWMult,309.39,26.08,22.677401,12 - 334.75,1 - 5.17
0,"ARIMA_(1, 1, 1)",372.38,26.32,22.456505,13 - 372.38,0 - 0
0,"ARIMA_BC_(1, 1, 1)",394.56,27.80,22.998916,13 - 394.56,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",341.21,27.23,19.842617,11 - 403.12,2 - 0.74
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",431.94,35.01,27.351514,13 - 431.94,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",428.49,34.71,27.020424,13 - 428.49,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",303.49,25.57,21.997965,12 - 328.28,1 - 6.04
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",319.12,25.03,21.703710,12 - 345.57,1 - 1.77
0,PMD_Diff1,284.90,23.09,19.779379,12 - 308.12,1 - 6.25
0,PMD_Diff2,83.17,10.93,8.921697,6 - 148.5,7 - 27.17
0,PMD_Diff1_BC,273.88,24.50,20.286680,11 - 321.19,2 - 13.63

Building models for Language:Danish and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,15.34,0.63,0.314184,11 - 4.98,3 - 53.34
0,HoltsTrend,15.24,0.64,0.313931,11 - 4.77,3 - 53.62
0,HWAdditive,28.22,0.72,0.449939,6 - 24.09,8 - 31.31
0,HWMult,25.11,0.72,0.417640,7 - 15.76,7 - 34.46
0,"ARIMA_(1, 1, 1)",13.89,0.64,0.301866,11 - 2.9,3 - 54.19
0,"ARIMA_BC_(1, 1, 1)",12.84,0.65,0.293339,11 - 1.37,3 - 54.91
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",26.65,0.68,0.427074,7 - 26.21,7 - 27.08
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",27.90,0.78,0.470411,5 - 17.88,9 - 33.46
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",23.95,0.75,0.424796,5 - 14.23,9 - 29.34
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",37.62,0.90,0.585474,5 - 24.34,9 - 45.0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",31.06,0.83,0.507789,5 - 20.37,9 - 36.99
0,PMD_Diff1,26.33,0.85,0.430128,1 - 199.85,13 - 12.98
0,PMD_Diff2,40.79,0.77,0.541481,6 - 66.14,8 - 21.77
0,PMD_Diff1_BC,26.20,0.84,0.428656,1 - 199.82,13 - 12.84

Building models for Language:Dutch and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,21.28,21.46,17.463114,2 - 30.04,12 - 19.83
0,HoltsTrend,38.83,36.55,32.834865,1 - 29.98,13 - 39.51
0,HWAdditive,16.13,14.74,11.444506,6 - 20.46,8 - 12.88
0,HWMult,22.29,18.39,15.526482,5 - 30.11,9 - 17.94
0,"ARIMA_(1, 1, 1)",17.22,15.51,12.323837,6 - 23.45,8 - 12.54
0,"ARIMA_BC_(1, 1, 1)",20.61,16.66,13.954036,9 - 25.73,5 - 11.39
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",19.43,16.96,13.397381,8 - 26.09,6 - 10.56
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",70.73,69.17,55.691539,12 - 81.12,2 - 8.4
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",72.37,70.92,57.064451,12 - 83.07,2 - 8.14
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",21.86,18.71,14.451675,11 - 24.85,3 - 10.87
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",21.29,18.37,14.032244,10 - 25.82,4 - 9.98
0,PMD_Diff1,17.10,15.27,11.949017,6 - 22.5,8 - 13.05
0,PMD_Diff2,17.81,16.49,12.868095,5 - 23.71,9 - 14.53
0,PMD_Diff1_BC,185.54,206.11,152.252108,13 - 199.51,1 - 3.99

Building models for Language:Dutch and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,84.69,36.43,29.473302,14 - 84.69,0 - 0
0,HoltsTrend,87.98,37.93,31.354656,14 - 87.98,0 - 0
0,HWAdditive,98.30,45.25,39.611358,14 - 98.3,0 - 0
0,HWMult,69.17,31.39,23.502033,9 - 97.66,5 - 17.9
0,"ARIMA_(1, 1, 1)",87.35,38.50,31.819666,14 - 87.35,0 - 0
0,"ARIMA_BC_(1, 1, 1)",129.95,64.13,57.144388,14 - 129.95,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",114.97,56.58,51.291969,14 - 114.97,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",200.73,109.05,98.779929,14 - 200.73,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",191.34,102.98,93.608057,14 - 191.34,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",96.34,45.40,36.617613,10 - 129.02,4 - 14.62
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",95.57,44.09,35.372471,10 - 127.61,4 - 15.45
0,PMD_Diff1,104.47,49.09,38.986995,11 - 129.59,3 - 12.35
0,PMD_Diff2,94.63,66.12,49.529971,3 - 183.37,11 - 70.43
0,PMD_Diff1_BC,158.91,82.40,74.197914,14 - 158.91,0 - 0

Building models for Language:Dutch and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,217.69,4.64,4.132704,6 - 217.69,0 - 0
0,HoltsTrend,613.91,13.63,13.091906,6 - 613.91,0 - 0
0,"ARIMA_(1, 1, 1)",319.19,6.87,6.353719,6 - 319.19,0 - 0
0,"ARIMA_BC_(1, 1, 1)",313.21,6.69,5.973121,6 - 313.21,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",4263.62,99.59,82.301313,6 - 4263.62,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",5516.91,145.14,130.985836,6 - 5516.91,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",5115.85,140.87,126.515808,6 - 5115.85,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",622.52,13.91,13.311558,6 - 622.52,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",553.20,12.72,12.358606,6 - 553.2,0 - 0
0,PMD_Diff1,346.83,8.68,8.333333,6 - 346.83,0 - 0
0,PMD_Diff2,819.42,19.52,19.080700,6 - 819.42,0 - 0
0,PMD_Diff1_BC,1241.27,42.24,37.500000,6 - 1241.27,0 - 0

Building models for Language:Dutch and Component:Tscore
====================================================================================================
TS Data Set shape:  (65,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,172.32,4.55,4.058487,10 - 212.3,3 - 39.05
0,HoltsTrend,125.40,4.24,3.323202,10 - 147.82,3 - 50.68
0,HWAdditive,248.25,5.99,5.173003,10 - 315.17,3 - 25.18
0,HWMult,280.60,7.02,5.818038,11 - 326.25,2 - 29.51
0,"ARIMA_(1, 1, 1)",301.76,7.03,6.316936,11 - 353.24,2 - 18.62
0,"ARIMA_BC_(1, 1, 1)",346.08,8.07,7.185032,11 - 406.93,2 - 11.44
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",256.75,6.22,5.389652,10 - 326.46,3 - 24.4
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",363.85,8.59,7.535780,11 - 426.75,2 - 17.87
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",285.87,6.89,5.924524,11 - 332.21,2 - 31.0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",218.26,5.58,4.725393,10 - 274.21,3 - 31.77
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",219.26,5.60,4.743937,10 - 275.58,3 - 31.54
0,PMD_Diff1,208.47,5.45,4.540405,9 - 286.4,4 - 33.11
0,PMD_Diff2,175.58,5.02,4.243692,9 - 235.83,4 - 40.01
0,PMD_Diff1_BC,273.00,7.35,5.601539,9 - 378.6,4 - 35.39

Building models for Language:English and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,10.28,74.16,52.948412,3 - 2.94,11 - 12.29
0,HoltsTrend,152.16,714.73,691.064503,0 - 0,14 - 152.16
0,HWAdditive,53.42,279.91,233.770126,13 - 56.56,1 - 12.6
0,HWMult,59.00,313.74,257.823285,13 - 62.75,1 - 10.31
0,"ARIMA_(1, 1, 1)",7.71,43.43,35.690202,10 - 7.9,4 - 7.25
0,"ARIMA_BC_(1, 1, 1)",8.47,47.09,38.907324,9 - 9.91,5 - 5.87
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",15.58,88.54,71.330247,10 - 16.82,4 - 12.48
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",59.75,328.90,260.778578,13 - 63.2,1 - 14.88
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",50.45,276.49,220.554680,13 - 53.14,1 - 15.47
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",55.08,289.50,240.933981,13 - 58.43,1 - 11.48
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",53.13,277.53,232.667121,13 - 56.33,1 - 11.5
0,PMD_Diff1,42.45,224.24,185.742808,13 - 44.71,1 - 13.0
0,PMD_Diff2,68.66,358.33,300.357125,13 - 73.31,1 - 8.17
0,PMD_Diff1_BC,40.04,222.48,174.941746,12 - 45.12,2 - 9.58

Building models for Language:English and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,27.54,664.06,620.302160,12 - 28.25,2 - 23.28
0,HoltsTrend,16.27,487.92,391.810842,11 - 15.6,3 - 18.72
0,HWAdditive,50.30,1199.81,1097.592753,12 - 54.99,2 - 22.16
0,HWMult,36.97,973.96,829.466509,12 - 38.18,2 - 29.71
0,"ARIMA_(1, 1, 1)",58.57,1354.38,1242.946868,12 - 67.34,2 - 5.93
0,"ARIMA_BC_(1, 1, 1)",73.43,1717.66,1547.905987,12 - 85.1,2 - 3.45
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",65.41,1593.96,1398.830708,12 - 73.49,2 - 16.95
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",129.34,3225.96,2707.664740,12 - 149.12,2 - 10.65
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",172.06,4360.57,3575.314870,12 - 200.04,2 - 4.21
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",69.96,1666.35,1494.965061,12 - 78.88,2 - 16.41
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",70.07,1669.68,1497.231845,12 - 79.01,2 - 16.43
0,PMD_Diff1,42.89,1067.04,950.071429,12 - 45.52,2 - 27.1
0,PMD_Diff2,93.66,2291.22,2034.401930,0 - 0,14 - 93.66
0,PMD_Diff1_BC,62.47,1541.53,1342.435464,12 - 69.44,2 - 20.6

Building models for Language:English and Component:Bing Places
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,14.73,120.67,106.928571,7 - 14.8,7 - 14.66
0,HoltsTrend,62.01,448.44,436.879271,14 - 62.01,0 - 0
0,HWAdditive,21.78,234.08,175.212581,3 - 7.92,11 - 25.56
0,HWMult,19.12,199.10,152.023849,6 - 9.61,8 - 26.26
0,"ARIMA_(1, 1, 1)",13.83,143.74,110.692354,4 - 5.79,10 - 17.05
0,"ARIMA_BC_(1, 1, 1)",13.21,137.55,105.573229,4 - 6.2,10 - 16.02
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",17.30,198.01,140.967777,5 - 5.2,9 - 24.03
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",18.70,212.57,153.252645,2 - 2.0,12 - 21.49
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",22.00,245.12,179.482858,1 - 2.66,13 - 23.49
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",15.09,174.58,123.012936,3 - 7.64,11 - 17.13
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",23.79,263.31,192.804737,3 - 4.56,11 - 29.04
0,PMD_Diff1,14.98,149.03,116.373524,8 - 8.54,6 - 23.57
0,PMD_Diff2,23.37,264.55,190.663104,2 - 4.38,12 - 26.53
0,PMD_Diff1_BC,31.93,318.98,253.990131,0 - 0,14 - 31.93

Building models for Language:English and Component:Bing Web Master Tools
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,46.35,668.07,596.008902,0 - 0,14 - 46.35
0,HoltsTrend,49.57,705.78,633.563487,0 - 0,14 - 49.57
0,HWAdditive,48.24,687.99,616.838882,1 - 1.89,13 - 51.81
0,HWMult,47.55,680.73,608.901568,1 - 2.62,13 - 51.0
0,"ARIMA_(1, 1, 1)",47.70,683.45,611.586585,0 - 0,14 - 47.7
0,"ARIMA_BC_(1, 1, 1)",48.02,686.15,614.772184,0 - 0,14 - 48.02
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",40.49,591.16,521.336872,1 - 10.6,13 - 42.79
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",36.92,554.00,481.300432,1 - 3.85,13 - 39.47
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",51.34,723.50,652.670187,0 - 0,14 - 51.34
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",37.78,559.12,489.645296,1 - 6.63,13 - 40.18
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",50.93,720.99,648.740426,0 - 0,14 - 50.93
0,PMD_Diff1,42.69,616.20,547.710624,1 - 6.8,13 - 45.45
0,PMD_Diff2,20.13,307.00,254.033787,3 - 14.8,11 - 21.58
0,PMD_Diff1_BC,42.91,619.81,550.790081,1 - 6.95,13 - 45.68

Building models for Language:English and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,39.98,1189.28,1124.810197,14 - 39.98,0 - 0
0,HoltsTrend,50.74,1500.44,1436.815426,14 - 50.74,0 - 0
0,HWAdditive,15.41,512.38,422.003429,10 - 18.21,4 - 8.4
0,HWMult,69.75,2119.45,1976.307718,14 - 69.75,0 - 0
0,"ARIMA_(1, 1, 1)",60.82,1841.23,1735.147712,14 - 60.82,0 - 0
0,"ARIMA_BC_(1, 1, 1)",66.66,2122.01,1886.760424,14 - 66.66,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",13.75,465.28,387.512593,8 - 17.79,6 - 8.37
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",13.82,520.09,426.516331,5 - 8.62,9 - 16.71
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",10.21,357.35,303.589716,5 - 10.14,9 - 10.25
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",14.47,477.49,416.747192,6 - 22.1,8 - 8.75
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",13.30,442.61,398.327570,6 - 15.4,8 - 11.73
0,PMD_Diff1,15.81,557.49,441.040570,8 - 23.34,6 - 5.76
0,PMD_Diff2,15.43,531.16,459.673962,4 - 19.63,10 - 13.75
0,PMD_Diff1_BC,13.73,480.74,380.444410,9 - 17.11,5 - 7.65

Building models for Language:English and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,16.28,71.61,61.786243,9 - 20.22,5 - 9.19
0,HoltsTrend,37.94,203.90,168.280947,0 - 0,14 - 37.94
0,HWAdditive,17.58,91.85,74.597530,3 - 17.42,11 - 17.62
0,HWMult,18.50,98.79,81.416743,3 - 14.1,11 - 19.7
0,"ARIMA_(1, 1, 1)",17.48,106.12,80.305059,4 - 5.46,10 - 22.29
0,"ARIMA_BC_(1, 1, 1)",15.49,90.72,69.888241,6 - 6.34,8 - 22.35
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",15.36,82.29,66.573790,3 - 15.74,11 - 15.26
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",23.69,125.22,104.721728,2 - 7.26,12 - 26.43
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",23.50,123.97,103.813444,2 - 7.79,12 - 26.12
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",32.50,161.17,139.618880,1 - 15.55,13 - 33.8
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",31.45,156.05,134.919850,2 - 8.74,12 - 35.23
0,PMD_Diff1,19.40,91.68,80.704152,9 - 18.57,5 - 20.87
0,PMD_Diff2,225.22,1096.31,953.656385,0 - 0,14 - 225.22
0,PMD_Diff1_BC,13.74,81.97,59.273286,6 - 13.53,8 - 13.9

Building models for Language:English and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,14.69,10.01,8.353681,5 - 17.14,1 - 2.42
0,HoltsTrend,538.56,332.32,324.254455,6 - 538.56,0 - 0
0,"ARIMA_(1, 1, 1)",9.66,6.70,5.613064,4 - 11.51,2 - 5.95
0,"ARIMA_BC_(1, 1, 1)",9.89,6.89,5.716095,4 - 12.08,2 - 5.49
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",28.85,20.56,17.213203,4 - 33.16,2 - 20.23
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",39.94,28.67,24.400163,5 - 42.24,1 - 28.4
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",41.14,28.28,24.690187,5 - 44.08,1 - 26.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",40.64,27.36,23.708288,5 - 44.84,1 - 19.66
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",39.03,27.09,23.351117,5 - 42.19,1 - 23.25
0,PMD_Diff1,43.71,29.27,25.500000,5 - 49.42,1 - 15.15
0,PMD_Diff2,43.68,30.47,25.395961,5 - 50.5,1 - 9.61
0,PMD_Diff1_BC,51.53,34.39,30.166667,5 - 58.13,1 - 18.52

Building models for Language:English and Component:Malware/Bundling/Downloads
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,877.45,72.45,64.470713,11 - 1102.74,3 - 51.4
0,HoltsTrend,5214.08,341.20,331.187352,0 - 0,14 - 5214.08
0,HWAdditive,991.26,67.00,61.961642,12 - 1149.8,2 - 40.05
0,HWMult,1530.53,96.38,91.479915,12 - 1778.12,2 - 44.96
0,"ARIMA_(1, 1, 1)",893.25,71.16,65.029523,11 - 1124.6,3 - 44.97
0,"ARIMA_BC_(1, 1, 1)",943.76,73.38,67.349621,11 - 1188.97,3 - 44.69
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",1090.56,78.69,75.021007,11 - 1378.09,3 - 36.25
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",2058.75,129.53,120.271126,12 - 2394.79,2 - 42.53
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",2105.84,130.31,116.727470,12 - 2448.88,2 - 47.57
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",1915.24,120.05,113.694920,12 - 2226.74,2 - 46.27
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",1902.71,118.93,110.910986,12 - 2211.3,2 - 51.17
0,PMD_Diff1,1478.35,107.14,99.755105,11 - 1866.25,3 - 56.06
0,PMD_Diff2,4536.15,267.35,236.471109,12 - 5287.5,2 - 28.08
0,PMD_Diff1_BC,1247.45,88.68,84.616955,11 - 1579.06,3 - 31.54

Building models for Language:English and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,130.84,16.15,13.731422,6 - 130.84,0 - 0
0,HoltsTrend,553.05,70.06,67.516296,6 - 553.05,0 - 0
0,"ARIMA_(1, 1, 1)",59.66,9.35,8.473320,2 - 115.86,4 - 31.56
0,"ARIMA_BC_(1, 1, 1)",67.53,9.65,8.653642,2 - 148.11,4 - 27.24
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",78.42,16.11,14.577295,0 - 0,6 - 78.42
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",80.52,16.56,14.985329,0 - 0,6 - 80.52
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",80.51,16.56,14.984298,0 - 0,6 - 80.51
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",428.81,54.92,51.517248,0 - 0,6 - 428.81
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",415.89,53.60,50.523624,0 - 0,6 - 415.89
0,PMD_Diff1,427.37,55.72,52.199693,0 - 0,6 - 427.37
0,PMD_Diff2,455.99,58.67,55.820945,0 - 0,6 - 455.99
0,PMD_Diff1_BC,77.56,16.06,14.496027,0 - 0,6 - 77.56

Building models for Language:English and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,24.44,409.56,302.095207,10 - 32.58,4 - 4.09
0,HoltsTrend,22.02,449.67,363.439526,2 - 26.31,12 - 21.3
0,HWAdditive,17.84,316.07,265.165033,8 - 17.28,6 - 18.58
0,HWMult,53.63,858.49,774.857643,14 - 53.63,0 - 0
0,"ARIMA_(1, 1, 1)",59.98,924.80,821.206331,13 - 63.75,1 - 10.93
0,"ARIMA_BC_(1, 1, 1)",76.16,1175.76,1062.483930,13 - 81.41,1 - 8.04
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",50.16,796.69,706.277862,12 - 57.96,2 - 3.34
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",20.34,420.99,332.088606,6 - 15.23,8 - 24.18
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",19.99,376.93,309.932772,7 - 19.61,7 - 20.38
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",20.03,398.15,314.165447,7 - 18.95,7 - 21.11
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",21.17,451.29,349.200748,7 - 14.31,7 - 28.04
0,PMD_Diff1,35.35,580.85,471.676018,11 - 43.38,3 - 5.88
0,PMD_Diff2,63.79,1088.74,856.022013,10 - 81.5,4 - 19.52
0,PMD_Diff1_BC,56.97,894.26,804.096471,14 - 56.97,0 - 0

Building models for Language:English and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_(1,1,1)----
Results Dataframe is empty
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,12.84,6.16,5.184482,5 - 9.36,9 - 14.77
0,HoltsTrend,45.38,18.56,17.860409,0 - 0,14 - 45.38
0,HWAdditive,58.63,25.72,21.313077,14 - 58.63,0 - 0
0,HWMult,36.83,18.17,13.503704,10 - 46.79,4 - 11.92
0,"ARIMA_BC_(1, 1, 1)",12.82,6.54,5.282176,3 - 10.12,11 - 13.55
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",20.39,10.11,7.756624,10 - 23.71,4 - 12.09
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",447.66,217.46,166.731387,14 - 447.66,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",517.53,257.43,193.755700,14 - 517.53,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",136.20,54.85,50.900168,14 - 136.2,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",148.18,59.90,55.448663,14 - 148.18,0 - 0
0,PMD_Diff1,42.67,18.95,15.951933,14 - 42.67,0 - 0
0,PMD_Diff2,343.25,142.20,127.829804,14 - 343.25,0 - 0
0,PMD_Diff1_BC,21.26,10.15,8.056085,10 - 26.5,4 - 8.16

Building models for Language:English and Component:SEAM
====================================================================================================
TS Data Set shape:  (65,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,25.99,27.70,20.006277,7 - 29.51,6 - 21.87
0,HoltsTrend,196.78,148.17,144.428101,13 - 196.78,0 - 0
0,HWAdditive,33.51,33.77,25.577986,7 - 39.49,6 - 26.54
0,HWMult,45.54,36.17,30.160826,11 - 47.42,2 - 35.21
0,"ARIMA_(1, 1, 1)",34.12,26.29,22.766195,10 - 37.6,3 - 22.51
0,"ARIMA_BC_(1, 1, 1)",33.86,25.05,20.958869,11 - 38.44,2 - 8.67
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",33.46,34.94,27.741514,5 - 35.96,8 - 31.9
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",54.83,62.17,50.293316,0 - 0,13 - 54.83
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",52.67,60.87,48.832452,0 - 0,13 - 52.67
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",51.45,65.21,49.395252,1 - 13.7,12 - 54.6
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",44.44,58.53,43.104766,3 - 10.83,10 - 54.52
0,PMD_Diff1,28.45,33.83,24.383729,5 - 30.79,8 - 26.99
0,PMD_Diff2,95.64,101.77,85.062929,0 - 0,13 - 95.64
0,PMD_Diff1_BC,47.97,58.18,45.183235,1 - 4.26,12 - 51.61

Building models for Language:English and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,10.60,21.46,15.413738,3 - 5.57,11 - 11.98
0,HoltsTrend,222.86,313.06,295.752558,0 - 0,14 - 222.86
0,HWAdditive,14.26,23.11,19.743756,1 - 4.64,13 - 15.0
0,HWMult,20.22,31.15,27.787507,0 - 0,14 - 20.22
0,"ARIMA_(1, 1, 1)",13.93,27.15,20.208552,1 - 4.46,13 - 14.66
0,"ARIMA_BC_(1, 1, 1)",14.60,27.54,21.088186,1 - 3.64,13 - 15.45
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",19.49,30.10,26.724648,0 - 0,14 - 19.49
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",9.62,15.18,12.489604,6 - 11.48,8 - 8.23
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",9.39,14.99,12.209730,6 - 11.3,8 - 7.95
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",9.61,15.67,12.536550,6 - 12.45,8 - 7.47
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",9.24,15.37,12.097684,7 - 10.56,7 - 7.92
0,PMD_Diff1,14.84,25.08,20.582869,2 - 4.03,12 - 16.64
0,PMD_Diff2,28.29,42.55,38.539022,0 - 0,14 - 28.29
0,PMD_Diff1_BC,24.30,39.74,32.471315,12 - 27.66,2 - 4.17

Building models for Language:English and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,13.19,205.11,175.971644,2 - 18.6,12 - 12.29
0,HoltsTrend,79.52,1080.57,1010.103060,14 - 79.52,0 - 0
0,HWAdditive,12.94,203.66,175.814233,2 - 0.9,12 - 14.95
0,HWMult,12.36,195.17,168.522423,2 - 2.04,12 - 14.08
0,"ARIMA_(1, 1, 1)",17.47,272.97,239.296564,2 - 9.08,12 - 18.87
0,"ARIMA_BC_(1, 1, 1)",17.51,272.82,239.750273,2 - 9.08,12 - 18.92
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",14.69,228.48,200.334797,0 - 0,14 - 14.69
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",23.44,342.25,315.200676,0 - 0,14 - 23.44
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",21.68,318.92,291.913002,0 - 0,14 - 21.68
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",26.91,384.61,357.877380,0 - 0,14 - 26.91
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",24.57,353.85,327.405106,0 - 0,14 - 24.57
0,PMD_Diff1,13.15,205.77,178.574357,2 - 1.55,12 - 15.08
0,PMD_Diff2,29.17,425.40,386.514177,0 - 0,14 - 29.17
0,PMD_Diff1_BC,13.96,244.25,193.428779,4 - 2.41,10 - 18.58

Building models for Language:Finnish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,83.20,6.40,5.000000,7 - 131.83,7 - 34.56
0,HoltsTrend,75.68,11.16,8.545859,2 - 101.17,12 - 71.43
0,HWAdditive,66.88,6.61,4.845761,5 - 123.83,9 - 35.24
0,HWMult,66.34,7.78,4.811451,6 - 100.44,8 - 40.77
0,"ARIMA_(1, 1, 1)",69.99,6.56,4.944094,6 - 111.95,8 - 38.53
0,"ARIMA_BC_(1, 1, 1)",62.78,7.20,5.339625,4 - 116.96,10 - 41.11
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",65.71,7.58,5.777136,4 - 114.72,10 - 46.1
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",459.02,37.61,31.428829,14 - 459.02,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",516.52,46.74,38.385346,14 - 516.52,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",189.71,10.07,8.682935,12 - 220.5,2 - 4.97
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",196.99,10.72,9.374184,14 - 196.99,0 - 0
0,PMD_Diff1,78.98,6.27,4.632832,6 - 147.17,8 - 27.84
0,PMD_Diff2,190.36,11.33,9.946384,13 - 204.4,1 - 7.9
0,PMD_Diff1_BC,59.47,6.95,5.203806,4 - 101.23,10 - 42.76

Building models for Language:Finnish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_BC_(1,1,1)----
Results Dataframe is empty
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,74.09,10.45,7.659943,9 - 109.38,5 - 10.55
0,HoltsTrend,116.17,17.55,15.076302,14 - 116.17,0 - 0
0,HWAdditive,105.09,32.08,26.744225,3 - 81.49,11 - 111.52
0,HWMult,88.05,22.68,19.792926,3 - 126.61,11 - 77.53
0,"ARIMA_(1, 1, 1)",59.20,9.01,7.189217,6 - 113.64,8 - 18.37
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",119.12,19.36,14.371457,12 - 137.23,2 - 10.45
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",78.73,11.86,8.589005,9 - 111.07,5 - 20.51
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",116.90,21.03,17.143376,13 - 125.47,1 - 5.39
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",118.72,32.52,26.142018,3 - 154.02,11 - 109.09
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",114.69,30.42,24.249094,3 - 169.26,11 - 99.81
0,PMD_Diff1,95.18,14.44,10.795152,7 - 172.89,7 - 17.47
0,PMD_Diff2,125.31,34.24,27.201937,3 - 168.54,11 - 113.52
0,PMD_Diff1_BC,136.91,23.78,19.683244,14 - 136.91,0 - 0

Building models for Language:French and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (64,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,102.53,5.17,4.055896,5 - 227.51,8 - 24.41
0,HoltsTrend,115.67,5.36,4.244872,7 - 191.39,6 - 27.34
0,HWAdditive,127.79,5.90,4.858856,6 - 246.77,7 - 25.81
0,HWMult,106.73,6.49,5.564485,8 - 146.74,5 - 42.71
0,"ARIMA_(1, 1, 1)",129.27,5.91,4.652093,7 - 217.72,6 - 26.08
0,"ARIMA_BC_(1, 1, 1)",236.78,10.04,8.349178,9 - 331.14,4 - 24.46
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",245.10,10.12,8.251936,10 - 308.28,3 - 34.51
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",126.63,6.16,4.936758,6 - 231.84,7 - 36.46
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",122.13,6.38,4.880459,3 - 429.75,10 - 29.85
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",148.42,6.86,5.712653,7 - 255.54,6 - 23.45
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",136.21,6.31,5.275473,6 - 266.74,7 - 24.34
0,PMD_Diff1,141.65,6.44,5.276723,7 - 245.73,6 - 20.23
0,PMD_Diff2,69.36,4.67,3.993595,5 - 125.66,8 - 34.17
0,PMD_Diff1_BC,243.20,9.67,7.156813,7 - 412.21,6 - 46.03

Building models for Language:French and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,33.20,111.63,101.958295,0 - 0,14 - 33.2
0,HoltsTrend,17.42,52.05,48.241756,12 - 17.75,2 - 15.43
0,HWAdditive,29.96,98.22,90.626767,0 - 0,14 - 29.96
0,HWMult,31.92,103.82,95.732110,0 - 0,14 - 31.92
0,"ARIMA_(1, 1, 1)",27.81,94.75,85.708383,0 - 0,14 - 27.81
0,"ARIMA_BC_(1, 1, 1)",24.03,84.25,74.655912,0 - 0,14 - 24.03
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",27.81,93.46,83.431219,0 - 0,14 - 27.81
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",25.99,87.73,77.677472,0 - 0,14 - 25.99
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",33.90,108.07,101.077607,0 - 0,14 - 33.9
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",25.53,85.85,77.555596,0 - 0,14 - 25.53
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",33.12,106.38,99.529057,0 - 0,14 - 33.12
0,PMD_Diff1,27.47,96.38,84.109376,0 - 0,14 - 27.47
0,PMD_Diff2,70.06,231.69,211.714470,0 - 0,14 - 70.06
0,PMD_Diff1_BC,39.07,129.05,117.957289,0 - 0,14 - 39.07

Building models for Language:French and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,21.73,26.28,19.990519,10 - 26.24,4 - 10.46
0,HoltsTrend,57.79,83.48,69.272738,0 - 0,14 - 57.79
0,HWAdditive,22.57,26.95,21.341040,12 - 23.22,2 - 18.66
0,HWMult,28.11,31.20,27.040257,12 - 29.55,2 - 19.5
0,"ARIMA_(1, 1, 1)",30.04,32.19,27.722509,13 - 31.18,1 - 15.32
0,"ARIMA_BC_(1, 1, 1)",25.31,28.04,23.130244,13 - 25.74,1 - 19.79
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",27.75,31.93,26.903593,12 - 29.7,2 - 16.03
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",19.43,27.64,20.944694,5 - 23.3,9 - 17.29
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",18.14,25.26,18.682975,5 - 27.77,9 - 12.79
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",19.40,28.02,21.047501,4 - 28.68,10 - 15.69
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",18.00,25.44,18.865864,6 - 21.63,8 - 15.28
0,PMD_Diff1,27.31,33.34,25.636367,12 - 28.95,2 - 17.47
0,PMD_Diff2,106.75,148.52,124.966716,0 - 0,14 - 106.75
0,PMD_Diff1_BC,36.42,44.53,35.148505,12 - 39.01,2 - 20.91

Building models for Language:French and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,34.07,7.80,5.846285,5 - 35.84,9 - 33.08
0,HoltsTrend,61.33,8.29,7.173140,12 - 65.66,2 - 35.34
0,HWAdditive,37.21,6.95,5.713769,6 - 46.87,8 - 29.98
0,HWMult,49.58,10.37,8.407863,2 - 22.44,12 - 54.1
0,"ARIMA_(1, 1, 1)",36.33,7.06,5.460534,7 - 41.99,7 - 30.66
0,"ARIMA_BC_(1, 1, 1)",42.07,7.10,5.506957,9 - 50.77,5 - 26.4
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",36.93,6.00,5.003043,8 - 47.97,6 - 22.22
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",100.07,15.76,12.765336,12 - 114.98,2 - 10.64
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",99.33,15.44,12.491628,11 - 124.25,3 - 7.95
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",42.59,6.67,5.456929,9 - 53.32,5 - 23.26
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",45.16,6.88,5.629530,10 - 52.37,4 - 27.12
0,PMD_Diff1,33.77,6.70,5.413665,6 - 37.57,8 - 30.92
0,PMD_Diff2,44.78,6.65,5.659163,9 - 56.88,5 - 23.0
0,PMD_Diff1_BC,66.57,11.79,9.544905,5 - 81.6,9 - 58.22

Building models for Language:French and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_BC_(1,1,1)----
Results Dataframe is empty

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,228.21,6.40,5.872963,4 - 329.18,2 - 26.26
0,HoltsTrend,86.19,6.00,4.328165,2 - 161.79,4 - 48.39
0,"ARIMA_(1, 1, 1)",313.25,8.53,7.623142,5 - 370.06,1 - 29.21
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",212.97,6.28,5.758621,5 - 248.97,1 - 32.95
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",92.21,9.12,7.142247,0 - 0,6 - 92.21
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",92.52,9.14,7.164224,0 - 0,6 - 92.52
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",557.23,16.08,14.055729,6 - 557.23,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",548.36,15.68,13.785973,6 - 548.36,0 - 0
0,PMD_Diff1,322.19,8.69,7.944444,5 - 381.44,1 - 25.93
0,PMD_Diff2,1872.87,65.72,58.944444,0 - 0,6 - 1872.87
0,PMD_Diff1_BC,532.08,16.13,13.583333,5 - 638.5,1 - 0.0

Building models for Language:French and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,66.92,6.88,4.666667,3 - 86.17,3 - 47.67
0,HoltsTrend,287.67,16.63,15.242349,0 - 0,6 - 287.67
0,"ARIMA_(1, 1, 1)",64.12,7.24,4.936874,2 - 101.77,4 - 45.29
0,"ARIMA_BC_(1, 1, 1)",68.31,7.21,5.006749,2 - 114.28,4 - 45.32
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",55.21,6.42,3.747201,2 - 109.48,4 - 28.07
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",69.84,8.44,5.919037,0 - 0,6 - 69.84
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",66.88,8.47,5.864156,0 - 0,6 - 66.88
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",113.28,9.53,6.853399,0 - 0,6 - 113.28
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",131.40,9.72,7.182512,0 - 0,6 - 131.4
0,PMD_Diff1,69.68,6.64,4.657660,3 - 97.3,3 - 42.06
0,PMD_Diff2,87.15,8.94,6.243748,2 - 29.27,4 - 116.09
0,PMD_Diff1_BC,55.64,7.57,5.030303,1 - 81.82,5 - 50.41

Building models for Language:French and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,37.61,19.01,13.726569,6 - 26.56,8 - 45.89
0,HoltsTrend,56.42,24.67,19.535510,0 - 0,14 - 56.42
0,HWAdditive,37.93,20.88,14.703053,3 - 22.43,11 - 42.16
0,HWMult,38.84,21.42,15.193026,1 - 13.93,13 - 40.76
0,"ARIMA_(1, 1, 1)",44.82,19.75,15.132438,6 - 41.38,8 - 47.41
0,"ARIMA_BC_(1, 1, 1)",42.48,23.38,17.009157,2 - 10.18,12 - 47.87
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",49.12,23.42,17.603298,1 - 78.33,13 - 46.87
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",60.27,25.71,20.141425,1 - 21.6,13 - 63.24
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",55.80,25.27,19.660236,0 - 0,14 - 55.8
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",83.56,28.93,25.084820,0 - 0,14 - 83.56
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",80.04,28.23,24.226331,0 - 0,14 - 80.04
0,PMD_Diff1,54.74,22.56,18.145923,2 - 38.09,12 - 57.52
0,PMD_Diff2,218.38,57.15,53.646221,0 - 0,14 - 218.38
0,PMD_Diff1_BC,65.48,25.69,18.976594,3 - 100.77,11 - 55.85

Building models for Language:French and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (61,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,42.79,3.25,2.729502,2 - 45.91,11 - 42.22
0,HoltsTrend,41.58,3.10,2.588014,2 - 57.84,11 - 38.62
0,HWAdditive,37.56,2.79,2.251920,3 - 41.51,10 - 36.37
0,HWMult,35.22,2.96,2.284809,2 - 28.25,11 - 36.48
0,"ARIMA_(1, 1, 1)",41.50,2.96,2.467748,3 - 52.04,10 - 38.34
0,"ARIMA_BC_(1, 1, 1)",43.63,3.16,2.634923,3 - 48.48,10 - 42.18
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",44.28,3.31,2.684065,5 - 44.43,8 - 44.18
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",116.60,6.47,4.968145,9 - 156.75,4 - 26.26
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",66.74,3.36,2.654770,6 - 120.8,7 - 20.4
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",41.13,2.56,2.067392,6 - 49.26,7 - 34.16
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",38.72,2.54,2.058750,3 - 70.2,10 - 29.27
0,PMD_Diff1,43.12,3.45,2.784047,2 - 39.76,11 - 43.73
0,PMD_Diff2,101.60,6.19,5.577343,0 - 0,13 - 101.6
0,PMD_Diff1_BC,45.32,3.57,2.883606,5 - 44.55,8 - 45.81

Building models for Language:French and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,26.25,11.80,10.102945,4 - 43.6,10 - 19.3
0,HoltsTrend,25.62,10.77,9.213790,6 - 36.56,8 - 17.41
0,HWAdditive,25.27,10.48,8.435422,7 - 40.09,7 - 10.46
0,HWMult,34.20,15.04,12.599230,9 - 34.45,5 - 33.74
0,"ARIMA_(1, 1, 1)",26.86,10.59,8.913793,8 - 37.46,6 - 12.73
0,"ARIMA_BC_(1, 1, 1)",69.88,28.25,25.041571,14 - 69.88,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",56.04,27.40,21.369332,13 - 60.06,1 - 3.79
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",238.14,125.63,97.502619,14 - 238.14,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",231.52,114.07,92.379024,14 - 231.52,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",30.14,12.39,9.636295,11 - 35.61,3 - 10.08
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",30.78,12.62,9.843676,11 - 36.77,3 - 8.8
0,PMD_Diff1,58.51,23.45,20.163319,13 - 61.54,1 - 19.13
0,PMD_Diff2,30.95,13.26,10.459592,8 - 40.0,6 - 18.88
0,PMD_Diff1_BC,56.58,26.55,20.369496,14 - 56.58,0 - 0

Building models for Language:German and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (63,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,254.47,10.60,8.465269,9 - 361.8,4 - 12.96
0,HoltsTrend,290.26,12.13,9.506052,10 - 374.45,3 - 9.61
0,HWAdditive,354.72,16.36,12.909648,13 - 354.72,0 - 0
0,HWMult,565.71,41.56,37.878884,12 - 604.75,1 - 97.24
0,"ARIMA_(1, 1, 1)",355.51,15.01,12.304746,12 - 383.54,1 - 19.25
0,"ARIMA_BC_(1, 1, 1)",806.46,36.15,31.590716,12 - 872.72,1 - 11.39
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",792.53,41.42,35.723870,13 - 792.53,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",441.22,22.84,18.977612,12 - 476.83,1 - 13.93
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",456.37,23.76,19.914147,12 - 493.65,1 - 8.98
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",462.09,22.06,19.158051,13 - 462.09,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",471.76,23.32,20.343691,13 - 471.76,0 - 0
0,PMD_Diff1,390.15,19.15,15.991632,13 - 390.15,0 - 0
0,PMD_Diff2,514.62,25.13,22.182284,13 - 514.62,0 - 0
0,PMD_Diff1_BC,1502.47,77.26,47.297381,10 - 1939.92,3 - 44.28

Building models for Language:German and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,24.39,84.68,69.720381,1 - 33.55,13 - 23.69
0,HoltsTrend,60.40,179.71,166.267960,0 - 0,14 - 60.4
0,HWAdditive,14.22,56.56,39.124621,2 - 28.72,12 - 11.8
0,HWMult,18.78,66.08,52.457170,3 - 13.16,11 - 20.32
0,"ARIMA_(1, 1, 1)",18.06,65.81,51.200688,2 - 20.53,12 - 17.64
0,"ARIMA_BC_(1, 1, 1)",16.19,60.93,45.201789,4 - 14.26,10 - 16.97
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",19.65,69.60,53.358361,6 - 22.97,8 - 17.16
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",26.74,94.33,69.336337,9 - 32.33,5 - 16.67
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",47.84,142.84,122.035428,12 - 52.85,2 - 17.78
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",17.77,65.14,48.725915,5 - 20.52,9 - 16.24
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",17.73,62.87,47.061377,8 - 18.21,6 - 17.09
0,PMD_Diff1,17.77,67.44,50.255001,3 - 20.11,11 - 17.13
0,PMD_Diff2,57.45,163.25,146.447946,12 - 61.7,2 - 31.95
0,PMD_Diff1_BC,20.05,70.94,53.951614,6 - 26.03,8 - 15.56

Building models for Language:German and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,13.03,42.21,26.693897,9 - 18.41,5 - 3.35
0,HoltsTrend,77.48,203.16,193.361461,14 - 77.48,0 - 0
0,HWAdditive,16.55,48.78,37.543878,14 - 16.55,0 - 0
0,HWMult,18.65,54.73,41.550155,13 - 19.13,1 - 12.4
0,"ARIMA_(1, 1, 1)",21.12,59.49,47.461202,13 - 22.5,1 - 3.06
0,"ARIMA_BC_(1, 1, 1)",97.21,263.38,245.311977,14 - 97.21,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",34.20,94.27,81.836784,14 - 34.2,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",16.85,51.17,38.642355,6 - 20.14,8 - 14.38
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",18.37,54.98,42.686702,6 - 20.35,8 - 16.88
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",17.54,53.07,40.305514,4 - 31.73,10 - 11.87
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",16.05,51.89,34.389658,9 - 19.71,5 - 9.46
0,PMD_Diff1,20.02,61.21,45.214286,6 - 29.14,8 - 13.18
0,PMD_Diff2,99.91,327.68,270.801806,0 - 0,14 - 99.91
0,PMD_Diff1_BC,18.82,57.35,42.200000,6 - 27.85,8 - 12.05

Building models for Language:German and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,26.84,7.99,5.489333,3 - 51.27,11 - 20.18
0,HoltsTrend,25.17,7.53,4.923495,8 - 24.41,6 - 26.19
0,HWAdditive,33.74,7.32,5.814347,10 - 37.73,4 - 23.78
0,HWMult,38.79,8.37,6.830001,6 - 64.03,8 - 19.86
0,"ARIMA_(1, 1, 1)",36.69,7.44,6.274958,10 - 41.09,4 - 25.67
0,"ARIMA_BC_(1, 1, 1)",95.11,17.16,15.147038,12 - 109.19,2 - 10.62
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",75.42,15.03,12.226090,14 - 75.42,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",29.95,6.80,5.604643,4 - 50.07,10 - 21.9
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",33.23,8.08,6.805073,4 - 31.78,10 - 33.81
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",25.74,6.92,4.998647,5 - 41.05,9 - 17.24
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",29.00,7.38,5.588881,6 - 37.65,8 - 22.52
0,PMD_Diff1,21.13,7.36,4.999350,4 - 14.12,10 - 23.93
0,PMD_Diff2,25.11,6.81,5.152262,10 - 24.84,4 - 25.77
0,PMD_Diff1_BC,132.21,44.79,25.417619,8 - 209.95,6 - 28.55

Building models for Language:German and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,109.21,5.35,5.188959,5 - 124.77,1 - 31.44
0,HoltsTrend,111.31,5.44,5.274081,5 - 127.4,1 - 30.86
0,"ARIMA_(1, 1, 1)",127.72,6.14,5.931166,5 - 148.16,1 - 25.48
0,"ARIMA_BC_(1, 1, 1)",115.37,5.59,5.413422,5 - 132.82,1 - 28.15
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",70.11,4.33,3.956687,3 - 101.24,3 - 38.99
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",75.81,5.93,5.037258,0 - 0,6 - 75.81
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",75.75,5.94,5.036691,0 - 0,6 - 75.75
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",87.69,6.40,5.468954,1 - 159.4,5 - 73.35
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",88.71,6.46,5.520235,1 - 159.43,5 - 74.57
0,PMD_Diff1,92.86,5.51,5.000000,3 - 133.33,3 - 52.38
0,PMD_Diff2,289.52,17.15,14.940524,1 - 28.83,5 - 341.66
0,PMD_Diff1_BC,69.16,4.31,3.939394,3 - 98.48,3 - 39.83

Building models for Language:German and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,51.38,24.16,19.385602,1 - 0.39,13 - 55.3
0,HoltsTrend,57.29,16.26,14.498852,11 - 66.76,3 - 22.54
0,HWAdditive,50.63,23.20,18.639865,2 - 5.31,12 - 58.19
0,HWMult,54.60,24.45,19.929678,0 - 0,14 - 54.6
0,"ARIMA_(1, 1, 1)",59.29,25.78,21.447098,0 - 0,14 - 59.29
0,"ARIMA_BC_(1, 1, 1)",65.30,27.52,23.268063,0 - 0,14 - 65.3
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",100.52,35.99,27.340910,12 - 110.88,2 - 38.35
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",308.24,205.65,105.112301,12 - 357.69,2 - 11.53
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",265.82,152.59,85.668552,12 - 308.73,2 - 8.36
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",55.48,24.92,20.158347,2 - 23.4,12 - 60.83
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",64.00,26.72,22.438635,1 - 57.69,13 - 64.49
0,PMD_Diff1,51.02,22.47,18.267920,2 - 28.36,12 - 54.8
0,PMD_Diff2,91.05,38.97,31.979417,1 - 6.37,13 - 97.56
0,PMD_Diff1_BC,114.61,47.58,32.550493,11 - 135.88,3 - 36.64

Building models for Language:German and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (57,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,90.69,4.23,3.416667,6 - 140.75,6 - 40.64
0,HoltsTrend,97.60,4.22,3.489685,6 - 158.19,6 - 37.01
0,HWAdditive,92.89,4.08,3.269196,8 - 118.93,4 - 40.82
0,HWMult,96.63,4.73,3.915870,6 - 155.19,6 - 38.08
0,"ARIMA_(1, 1, 1)",121.50,4.39,3.705180,6 - 211.69,6 - 31.3
0,"ARIMA_BC_(1, 1, 1)",132.06,4.73,4.024145,7 - 201.36,5 - 35.04
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",111.99,4.06,3.812399,9 - 137.77,3 - 34.66
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",261.94,10.68,9.679799,11 - 283.45,1 - 25.42
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",362.47,14.36,12.981951,11 - 393.94,1 - 16.32
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",217.77,7.10,6.243328,9 - 285.65,3 - 14.14
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",218.96,7.14,6.259037,9 - 287.24,3 - 14.12
0,PMD_Diff1,112.75,4.28,3.658721,8 - 151.44,4 - 35.37
0,PMD_Diff2,432.60,16.04,13.798125,11 - 469.43,1 - 27.47
0,PMD_Diff1_BC,94.06,4.12,3.820972,10 - 102.63,2 - 51.21

Building models for Language:German and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,21.37,12.54,10.786918,6 - 30.44,8 - 14.57
0,HoltsTrend,20.77,14.91,12.583605,3 - 17.26,11 - 21.72
0,HWAdditive,34.43,19.49,15.424423,11 - 42.14,3 - 6.14
0,HWMult,36.48,22.67,18.315692,9 - 37.36,5 - 34.89
0,"ARIMA_(1, 1, 1)",32.54,19.08,14.242643,9 - 47.11,5 - 6.3
0,"ARIMA_BC_(1, 1, 1)",177.14,97.60,85.349340,14 - 177.14,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",122.22,67.22,61.089538,13 - 128.53,1 - 40.16
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",117.90,64.75,59.522134,13 - 123.77,1 - 41.71
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",109.65,61.10,55.808651,13 - 114.47,1 - 46.99
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",73.10,39.43,34.717874,13 - 77.53,1 - 15.53
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",67.04,36.20,31.855993,13 - 70.9,1 - 16.95
0,PMD_Diff1,44.78,24.86,20.893444,12 - 50.14,2 - 12.6
0,PMD_Diff2,23.07,13.65,11.140167,9 - 28.08,5 - 14.05
0,PMD_Diff1_BC,104.82,58.01,53.152779,13 - 109.51,1 - 43.86

Building models for Language:Italian and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_(1,1,1)----
Results Dataframe is empty
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,27.64,18.88,16.357143,7 - 32.56,7 - 22.73
0,HoltsTrend,40.21,24.11,20.471209,12 - 44.07,2 - 17.01
0,HWAdditive,45.37,27.22,23.685284,12 - 50.51,2 - 14.54
0,HWMult,46.33,32.10,24.464352,12 - 51.76,2 - 13.78
0,"ARIMA_BC_(1, 1, 1)",47.37,28.04,25.135242,12 - 52.65,2 - 15.68
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",42.92,28.12,23.742162,11 - 50.8,3 - 14.01
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",64.53,45.21,37.814875,12 - 72.62,2 - 16.0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",61.43,42.48,35.804844,12 - 68.88,2 - 16.69
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",40.72,26.40,21.519491,12 - 44.45,2 - 18.39
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",38.65,26.05,20.271089,12 - 41.83,2 - 19.58
0,PMD_Diff1,42.20,28.79,22.233604,13 - 42.9,1 - 33.07
0,PMD_Diff2,35.02,26.95,23.114318,3 - 49.46,11 - 31.08
0,PMD_Diff1_BC,36.14,26.94,22.730983,9 - 40.99,5 - 27.41

Building models for Language:Italian and Component:Delivery
====================================================================================================
TS Data Set shape:  (62,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,51.58,2.27,1.837370,2 - 67.94,11 - 48.6
0,HoltsTrend,51.03,2.24,1.806972,2 - 71.3,11 - 47.34
0,HWAdditive,51.18,2.51,1.933590,3 - 35.65,10 - 55.84
0,HWMult,53.30,2.58,2.042044,2 - 39.28,11 - 55.85
0,"ARIMA_(1, 1, 1)",48.44,2.07,1.634774,2 - 96.33,11 - 39.74
0,"ARIMA_BC_(1, 1, 1)",49.88,2.16,1.729658,2 - 81.76,11 - 44.08
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",50.47,2.28,1.794225,4 - 40.97,9 - 54.7
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",81.08,2.28,1.848698,8 - 108.37,5 - 37.42
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",74.75,2.00,1.606127,8 - 99.01,5 - 35.93
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",61.96,1.84,1.554013,6 - 92.37,7 - 35.89
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",60.48,1.80,1.513973,5 - 105.98,8 - 32.04
0,PMD_Diff1,55.15,2.51,1.960366,4 - 45.19,9 - 59.57
0,PMD_Diff2,101.95,2.73,2.359660,11 - 105.68,2 - 81.4
0,PMD_Diff1_BC,54.69,2.45,1.938444,3 - 57.57,10 - 53.82

Building models for Language:Italian and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (63,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,48.92,8.02,7.271622,6 - 77.58,7 - 24.35
0,HoltsTrend,113.48,17.82,15.436784,12 - 122.25,1 - 8.19
0,HWAdditive,66.76,10.57,9.230787,12 - 71.6,1 - 8.69
0,HWMult,37.61,9.71,8.055555,5 - 44.73,8 - 33.16
0,"ARIMA_(1, 1, 1)",44.54,7.54,6.403349,7 - 63.54,6 - 22.38
0,"ARIMA_BC_(1, 1, 1)",117.75,18.54,16.359354,13 - 117.75,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",92.74,34.50,20.594501,12 - 97.57,1 - 34.83
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",149.44,57.55,34.462694,12 - 158.92,1 - 35.67
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",209.44,73.12,47.341820,12 - 224.6,1 - 27.56
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",169.97,28.82,27.551258,13 - 169.97,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",161.41,27.21,25.988561,13 - 161.41,0 - 0
0,PMD_Diff1,71.73,11.40,10.157971,12 - 77.1,1 - 7.21
0,PMD_Diff2,230.26,41.26,38.234757,13 - 230.26,0 - 0
0,PMD_Diff1_BC,211.52,73.89,47.536811,12 - 227.19,1 - 23.5

Building models for Language:Italian and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (47,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,133.49,1.68,1.533099,8 - 160.96,2 - 23.62
0,HoltsTrend,143.78,1.80,1.628729,8 - 174.52,2 - 20.82
0,HWAdditive,222.18,2.79,2.509284,10 - 222.18,0 - 0
0,HWMult,114.29,1.60,1.448248,8 - 138.11,2 - 19.01
0,"ARIMA_(1, 1, 1)",155.93,1.95,1.708995,8 - 193.03,2 - 7.51
0,"ARIMA_BC_(1, 1, 1)",142.78,1.79,1.579646,8 - 174.53,2 - 15.8
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",130.42,1.70,1.530661,8 - 157.58,2 - 21.78
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",162.84,2.14,1.980251,9 - 177.97,1 - 26.68
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",167.77,2.19,2.025729,9 - 183.39,1 - 27.17
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",271.69,3.42,3.193364,10 - 271.69,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",263.55,3.32,3.085115,10 - 263.55,0 - 0
0,PMD_Diff1,200.88,2.61,2.393229,10 - 200.88,0 - 0
0,PMD_Diff2,334.44,4.29,4.038923,10 - 334.44,0 - 0
0,PMD_Diff1_BC,153.69,2.05,1.858917,8 - 187.19,2 - 19.69

Building models for Language:Italian and Component:Tscore
====================================================================================================
TS Data Set shape:  (63,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_BC_(1,1,1)----
Results Dataframe is empty
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,39.27,5.28,4.557905,1 - 85.79,12 - 35.4
0,HoltsTrend,31.69,4.10,3.395461,3 - 48.31,10 - 26.7
0,HWAdditive,35.59,4.66,3.969154,3 - 37.57,10 - 35.0
0,HWMult,35.41,4.55,3.986911,3 - 34.1,10 - 35.81
0,"ARIMA_(1, 1, 1)",34.90,4.70,3.979379,2 - 52.15,11 - 31.77
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",40.54,5.03,4.003248,4 - 59.3,9 - 32.21
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",58.20,7.15,6.518693,1 - 115.59,12 - 53.41
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",51.61,6.58,5.940096,1 - 80.8,12 - 49.18
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",41.01,5.36,4.481982,2 - 70.81,11 - 35.59
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",34.66,4.42,3.792286,3 - 42.85,10 - 32.2
0,PMD_Diff1,42.01,5.44,4.760538,3 - 37.42,10 - 43.38
0,PMD_Diff2,38.19,4.49,3.712825,4 - 54.53,9 - 30.93
0,PMD_Diff1_BC,61.19,8.47,7.367867,1 - 19.84,12 - 64.63

Building models for Language:Norwegian and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,84.92,8.08,6.563642,10 - 110.9,4 - 19.96
0,HoltsTrend,129.78,21.09,17.455272,0 - 0,14 - 129.78
0,HWAdditive,124.54,11.31,10.070250,13 - 131.47,1 - 34.39
0,HWMult,119.64,12.27,10.571047,12 - 136.36,2 - 19.32
0,"ARIMA_(1, 1, 1)",96.65,8.69,7.328791,12 - 108.0,2 - 28.52
0,"ARIMA_BC_(1, 1, 1)",92.31,8.41,6.949248,12 - 102.83,2 - 29.2
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",85.10,8.97,6.967643,9 - 118.63,5 - 24.75
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",266.71,28.44,23.123308,13 - 286.03,1 - 15.56
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",174.87,18.33,15.361466,13 - 186.57,1 - 22.83
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",170.69,15.39,14.104331,13 - 182.04,1 - 23.23
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",140.25,12.75,11.529867,13 - 148.88,1 - 27.99
0,PMD_Diff1,85.22,8.43,6.800084,10 - 111.1,4 - 20.51
0,PMD_Diff2,484.96,50.51,45.947078,14 - 484.96,0 - 0
0,PMD_Diff1_BC,80.21,8.78,6.894410,8 - 120.26,6 - 26.81

Building models for Language:Norwegian and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,256.47,12.19,11.457433,14 - 256.47,0 - 0
0,HoltsTrend,232.94,10.73,9.916959,14 - 232.94,0 - 0
0,HWAdditive,237.47,12.41,11.486726,14 - 237.47,0 - 0
0,HWMult,107.47,9.40,7.648000,2 - 281.61,12 - 78.44
0,"ARIMA_(1, 1, 1)",263.81,13.04,12.193824,14 - 263.81,0 - 0
0,"ARIMA_BC_(1, 1, 1)",761.97,48.19,44.975512,14 - 761.97,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",751.62,54.82,49.649327,14 - 751.62,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",188.11,10.65,9.203440,13 - 200.06,1 - 32.85
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",244.25,14.85,13.477768,14 - 244.25,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",120.64,5.86,4.942392,9 - 168.16,5 - 35.12
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",120.62,5.77,4.924218,9 - 166.7,5 - 37.67
0,PMD_Diff1,219.66,11.40,10.372846,14 - 219.66,0 - 0
0,PMD_Diff2,115.69,11.34,8.796668,3 - 174.62,11 - 99.61
0,PMD_Diff1_BC,202.49,11.94,10.484053,11 - 253.08,3 - 17.0

Building models for Language:Norwegian and Component:Tscore
====================================================================================================
TS Data Set shape:  (61,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:547: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  warnings.warn('Inverting hessian failed, no bse or cov_params '

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,7.19,0.55,0.173274,12 - 2.3,1 - 65.9
0,HoltsTrend,664.71,7.79,7.313890,0 - 0,13 - 664.71
0,HWAdditive,38.40,0.71,0.495041,8 - 42.31,5 - 32.14
0,HWMult,37.38,0.71,0.486131,8 - 39.17,5 - 34.53
0,"ARIMA_(1, 1, 1)",25.61,0.70,0.378957,0 - 0,13 - 25.61
0,"ARIMA_BC_(1, 1, 1)",13.91,0.61,0.250591,0 - 0,13 - 13.91
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",23.11,0.66,0.346518,7 - 16.11,6 - 31.27
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",56.60,0.76,0.642213,11 - 61.69,2 - 28.61
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",52.49,0.71,0.601604,11 - 56.82,2 - 28.7
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",68.50,0.86,0.755534,11 - 75.57,2 - 29.66
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",61.03,0.78,0.682015,11 - 66.73,2 - 29.71
0,PMD_Diff1,66.95,1.04,0.791534,7 - 90.09,6 - 39.94
0,PMD_Diff2,176.87,2.05,1.776251,13 - 176.87,0 - 0
0,PMD_Diff1_BC,40.93,0.77,0.525181,7 - 50.08,6 - 30.25

Building models for Language:Portuguese and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,110.17,4.02,3.189061,8 - 180.34,6 - 16.61
0,HoltsTrend,130.12,4.49,3.651175,11 - 158.26,3 - 26.95
0,HWAdditive,120.64,4.25,3.042465,9 - 174.58,5 - 23.54
0,HWMult,533.79,18.37,16.727910,0 - 0,14 - 533.79
0,"ARIMA_(1, 1, 1)",159.52,5.32,4.546970,10 - 212.49,4 - 27.09
0,"ARIMA_BC_(1, 1, 1)",140.06,4.98,4.181269,8 - 222.11,6 - 30.66
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",214.68,6.59,5.166736,12 - 242.99,2 - 44.82
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",438.87,13.53,9.224354,12 - 507.0,2 - 30.09
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",346.59,10.52,7.798862,12 - 398.45,2 - 35.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",331.77,11.24,8.910432,12 - 383.57,2 - 20.95
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",317.39,10.89,8.650408,12 - 366.43,2 - 23.19
0,PMD_Diff1,397.76,13.97,11.085890,13 - 425.08,1 - 42.64
0,PMD_Diff2,312.61,11.95,8.732314,12 - 359.73,2 - 29.86
0,PMD_Diff1_BC,294.95,9.02,6.993920,12 - 337.76,2 - 38.05

Building models for Language:Portuguese and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,44.39,61.60,53.467842,0 - 0,14 - 44.39
0,HoltsTrend,57.58,74.09,66.849413,0 - 0,14 - 57.58
0,HWAdditive,51.37,66.57,59.781066,0 - 0,14 - 51.37
0,HWMult,49.80,66.17,58.488880,0 - 0,14 - 49.8
0,"ARIMA_(1, 1, 1)",40.39,56.40,48.617273,1 - 12.01,13 - 42.57
0,"ARIMA_BC_(1, 1, 1)",43.59,60.06,52.284061,1 - 4.52,13 - 46.59
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",31.29,48.41,37.352057,2 - 8.81,12 - 35.03
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",48.88,67.53,53.810870,7 - 64.32,7 - 33.44
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",30.76,41.60,34.265503,5 - 27.82,9 - 32.39
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",39.48,55.12,45.650171,0 - 0,14 - 39.48
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",43.20,58.86,51.267994,0 - 0,14 - 43.2
0,PMD_Diff1,46.22,60.34,52.322223,0 - 0,14 - 46.22
0,PMD_Diff2,39.27,53.90,45.112723,0 - 0,14 - 39.27
0,PMD_Diff1_BC,35.52,51.27,41.447401,2 - 19.08,12 - 38.26

Building models for Language:Portuguese and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_(1,1,1)----
Results Dataframe is empty
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,23.68,14.07,10.673512,8 - 30.7,6 - 14.32
0,HoltsTrend,142.53,76.72,70.590445,14 - 142.53,0 - 0
0,HWAdditive,35.06,20.94,17.028574,10 - 44.43,4 - 11.63
0,HWMult,27.94,16.53,13.564676,9 - 36.11,5 - 13.24
0,"ARIMA_BC_(1, 1, 1)",90.52,49.94,43.170987,13 - 97.3,1 - 2.43
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",41.45,24.85,20.207546,11 - 48.79,3 - 14.53
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",45.81,28.37,22.377000,11 - 55.59,3 - 9.95
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",42.94,26.44,21.032742,11 - 51.45,3 - 11.75
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",36.31,22.30,17.566842,10 - 46.78,4 - 10.14
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",44.05,26.80,21.179817,12 - 50.07,2 - 7.92
0,PMD_Diff1,35.00,22.24,17.332043,9 - 49.29,5 - 9.27
0,PMD_Diff2,35.06,22.39,17.655682,9 - 46.13,5 - 15.11
0,PMD_Diff1_BC,42.47,25.89,20.777312,11 - 50.52,3 - 12.96

Building models for Language:Portuguese and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,47.24,32.58,26.221971,1 - 12.45,13 - 49.92
0,HoltsTrend,50.75,21.42,16.141621,7 - 81.56,7 - 19.94
0,HWAdditive,50.29,27.71,23.413508,6 - 38.23,8 - 59.34
0,HWMult,57.03,30.70,23.443814,7 - 54.02,7 - 60.04
0,"ARIMA_(1, 1, 1)",58.81,36.62,30.855685,0 - 0,14 - 58.81
0,"ARIMA_BC_(1, 1, 1)",52.10,34.17,28.130259,1 - 10.5,13 - 55.3
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",77.74,50.92,31.848682,9 - 112.29,5 - 15.53
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",50.08,25.20,18.982229,4 - 89.01,10 - 34.5
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",74.39,39.31,35.215819,1 - 54.61,13 - 75.91
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",61.43,36.10,29.056423,2 - 56.33,12 - 62.29
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",48.81,28.61,23.534838,3 - 43.49,11 - 50.26
0,PMD_Diff1,52.70,30.84,25.495944,2 - 49.76,12 - 53.19
0,PMD_Diff2,45.92,26.04,21.663668,4 - 39.75,10 - 48.39
0,PMD_Diff1_BC,845.17,969.29,462.428571,14 - 845.17,0 - 0

Building models for Language:Portuguese and Component:Tscore
====================================================================================================
TS Data Set shape:  (59,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,31.47,3.63,3.000000,6 - 37.73,6 - 25.2
0,HoltsTrend,61.76,8.11,6.839123,0 - 0,12 - 61.76
0,HWAdditive,42.30,3.89,3.356503,8 - 55.27,4 - 16.36
0,HWMult,58.28,5.72,4.944676,9 - 64.1,3 - 40.8
0,"ARIMA_(1, 1, 1)",33.00,3.57,2.960136,6 - 45.57,6 - 20.42
0,"ARIMA_BC_(1, 1, 1)",29.28,3.57,2.789295,6 - 35.82,6 - 22.74
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",177.04,16.62,15.220248,11 - 189.69,1 - 37.96
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",239.27,23.53,21.593507,11 - 258.56,1 - 26.98
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",186.63,17.55,16.133339,11 - 200.32,1 - 35.96
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",96.08,8.91,7.751116,10 - 111.18,2 - 20.61
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",105.63,9.69,8.595188,11 - 113.07,1 - 23.79
0,PMD_Diff1,91.03,8.29,7.286537,10 - 106.67,2 - 12.87
0,PMD_Diff2,52.78,5.88,4.311819,9 - 59.87,3 - 31.5
0,PMD_Diff1_BC,219.19,20.94,19.094097,11 - 235.93,1 - 35.01

Building models for Language:Spanish and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (64,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,233.19,4.72,4.342924,9 - 321.29,4 - 34.96
0,HoltsTrend,259.01,5.03,4.595530,9 - 360.55,4 - 30.55
0,HWAdditive,289.49,5.46,4.785899,10 - 367.95,3 - 27.95
0,HWMult,225.52,7.10,5.604795,9 - 304.75,4 - 47.26
0,"ARIMA_(1, 1, 1)",246.00,4.91,4.421694,9 - 339.87,4 - 34.78
0,"ARIMA_BC_(1, 1, 1)",312.39,5.85,5.127626,10 - 395.23,3 - 36.27
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",363.02,7.05,5.758240,10 - 464.32,3 - 25.33
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",587.78,11.36,9.843152,12 - 633.89,1 - 34.49
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",584.72,11.30,9.789863,12 - 630.59,1 - 34.24
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",445.32,8.26,7.102276,11 - 523.56,2 - 14.99
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",446.69,8.23,7.043618,11 - 525.22,2 - 14.76
0,PMD_Diff1,373.60,7.26,6.097035,10 - 481.23,3 - 14.83
0,PMD_Diff2,502.72,9.82,8.402690,12 - 542.37,1 - 27.01
0,PMD_Diff1_BC,248.99,10.84,7.650051,8 - 365.37,5 - 62.78

Building models for Language:Spanish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,32.65,57.28,52.868782,0 - 0,14 - 32.65
0,HoltsTrend,107.73,176.54,168.925698,0 - 0,14 - 107.73
0,HWAdditive,15.97,31.28,26.023271,2 - 4.15,12 - 17.94
0,HWMult,19.91,36.17,31.421801,3 - 8.64,11 - 22.99
0,"ARIMA_(1, 1, 1)",30.55,53.62,49.430392,0 - 0,14 - 30.55
0,"ARIMA_BC_(1, 1, 1)",29.31,51.56,47.406238,0 - 0,14 - 29.31
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",21.27,36.60,33.454650,2 - 11.59,12 - 22.88
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",56.30,119.86,89.177118,14 - 56.3,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",38.23,85.12,60.360625,11 - 46.34,3 - 8.48
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",12.82,23.71,19.525264,7 - 15.93,7 - 9.7
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",13.22,24.23,20.051089,9 - 13.87,5 - 12.04
0,PMD_Diff1,23.11,42.17,37.230663,0 - 0,14 - 23.11
0,PMD_Diff2,12.35,23.12,19.619100,5 - 10.75,9 - 13.23
0,PMD_Diff1_BC,45.04,86.03,69.251311,10 - 48.3,4 - 36.88

Building models for Language:Spanish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,41.97,55.79,51.069778,10 - 49.0,4 - 24.4
0,HoltsTrend,87.09,107.38,99.215343,13 - 93.42,1 - 4.79
0,HWAdditive,56.49,69.02,63.923116,11 - 68.12,3 - 13.84
0,HWMult,61.72,81.64,71.603372,11 - 74.76,3 - 13.89
0,"ARIMA_(1, 1, 1)",54.92,67.40,61.761897,11 - 66.11,3 - 13.9
0,"ARIMA_BC_(1, 1, 1)",86.79,110.50,101.531495,13 - 93.04,1 - 5.54
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",92.04,118.02,106.571825,14 - 92.04,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",76.68,104.31,88.197326,14 - 76.68,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",66.01,86.79,73.569743,13 - 70.68,1 - 5.34
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",65.92,85.67,74.434878,11 - 82.46,3 - 5.26
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",63.34,81.07,71.814070,11 - 78.42,3 - 8.06
0,PMD_Diff1,65.24,84.25,74.198471,11 - 80.4,3 - 9.63
0,PMD_Diff2,98.12,197.51,154.002029,2 - 9.4,12 - 112.9
0,PMD_Diff1_BC,88.70,113.97,102.206383,14 - 88.7,0 - 0

Building models for Language:Spanish and Component:Delivery
====================================================================================================
TS Data Set shape:  (64,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,68.03,1.96,1.533815,7 - 106.36,6 - 23.32
0,HoltsTrend,75.76,2.00,1.631687,9 - 96.32,4 - 29.5
0,HWAdditive,126.99,3.00,2.630394,9 - 171.33,4 - 27.22
0,HWMult,178.85,4.57,3.886724,9 - 240.43,4 - 40.31
0,"ARIMA_(1, 1, 1)",106.23,2.45,2.114614,10 - 132.17,3 - 19.75
0,"ARIMA_BC_(1, 1, 1)",102.41,2.40,2.073722,9 - 138.85,4 - 20.42
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",180.95,4.35,3.632655,9 - 245.57,4 - 35.55
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",127.02,3.33,2.776495,8 - 178.3,5 - 44.98
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",99.53,3.01,2.445077,7 - 141.44,6 - 50.64
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",125.49,3.33,2.867383,8 - 173.73,5 - 48.31
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",131.93,3.55,3.110840,8 - 180.28,5 - 54.56
0,PMD_Diff1,171.17,4.23,3.635848,9 - 231.83,4 - 34.7
0,PMD_Diff2,122.49,5.44,4.400679,3 - 139.41,10 - 117.42
0,PMD_Diff1_BC,83.11,2.84,2.171894,5 - 148.29,8 - 42.37

Building models for Language:Spanish and Component:Enablements
====================================================================================================
TS Data Set shape:  (25,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
Value Error while fitting the model ARIMA: The computed initial MA coefficients are not invertible
You should induce invertibility, choose a different model order, or you can
pass your own start_params.
---ARIMA_BC_(1,1,1)----
Results Dataframe is empty

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,28.84,1.12,0.953648,1 - 3.86,4 - 35.09
0,HoltsTrend,27.06,1.04,0.887261,1 - 7.92,4 - 31.85
0,"ARIMA_(1, 1, 1)",15.64,0.72,0.540439,0 - 0,5 - 15.64
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",572.45,31.93,17.159420,4 - 705.23,1 - 41.32
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",1130.23,60.39,34.100934,5 - 1130.23,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",1296.19,71.19,39.119493,5 - 1296.19,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",146.51,6.52,4.295437,4 - 181.87,1 - 5.05
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",145.49,6.47,4.264367,4 - 180.58,1 - 5.09
0,PMD_Diff1,110.32,5.05,3.166794,4 - 131.26,1 - 26.57
0,PMD_Diff2,150.00,6.63,4.400000,4 - 187.5,1 - 0.0
0,PMD_Diff1_BC,88.33,4.17,2.600000,2 - 175.0,3 - 30.56

Building models for Language:Spanish and Component:Matching
====================================================================================================
TS Data Set shape:  (25,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (8,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---PMD_Diff1----
Value Error while prediction in Auto ARIMA: Input contains NaN, infinity or a value too large for dtype('float64').
---PMD_Diff2----
Results Dataframe is empty
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,47.65,1.54,1.054374,2 - 72.81,3 - 30.87
0,HoltsTrend,389.16,5.85,5.656390,5 - 389.16,0 - 0
0,"ARIMA_(1, 1, 1)",36.42,1.85,1.177686,2 - 5.09,3 - 57.31
0,"ARIMA_BC_(1, 1, 1)",36.29,1.84,1.169879,2 - 5.78,3 - 56.63
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",34.47,1.57,1.055956,3 - 21.09,2 - 54.54
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",35.54,1.80,1.121394,0 - 0,5 - 35.54
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",35.48,1.80,1.120429,0 - 0,5 - 35.48
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",41.33,1.71,1.100000,3 - 38.89,2 - 45.0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",41.33,1.71,1.100000,3 - 38.89,2 - 45.0
0,PMD_Diff1,82.64,2.29,1.791326,0 - 0,5 - 82.64
0,PMD_Diff1_BC,74.19,2.39,1.806961,0 - 0,5 - 74.19

Building models for Language:Spanish and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,36.77,37.39,28.796524,2 - 14.75,12 - 40.43
0,HoltsTrend,191.36,110.34,107.131666,0 - 0,14 - 191.36
0,HWAdditive,52.46,32.85,25.537794,6 - 91.09,8 - 23.48
0,HWMult,44.14,35.54,30.228963,2 - 57.74,12 - 41.88
0,"ARIMA_(1, 1, 1)",44.94,26.50,21.955038,7 - 72.26,7 - 17.63
0,"ARIMA_BC_(1, 1, 1)",41.12,28.14,23.921639,6 - 56.1,8 - 29.89
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",49.00,45.13,35.227076,1 - 1.98,13 - 52.61
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",44.66,39.64,31.247936,4 - 29.56,10 - 50.7
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",175.76,106.67,77.398603,12 - 204.77,2 - 1.67
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",46.64,30.34,23.456157,7 - 66.77,7 - 26.5
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",39.92,27.15,21.433199,7 - 50.5,7 - 29.34
0,PMD_Diff1,86.24,59.92,54.129867,0 - 0,14 - 86.24
0,PMD_Diff2,2055.15,1117.90,976.623737,14 - 2055.15,0 - 0
0,PMD_Diff1_BC,56.89,49.86,39.592039,3 - 18.3,11 - 67.41

Building models for Language:Spanish and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,44.78,0.58,0.500000,7 - 79.11,7 - 10.45
0,HoltsTrend,521.35,7.34,6.927771,0 - 0,14 - 521.35
0,HWAdditive,53.98,0.83,0.693538,7 - 75.73,7 - 32.23
0,HWMult,96.40,1.44,1.169622,10 - 123.95,4 - 27.54
0,"ARIMA_(1, 1, 1)",44.35,0.58,0.489096,7 - 79.59,7 - 9.12
0,"ARIMA_BC_(1, 1, 1)",41.20,0.52,0.486060,7 - 67.59,7 - 14.81
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",47.62,0.73,0.600642,7 - 70.27,7 - 24.97
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",122.00,1.73,1.414227,11 - 151.98,3 - 12.08
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",132.89,1.87,1.541266,11 - 166.62,3 - 9.21
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",73.03,1.06,0.870517,10 - 91.69,4 - 26.37
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",82.62,1.16,0.961379,11 - 98.38,3 - 24.84
0,PMD_Diff1,110.54,1.93,1.509515,6 - 188.99,8 - 51.7
0,PMD_Diff2,218.23,3.43,2.674904,12 - 254.09,2 - 3.03
0,PMD_Diff1_BC,64.81,1.02,0.894854,7 - 89.97,7 - 39.66

Building models for Language:Spanish and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (51,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,62.61,3.53,3.052784,2 - 153.74,9 - 42.36
0,HoltsTrend,106.16,3.40,2.430203,6 - 182.71,5 - 14.3
0,HWAdditive,81.91,3.20,2.930654,4 - 161.86,7 - 36.23
0,HWMult,92.55,3.77,3.316268,4 - 190.72,7 - 36.46
0,"ARIMA_(1, 1, 1)",71.87,2.85,2.484105,4 - 139.32,7 - 33.33
0,"ARIMA_BC_(1, 1, 1)",86.51,2.95,2.529511,4 - 190.47,7 - 27.11
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",111.87,3.89,3.325910,4 - 255.14,7 - 30.0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",80.59,3.83,3.377157,4 - 133.08,7 - 50.59
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",79.76,3.76,3.312767,4 - 132.35,7 - 49.72
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",70.06,3.86,3.348171,3 - 127.26,8 - 48.61
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",69.23,3.84,3.305979,3 - 125.62,8 - 48.08
0,PMD_Diff1,77.78,3.37,3.055990,4 - 140.1,7 - 42.16
0,PMD_Diff2,66.28,4.09,3.468576,2 - 150.33,9 - 47.61
0,PMD_Diff1_BC,126.50,4.53,3.882291,6 - 196.98,5 - 41.93

Building models for Language:Spanish and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,33.15,6.77,5.331396,3 - 58.78,11 - 26.16
0,HoltsTrend,34.03,6.31,5.069029,5 - 47.88,9 - 26.33
0,HWAdditive,38.33,6.03,4.956955,7 - 52.32,7 - 24.34
0,HWMult,46.80,7.61,6.480483,3 - 106.48,11 - 30.52
0,"ARIMA_(1, 1, 1)",36.51,6.31,5.270624,5 - 55.01,9 - 26.23
0,"ARIMA_BC_(1, 1, 1)",60.07,8.54,6.800515,10 - 77.0,4 - 17.73
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",96.81,13.53,11.086471,10 - 114.62,4 - 52.31
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",164.49,22.84,19.363040,10 - 214.44,4 - 39.61
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",86.71,12.62,10.705179,10 - 111.26,4 - 25.33
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",43.24,6.69,5.478398,6 - 68.16,8 - 24.55
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",36.96,6.22,5.072680,6 - 50.84,8 - 26.55
0,PMD_Diff1,39.36,6.10,5.027427,7 - 54.5,7 - 24.21
0,PMD_Diff2,43.70,6.90,5.586228,6 - 65.44,8 - 27.4
0,PMD_Diff1_BC,112.70,15.48,13.139571,10 - 140.27,4 - 43.78

Building models for Language:Swedish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,30.12,16.09,12.028046,5 - 39.95,9 - 24.66
0,HoltsTrend,53.83,18.04,16.209156,11 - 62.98,3 - 20.27
0,HWAdditive,30.62,14.81,10.704514,7 - 42.77,7 - 18.48
0,HWMult,36.56,18.57,14.068007,6 - 41.44,8 - 32.9
0,"ARIMA_(1, 1, 1)",32.10,14.54,10.713868,7 - 47.78,7 - 16.42
0,"ARIMA_BC_(1, 1, 1)",32.61,13.99,10.608299,10 - 35.84,4 - 24.54
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",37.94,16.37,12.397994,9 - 47.33,5 - 21.02
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",216.88,89.78,73.332069,14 - 216.88,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",201.54,83.60,68.040346,14 - 201.54,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",116.89,39.77,35.983980,14 - 116.89,0 - 0
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",115.53,39.35,35.549894,14 - 115.53,0 - 0
0,PMD_Diff1,30.70,14.88,10.553004,8 - 40.01,6 - 18.29
0,PMD_Diff2,403.29,154.56,138.146250,14 - 403.29,0 - 0
0,PMD_Diff1_BC,56.96,28.92,21.865084,7 - 75.96,7 - 37.96

Building models for Language:Swedish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,39.70,13.03,9.214286,7 - 64.34,7 - 15.06
0,HoltsTrend,39.21,13.59,10.190812,5 - 76.35,9 - 18.57
0,HWAdditive,58.34,18.38,13.889533,11 - 72.1,3 - 7.88
0,HWMult,57.18,19.07,12.919692,8 - 92.75,6 - 9.76
0,"ARIMA_(1, 1, 1)",55.61,16.81,13.041923,11 - 68.46,3 - 8.48
0,"ARIMA_BC_(1, 1, 1)",77.25,26.46,21.290452,14 - 77.25,0 - 0
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",109.27,42.21,33.183164,14 - 109.27,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",267.51,121.33,97.063793,14 - 267.51,0 - 0
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",331.66,157.34,124.251622,14 - 331.66,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",72.53,23.59,17.534006,13 - 77.91,1 - 2.54
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",74.59,24.46,18.540437,13 - 80.09,1 - 3.13
0,PMD_Diff1,75.30,24.12,17.970975,13 - 80.94,1 - 1.98
0,PMD_Diff2,58.91,19.08,12.672712,8 - 98.06,6 - 6.71
0,PMD_Diff1_BC,115.28,45.38,36.284521,14 - 115.28,0 - 0

Building models for Language:Swedish and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---SES----
---HoltsTrend---
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWAdditive-
Results Dataframe is empty
Value Error while fitting the model Holt Winters: operands could not be broadcast together with shapes (9,) (12,)
---HWMult----
Results Dataframe is empty
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,95.33,1.03,0.964230,6 - 95.33,0 - 0
0,HoltsTrend,1296.18,14.16,13.835453,6 - 1296.18,0 - 0
0,"ARIMA_(1, 1, 1)",58.89,0.64,0.607551,5 - 68.44,1 - 11.18
0,"ARIMA_BC_(1, 1, 1)",51.67,0.56,0.548197,5 - 58.21,1 - 18.92
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",767.07,15.29,7.701636,5 - 910.92,1 - 47.79
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",639.56,8.10,6.397857,5 - 767.21,1 - 1.34
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",590.78,7.70,5.912563,6 - 590.78,0 - 0
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",370.89,4.34,3.715136,5 - 444.32,1 - 3.74
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",344.12,4.11,3.449669,6 - 344.12,0 - 0
0,PMD_Diff1,233.33,3.37,2.333333,5 - 280.0,1 - 0.0
0,PMD_Diff2,344.12,4.43,3.497898,6 - 344.12,0 - 0
0,PMD_Diff1_BC,177.52,3.04,1.851435,5 - 203.88,1 - 45.74

Building models for Language:Traditional Chinese and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,32.66,23.41,17.784557,12 - 35.47,2 - 15.79
0,HoltsTrend,1497.13,1097.87,1039.563624,0 - 0,14 - 1497.13
0,HWAdditive,18.73,20.55,16.243133,3 - 13.79,11 - 20.07
0,HWMult,26.30,19.94,14.901825,6 - 45.38,8 - 11.99
0,"ARIMA_(1, 1, 1)",27.41,25.38,20.162368,2 - 41.48,12 - 25.06
0,"ARIMA_BC_(1, 1, 1)",23.20,17.68,12.668697,8 - 32.45,6 - 10.87
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",22.20,18.88,14.089519,6 - 30.16,8 - 16.24
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",81.20,67.89,51.072082,13 - 85.93,1 - 19.78
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",75.40,61.80,48.006988,13 - 79.8,1 - 18.16
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",102.68,83.53,64.982935,12 - 118.57,2 - 7.36
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",103.08,78.78,66.403198,14 - 103.08,0 - 0
0,PMD_Diff1,35.40,28.69,23.186712,12 - 38.21,2 - 18.54
0,PMD_Diff2,37.01,29.70,24.232128,12 - 40.23,2 - 17.7
0,PMD_Diff1_BC,20.05,17.65,14.015461,2 - 54.52,12 - 14.31

Building models for Language:Traditional Chinese and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,70.78,6.28,5.236734,13 - 75.93,1 - 3.77
0,HoltsTrend,2695.11,261.12,246.629829,0 - 0,14 - 2695.11
0,HWAdditive,185.68,20.90,18.203609,4 - 260.44,10 - 155.78
0,HWMult,1672.62,199.79,87.998419,14 - 1672.62,0 - 0
0,"ARIMA_(1, 1, 1)",677.42,65.83,64.524633,0 - 0,14 - 677.42
0,"ARIMA_BC_(1, 1, 1)",35.75,5.03,4.254781,2 - 38.25,12 - 35.33
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",66.31,8.87,6.877453,6 - 99.72,8 - 41.26
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",62.64,8.28,6.604994,5 - 103.47,9 - 39.96
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",63.00,8.10,6.754252,5 - 97.94,9 - 43.59
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",226.91,28.01,19.055340,13 - 244.01,1 - 4.58
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",1493.82,149.21,121.909206,14 - 1493.82,0 - 0
0,PMD_Diff1,203.25,27.53,18.324531,11 - 249.97,3 - 31.95
0,PMD_Diff2,691.01,69.29,62.883082,2 - 248.28,12 - 764.79
0,PMD_Diff1_BC,63.03,8.16,6.781778,5 - 97.08,9 - 44.11

Building models for Language:Traditional Chinese and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,48.03,3.91,2.597052,2 - 111.06,12 - 37.52
0,HoltsTrend,47.48,3.80,2.487424,5 - 51.83,9 - 45.07
0,HWAdditive,61.49,2.56,2.124620,7 - 94.61,7 - 28.37
0,HWMult,80.87,5.97,4.073229,1 - 359.91,13 - 59.4
0,"ARIMA_(1, 1, 1)",64.71,3.25,2.392043,7 - 93.69,7 - 35.74
0,"ARIMA_BC_(1, 1, 1)",55.91,3.51,2.492962,6 - 70.75,8 - 44.78
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",73.81,4.49,2.985123,7 - 115.12,7 - 32.49
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",73.26,4.66,3.015953,6 - 129.16,8 - 31.34
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",45.88,2.75,2.207909,3 - 78.93,11 - 36.86
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",64.30,3.35,2.632556,6 - 108.38,8 - 31.24
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",51.02,3.23,2.324475,4 - 84.85,10 - 37.49
0,PMD_Diff1,78.24,4.61,3.399976,6 - 123.74,8 - 44.11
0,PMD_Diff2,71.89,3.91,2.862883,8 - 101.94,6 - 31.83
0,PMD_Diff1_BC,71.10,4.51,2.980870,7 - 110.32,7 - 31.89

Building models for Language:Traditional Chinese and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (65,)
---SES----
---HoltsTrend---
---HWAdditive-

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,170.88,26.92,20.482087,10 - 200.05,3 - 73.64
0,HoltsTrend,336.97,27.01,26.150054,10 - 424.97,3 - 43.64
0,HWAdditive,199.50,26.31,22.026967,10 - 239.33,3 - 66.72
0,HWMult,120.26,37.66,24.661585,3 - 205.24,10 - 94.76
0,"ARIMA_(1, 1, 1)",198.85,25.99,21.318340,10 - 238.23,3 - 67.57
0,"ARIMA_BC_(1, 1, 1)",219.45,25.06,21.661415,10 - 267.01,3 - 60.93
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",191.86,21.82,18.729113,10 - 234.86,3 - 48.55
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",284.08,26.40,21.172617,11 - 330.94,2 - 26.32
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",314.38,30.06,22.558453,11 - 369.15,2 - 13.16
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",300.81,35.78,30.406721,10 - 371.9,3 - 63.81
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",296.86,35.17,30.032932,10 - 366.8,3 - 63.73
0,PMD_Diff1,293.19,35.02,29.930788,10 - 361.6,3 - 65.15
0,PMD_Diff2,200.47,35.46,26.983054,9 - 258.45,4 - 69.99
0,PMD_Diff1_BC,59.24,31.88,17.700737,3 - 59.49,10 - 59.16

Building models for Language:Traditional Chinese and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----
---HoltsTrend---
---HWAdditive-
---HWMult----
---ARIMA_(1,1,1)----
---ARIMA_BC_(1,1,1)----
---SARIMA_BC_(1,1,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(1,1,1,12)----
---SARIMA_BC_(1,2,1)_(0,1,1,12)----
---SARIMA_(1,2,1)_(1,1,1,12)----
---SARIMA_(1,2,1)_(0,1,1,12)----
---PMD_Diff1----
---PMD_Diff2----
---PMD_Diff1_BC----

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,SES,86.82,3.53,3.054917,11 - 102.79,3 - 28.27
0,HoltsTrend,57.88,3.94,3.098146,5 - 84.57,9 - 43.06
0,HWAdditive,217.39,10.52,7.414683,13 - 233.38,1 - 9.55
0,HWMult,283.82,16.99,9.901672,13 - 305.21,1 - 5.8
0,"ARIMA_(1, 1, 1)",168.07,6.42,5.924716,13 - 179.98,1 - 13.24
0,"ARIMA_BC_(1, 1, 1)",118.39,4.58,4.058785,13 - 125.13,1 - 30.73
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",112.62,7.01,4.361514,8 - 175.56,6 - 28.69
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",101.03,5.76,4.120697,6 - 192.77,8 - 32.23
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",105.20,5.96,4.189978,6 - 204.87,8 - 30.45
0,"SARIMA_(1, 2, 1)_(1, 1, 1, 12)",266.05,13.49,12.636714,1 - 453.61,13 - 251.62
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",121.22,7.58,5.607512,4 - 282.6,10 - 56.66
0,PMD_Diff1,132.39,9.43,6.025617,2 - 469.2,12 - 76.26
0,PMD_Diff2,381.31,19.42,17.983997,1 - 170.72,13 - 397.51
0,PMD_Diff1_BC,101.38,6.87,3.923184,8 - 151.41,6 - 34.68

Wall time: 22min 53s

In [45]:
cons_con_comp

,Language,Component,FirstMonth,LastMonth,Total,Missing,LastCont,AvgIssues,MissingPerc,DataAvl,Min Error Method Interpolation
18,Danish,Appeals,January2016,June2021,66,0,65,15.136364,0.0,66,HWAdditive
19,Danish,Complaints,January2016,May2021,65,1,53,21.140625,2.0,64,PMD_Diff2
16671,Danish,Tscore,January2016,June2021,66,31,2,1.457143,47.0,35,SES
6893,Dutch,Appeals,January2016,June2021,66,0,65,46.484848,0.0,66,HWAdditive
1174,Dutch,Complaints,January2016,June2021,66,0,65,50.878788,0.0,66,HWMult
8422,Dutch,Enablements,April2019,June2021,27,3,19,5.041667,11.0,24,SES
24716,Dutch,Tscore,February2016,June2021,65,11,13,7.000000,17.0,54,HoltsTrend
16697,English,Accounts & Billing,January2016,June2021,66,0,65,486.712121,0.0,66,"ARIMA_(1, 1, 1)"
4,English,Appeals,January2016,June2021,66,0,65,1626.045455,0.0,66,HoltsTrend
16717,English,Bing Places,January2016,June2021,66,0,65,755.712121,0.0,66,SES
18823,English,Bing Web Master Tools,January2016,June2021,66,0,65,712.575758,0.0,66,PMD_Diff2
216,English,Complaints,January2016,June2021,66,0,65,2822.287879,0.0,66,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)"
16809,English,Delivery,January2016,June2021,66,0,65,514.484848,0.0,66,SES
4877,English,Enablements,April2019,June2021,27,0,26,69.185185,0.0,27,"ARIMA_(1, 1, 1)"
9113,English,Malware/Bundling/Downloads,January2016,June2021,66,0,65,79.393939,0.0,66,HWAdditive
5349,English,Matching,April2019,June2021,27,0,26,33.000000,0.0,27,"ARIMA_(1, 1, 1)"
8932,English,Phishing/Techscam,January2016,June2021,66,0,65,1649.424242,0.0,66,HWAdditive
6603,English,Policy Questions,January2016,June2021,66,0,65,27.212121,0.0,66,SES
9699,English,SEAM,February2016,June2021,65,0,64,70.276923,0.0,65,"ARIMA_BC_(1, 1, 1)"
10464,English,Supply TQ Investigation,January2016,June2021,66,0,65,124.545455,0.0,66,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)"
16672,English,Tscore,January2016,June2021,66,0,65,1258.318182,0.0,66,HWMult
61,Finnish,Appeals,January2016,June2021,66,1,59,6.415385,2.0,65,PMD_Diff1
62,Finnish,Complaints,January2016,June2021,66,3,47,17.539683,5.0,63,"ARIMA_(1, 1, 1)"
16784,French,Accounts & Billing,March2016,June2021,64,9,22,7.363636,14.0,55,PMD_Diff2
68,French,Appeals,January2016,June2021,66,0,65,169.348485,0.0,66,HoltsTrend
69,French,Complaints,January2016,June2021,66,0,65,95.803030,0.0,66,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)"
16661,French,Delivery,January2016,June2021,66,2,53,8.593750,3.0,64,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)"
4613,French,Enablements,April2019,June2021,27,4,10,6.565217,15.0,23,HoltsTrend
4614,French,Matching,April2019,June2021,27,1,23,6.423077,4.0,26,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)"
8964,French,Phishing/Techscam,January2016,June2021,66,4,29,22.209677,6.0,62,SES
9402,French,Supply TQ Investigation,June2016,June2021,61,22,1,3.846154,36.0,39,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)"
16651,French,Tscore,January2016,June2021,66,0,65,24.712121,0.0,66,HWAdditive
22424,German,Accounts & Billing,April2016,June2021,63,6,52,13.421053,10.0,57,SES
1327,German,Appeals,January2016,June2021,66,0,65,158.333333,0.0,66,HWAdditive
1835,German,Complaints,January2016,June2021,66,0,65,180.924242,0.0,66,SES
28485,German,Delivery,January2016,June2021,66,3,41,12.301587,5.0,63,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)"
7986,German,Matching,April2019,June2021,27,0,26,9.888889,0.0,27,PMD_Diff1_BC
9792,German,Phishing/Techscam,January2016,June2021,66,3,30,20.380952,5.0,63,HoltsTrend
14403,German,Supply TQ Investigation,September2016,May2021,57,17,23,4.250000,30.0,40,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)"
23834,German,Tscore,January2016,June2021,66,2,62,34.953125,3.0,64,SES
3085,Italian,Appeals,January2016,June2021,66,0,65,39.060606,0.0,66,SES
29014,Italian,Delivery,May2016,June2021,62,17,24,2.288889,27.0,45,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)"
9567,Italian,Phishing/Techscam,April2016,June2021,63,6,15,14.701754,10.0,57,"ARIMA_(1, 1, 1)"
14165,Italian,Supply TQ Investigation,August2017,June2021,47,19,5,2.035714,40.0,28,HWMult
28413,Italian,Tscore,April2016,June2021,63,12,25,6.235294,19.0,51,HoltsTrend
83,Norwegian,Appeals,January2016,June2021,66,0,65,12.060606,0.0,66,SES
84,Norwegian,Complaints,January2016,June2021,66,3,49,11.698413,5.0,63,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)"
17005,Norwegian,Tscore,June2016,June2021,61,35,2,1.500000,57.0,26,SES
28614,Portuguese,Accounts & Billing,January2016,June2021,66,17,1,5.530612,26.0,49,SES
6329,Portuguese,Appeals,January2016,June2021,66,0,65,54.909091,0.0,66,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)"
5697,Portuguese,Complaints,January2016,June2021,66,0,65,38.954545,0.0,66,SES
15640,Portuguese,Phishing/Techscam,January2016,June2021,66,3,27,54.984127,5.0,63,HoltsTrend
24676,Portuguese,Tscore,August2016,June2021,59,8,32,6.647059,14.0,51,"ARIMA_(1, 1, 1)"
17123,Spanish,Accounts & Billing,March2016,June2021,64,10,1,4.314815,16.0,54,SES
94,Spanish,Appeals,January2016,June2021,66,0,65,83.045455,0.0,66,PMD_Diff2
95,Spanish,Complaints,January2016,June2021,66,0,65,87.924242,0.0,66,SES
16815,Spanish,Delivery,March2016,June2021,64,10,40,3.240741,16.0,54,SES
4983,Spanish,Enablements,June2019,June2021,25,4,3,2.761905,16.0,21,"ARIMA_(1, 1, 1)"
4984,Spanish,Matching,June2019,June2021,25,7,7,2.333333,28.0,18,SES
8969,Spanish,Phishing/Techscam,January2016,June2021,66,1,34,84.246154,2.0,65,"ARIMA_(1, 1, 1)"
96,Spanish,Policy Questions,January2016,June2021,66,24,6,2.095238,36.0,42,"ARIMA_BC_(1, 1, 1)"
10358,Spanish,Supply TQ Investigation,April2017,June2021,51,15,25,4.222222,29.0,36,"ARIMA_(1, 1, 1)"
16641,Spanish,Tscore,January2016,June2021,66,2,40,8.703125,3.0,64,HWAdditive
98,Swedish,Appeals,January2016,June2021,66,0,65,22.424242,0.0,66,"ARIMA_BC_(1, 1, 1)"
99,Swedish,Complaints,January2016,June2021,66,0,65,25.045455,0.0,66,SES
4646,Swedish,Enablements,April2019,June2021,27,5,1,2.090909,19.0,22,"ARIMA_BC_(1, 1, 1)"
6877,Traditional Chinese,Appeals,January2016,June2021,66,0,65,112.333333,0.0,66,PMD_Diff1_BC
4125,Traditional Chinese,Complaints,January2016,June2021,66,0,65,48.227273,0.0,66,"ARIMA_BC_(1, 1, 1)"
23133,Traditional Chinese,Delivery,January2016,June2021,66,17,1,3.102041,26.0,49,HWAdditive
13754,Traditional Chinese,Phishing/Techscam,February2016,June2021,65,14,26,12.372549,22.0,51,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)"
23273,Traditional Chinese,Tscore,January2016,June2021,66,7,53,7.389831,11.0,59,SES

In [46]:


%%time
#Forecasting with missng values linear interpolation
#Forecasting with only the min error model only
debug = False

all_res_intp_dfs = {}
all_err_intp_dfs = {}
i = 0
for row in cons_con_comp[['Language','Component', 'Min Error Method Interpolation']].itertuples():
    con, comp = row[1], row[2]
    print('Building models for Language:{} and Component:{}'.format(con, comp))
    print('='*100)
    ts_data = me_df[(me_df.Language==con)&(me_df.Component==comp)].groupby('Month')['Issues'].sum()
    
    #Index with all months from first to last
    idx = pd.date_range(ts_data.index.min(), ts_data.index.max(),freq='MS')
    #Reindex time series data to fill values with nan and use interpolation
    ts_data = ts_data.reindex(idx, fill_value=np.nan)
    #Interploate to impute
    ts_data = ts_data.interpolate()
    
    print('TS Data Set shape: ',ts_data.shape)

    #Initiate Consolidated Result and Error dataframes
    cons_err_df = pd.DataFrame()
    cons_res_df = pd.DataFrame()

    run_models(ts_data, bc=True,run_all_models=False,run_Forecast_model = row[3])
    
    
    all_res_intp_dfs[(con, comp)] = cons_res_df
    all_err_intp_dfs[(con, comp)] = cons_err_df
    
    display(cons_err_df)
    if debug:
        display(cons_res_df)
        
    #For testing.Run only limited combos
#     i += 1
#     if i==1:
#         break
    
    print()

Building models for Language:Danish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues  Issues_FC
2020-05-01      40  14.124963
2020-06-01      19  18.124963
2020-07-01      13  16.124963
2020-08-01      29  21.124963
2020-09-01      21  18.124963
2020-10-01      10  19.124963
2020-11-01      25  19.124963
2020-12-01      12  10.124963
2021-01-01      62  41.124963
2021-02-01      15  23.124963
2021-03-01      19  27.124963
2021-04-01      14  34.249926
2021-05-01      33  18.249926
2021-06-01      45  22.249926

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HWAdditive  45.36  13.59  10.883942        5 - 71.37         9 - 30.91

Building models for Language:Danish and Component:Complaints
====================================================================================================
TS Data Set shape:  (65,)
---PMD_Diff2----

            Issues  Issues_FC
2020-05-01    32.0  26.431930
2020-06-01    22.0  28.912210
2020-07-01    27.0  30.677612
2020-08-01    35.0  25.253958
2020-09-01     3.0  24.082259
2020-10-01    25.0  45.044899
2020-11-01    44.0  28.607478
2020-12-01    32.0  31.110340
2021-01-01    23.0  30.027890
2021-02-01    29.0  17.002969
2021-03-01    28.0  20.446654
2021-04-01    14.0   8.559411
2021-05-01     2.0   2.649933

      Method   MAPE   RMSE       MAE Over Predictions Under Predictions
0  PMD_Diff2  83.17  10.93  8.921697        6 - 148.5         7 - 27.17

Building models for Language:Danish and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01     1.0   1.049821
2020-06-01     1.0   1.049821
2020-07-01     1.0   1.049821
2020-08-01     1.0   1.049821
2020-09-01     1.0   1.049821
2020-10-01     1.0   1.049821
2020-11-01     1.0   1.049821
2020-12-01     1.0   1.049821
2021-01-01     1.0   1.049821
2021-02-01     2.0   1.049821
2021-03-01     1.0   1.049821
2021-04-01     2.0   1.049821
2021-05-01     3.0   1.049821
2021-06-01     1.0   1.049821

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  15.34  0.63  0.314184        11 - 4.98         3 - 53.34

Building models for Language:Dutch and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues  Issues_FC
2020-05-01      67  64.746186
2020-06-01      91  79.763441
2020-07-01      87  68.481749
2020-08-01      42  76.659868
2020-09-01      66  68.293308
2020-10-01      79  84.384183
2020-11-01      97  86.428165
2020-12-01      78  79.430289
2021-01-01      96  77.639460
2021-02-01      86  73.392105
2021-03-01      83  87.509241
2021-04-01      67  82.191957
2021-05-01      77  75.388704
2021-06-01     112  90.405959

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HWAdditive  16.13  14.74  11.444506        6 - 20.46         8 - 12.88

Building models for Language:Dutch and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---HWMult----

C:\Users\v-sivapaturi\Anaconda3\lib\site-packages\statsmodels\tsa\holtwinters\model.py:920: ConvergenceWarning: Optimization failed to converge. Check mle_retvals.
  warnings.warn(

            Issues   Issues_FC
2020-05-01      69   64.483625
2020-06-01      74   66.283663
2020-07-01      93   96.796914
2020-08-01      87  124.166087
2020-09-01      13   89.689014
2020-10-01      44   99.104519
2020-11-01      63   94.257356
2020-12-01      97  116.211777
2021-01-01      88  103.325930
2021-02-01      71   68.268019
2021-03-01      67   76.488107
2021-04-01      56   64.940007
2021-05-01      80   53.784387
2021-06-01      86   55.131561

   Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HWMult  69.17  31.39  23.502033        9 - 97.66          5 - 17.9

Building models for Language:Dutch and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---SES----

            Issues  Issues_FC
2021-01-01     4.0   7.966037
2021-02-01     6.0   7.966037
2021-03-01     7.0   7.966037
2021-04-01     3.0   7.966037
2021-05-01     1.0   7.966037
2021-06-01     2.0   7.966037

  Method    MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  217.69  4.64  4.132704       6 - 217.69             0 - 0

Building models for Language:Dutch and Component:Tscore
====================================================================================================
TS Data Set shape:  (65,)
---HoltsTrend---

            Issues  Issues_FC
2020-06-01     6.0   6.356590
2020-07-01    10.0   6.230530
2020-08-01     1.0   6.104470
2020-09-01     3.0   5.978411
2020-10-01     3.0   5.852351
2020-11-01     4.0   5.726291
2020-12-01     2.0   5.600232
2021-01-01     5.0   5.474172
2021-02-01    16.0   5.348112
2021-03-01    10.0   5.222053
2021-04-01     5.0   5.095993
2021-05-01     2.0   4.969933
2021-06-01     1.0   4.843874

       Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  HoltsTrend  125.4  4.24  3.323202      10 - 147.82         3 - 50.68

Building models for Language:English and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_(1,1,1)----

            Issues   Issues_FC
2020-05-01     510  514.752121
2020-06-01     606  516.284692
2020-07-01     522  507.671722
2020-08-01     444  502.515113
2020-09-01     491  496.180999
2020-10-01     537  490.248035
2020-11-01     440  484.178407
2020-12-01     416  478.155338
2021-01-01     454  472.116408
2021-02-01     420  466.082881
2021-03-01     473  460.047513
2021-04-01     432  454.012773
2021-05-01     391  447.977819
2021-06-01     424  441.942937

            Method  MAPE   RMSE        MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  7.71  43.43  35.690202         10 - 7.9          4 - 7.25

Building models for Language:English and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---HoltsTrend---

            Issues    Issues_FC
2020-05-01    3626  2628.851286
2020-06-01    3580  2607.228341
2020-07-01    2429  2585.605397
2020-08-01    2463  2563.982453
2020-09-01    2581  2542.359508
2020-10-01    2406  2520.736564
2020-11-01    2335  2499.113619
2020-12-01    1904  2477.490675
2021-01-01    1922  2455.867731
2021-02-01    1974  2434.244786
2021-03-01    2183  2412.621842
2021-04-01    1996  2390.998897
2021-05-01    1966  2369.375953
2021-06-01    2003  2347.753008

       Method   MAPE    RMSE         MAE Over Predictions Under Predictions
0  HoltsTrend  16.27  487.92  391.810842        11 - 15.6         3 - 18.72

Building models for Language:English and Component:Bing Places
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues   Issues_FC
2020-05-01     577  705.178346
2020-06-01     804  705.178346
2020-07-01     617  705.178346
2020-08-01     554  705.178346
2020-09-01     601  705.178346
2020-10-01     677  705.178346
2020-11-01     640  705.178346
2020-12-01     652  705.178346
2021-01-01     774  705.178346
2021-02-01     774  705.178346
2021-03-01     888  705.178346
2021-04-01     817  705.178346
2021-05-01     800  705.178346
2021-06-01     958  705.178346

  Method   MAPE    RMSE         MAE Over Predictions Under Predictions
0    SES  14.73  120.67  106.928571         7 - 14.8         7 - 14.66

Building models for Language:English and Component:Bing Web Master Tools
====================================================================================================
TS Data Set shape:  (66,)
---PMD_Diff2----

            Issues    Issues_FC
2020-05-01     573   711.706676
2020-06-01     624   617.381035
2020-07-01     774   798.621345
2020-08-01    1009   919.184922
2020-09-01    1275   817.144793
2020-10-01    1450   872.318683
2020-11-01    1278   874.720410
2020-12-01    1249   936.008493
2021-01-01    1469  1117.979674
2021-02-01    1307  1097.159775
2021-03-01    1515  1075.213837
2021-04-01    1435  1132.604912
2021-05-01    1300  1235.086982
2021-06-01    1040  1216.948509

      Method   MAPE   RMSE         MAE Over Predictions Under Predictions
0  PMD_Diff2  20.13  307.0  254.033787         3 - 14.8        11 - 21.58

Building models for Language:English and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

            Issues    Issues_FC
2020-05-01  2555.0  2993.315560
2020-06-01  2740.0  3028.841397
2020-07-01  3006.0  2729.981619
2020-08-01  3373.0  3031.614265
2020-09-01  3534.0  2777.559015
2020-10-01  3497.0  3010.863184
2020-11-01  3116.0  2905.791407
2020-12-01  3326.0  3320.882019
2021-01-01  3306.0  3326.360819
2021-02-01  3039.0  2705.023794
2021-03-01  2969.0  2833.711233
2021-04-01  2918.0  2475.304795
2021-05-01  2252.0  2571.553906
2021-06-01  2392.0  2587.915671

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",10.21,357.35,303.589716,5 - 10.14,9 - 10.25

Building models for Language:English and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01     374  443.50185
2020-06-01     359  443.50185
2020-07-01     380  443.50185
2020-08-01     376  443.50185
2020-09-01     473  443.50185
2020-10-01     434  443.50185
2020-11-01     456  443.50185
2020-12-01     320  443.50185
2021-01-01     310  443.50185
2021-02-01     379  443.50185
2021-03-01     485  443.50185
2021-04-01     516  443.50185
2021-05-01     425  443.50185
2021-06-01     518  443.50185

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  16.28  71.61  61.786243        9 - 20.22          5 - 9.19

Building models for Language:English and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2021-01-01      60  65.685844
2021-02-01      63  65.115770
2021-03-01      66  64.592386
2021-04-01      71  64.060483
2021-05-01      51  63.530135
2021-06-01      58  62.999503

            Method  MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  9.66   6.7  5.613064        4 - 11.51          2 - 5.95

Building models for Language:English and Component:Malware/Bundling/Downloads
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues   Issues_FC
2020-05-01     187  113.335913
2020-06-01     219  129.863591
2020-07-01      58  122.584925
2020-08-01      41   83.599122
2020-09-01      95   96.033756
2020-10-01      22   69.751894
2020-11-01       8   57.955455
2020-12-01       7   62.879796
2021-01-01       4   59.677260
2021-02-01       3   54.821394
2021-03-01      12   77.429231
2021-04-01       6   69.773533
2021-05-01       6   98.814227
2021-06-01       2  115.341905

       Method    MAPE  RMSE        MAE Over Predictions Under Predictions
0  HWAdditive  991.26  67.0  61.961642      12 - 1149.8         2 - 40.05

Building models for Language:English and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2021-01-01      18  15.539352
2021-02-01      27  15.239980
2021-03-01      30  16.107290
2021-04-01      21  16.234333
2021-05-01       9  16.831080
2021-06-01       7  17.129797

            Method   MAPE  RMSE      MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  59.66  9.35  8.47332       2 - 115.86         4 - 31.56

Building models for Language:English and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues    Issues_FC
2020-05-01    1964  1596.772307
2020-06-01    1604  1728.570671
2020-07-01    2033  1644.408644
2020-08-01    1571  1643.989557
2020-09-01    1669  1760.290974
2020-10-01    1673  1715.142478
2020-11-01    1678  1545.222344
2020-12-01    1521  1779.407674
2021-01-01    1107  1569.604095
2021-02-01     860  1312.627814
2021-03-01    1333  1418.738499
2021-04-01    1888  1270.099731
2021-05-01    1802  1491.879954
2021-06-01    1929  1623.678318

       Method   MAPE    RMSE         MAE Over Predictions Under Predictions
0  HWAdditive  17.84  316.07  265.165033        8 - 17.28         6 - 18.58

Building models for Language:English and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      42  36.104313
2020-06-01      41  36.104313
2020-07-01      42  36.104313
2020-08-01      51  36.104313
2020-09-01      42  36.104313
2020-10-01      43  36.104313
2020-11-01      40  36.104313
2020-12-01      35  36.104313
2021-01-01      29  36.104313
2021-02-01      32  36.104313
2021-03-01      41  36.104313
2021-04-01      35  36.104313
2021-05-01      35  36.104313
2021-06-01      41  36.104313

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  12.84  6.16  5.184482         5 - 9.36         9 - 14.77

Building models for Language:English and Component:SEAM
====================================================================================================
TS Data Set shape:  (65,)
---ARIMA_BC_(1,1,1)----

            Issues   Issues_FC
2020-06-01    60.0   78.713699
2020-07-01    76.0   77.559126
2020-08-01    46.0   83.019533
2020-09-01    54.0   85.160597
2020-10-01    87.0   89.289834
2020-11-01    45.0   92.571863
2020-12-01    73.0   96.531261
2021-01-01    77.0  100.361139
2021-02-01    79.0  104.502591
2021-03-01    76.0  108.729464
2021-04-01   119.0  113.173015
2021-05-01   112.0  117.773702
2021-06-01   140.0  122.574503

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"ARIMA_BC_(1, 1, 1)",33.86,25.05,20.958869,11 - 38.44,2 - 8.67

Building models for Language:English and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

            Issues   Issues_FC
2020-05-01   129.0  124.665495
2020-06-01   138.0  112.731156
2020-07-01   134.0  116.985303
2020-08-01   139.0  129.441637
2020-09-01   121.0  116.785297
2020-10-01   129.0  133.732317
2020-11-01   115.0  125.355915
2020-12-01   108.0   98.665414
2021-01-01   119.0  148.039320
2021-02-01   132.0  133.559612
2021-03-01   164.0  163.231089
2021-04-01   174.0  156.995020
2021-05-01   137.0  152.412757
2021-06-01   122.0  144.336709

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",9.39,14.99,12.20973,6 - 11.3,8 - 7.95

Building models for Language:English and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---HWMult----

            Issues    Issues_FC
2020-05-01    1187  1211.272868
2020-06-01    1294  1115.899317
2020-07-01    1286  1113.287929
2020-08-01    1228  1155.463223
2020-09-01    1335  1157.572686
2020-10-01    1433  1329.960792
2020-11-01    1565  1282.516047
2020-12-01     946   860.047724
2021-01-01    1057  1078.456735
2021-02-01    1310  1063.887485
2021-03-01    1488  1254.151573
2021-04-01    1491  1182.207933
2021-05-01    1284  1165.149041
2021-06-01    1407  1073.271935

   Method   MAPE    RMSE         MAE Over Predictions Under Predictions
0  HWMult  12.36  195.17  168.522423         2 - 2.04        12 - 14.08

Building models for Language:Finnish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---PMD_Diff1----

            Issues  Issues_FC
2020-05-01    13.0   9.356669
2020-06-01     7.0   6.550930
2020-07-01     2.0  10.561579
2020-08-01    10.0  10.337710
2020-09-01     6.0  10.834011
2020-10-01     7.0   7.935296
2020-11-01     2.0   7.599495
2020-12-01     9.0   8.178122
2021-01-01    20.0  10.789601
2021-02-01     6.0  10.658707
2021-03-01    14.0  12.103197
2021-04-01    15.0   8.234088
2021-05-01    12.0  10.639022
2021-06-01    25.0   9.215525

      Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  PMD_Diff1  78.98  6.27  4.632832       6 - 147.17         8 - 27.84

Building models for Language:Finnish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2020-05-01    24.0  25.631573
2020-06-01    21.0  23.625671
2020-07-01    17.0  25.166937
2020-08-01    30.0  25.060748
2020-09-01     4.0  25.719707
2020-10-01    35.0  26.023298
2020-11-01    41.0  26.491937
2020-12-01    37.0  26.883921
2021-01-01    30.0  27.311507
2021-02-01    33.0  27.722558
2021-03-01    30.0  28.141288
2021-04-01    24.0  28.556452
2021-05-01    19.0  28.973272
2021-06-01    33.0  29.389323

            Method  MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  59.2  9.01  7.189217       6 - 113.64         8 - 18.37

Building models for Language:French and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (64,)
---PMD_Diff2----

            Issues  Issues_FC
2020-06-01    20.0  12.972441
2020-07-01    17.0   8.998398
2020-08-01    17.0  12.774258
2020-09-01    17.0  13.780022
2020-10-01    11.0   5.617468
2020-11-01    11.0  12.054598
2020-12-01    13.0   8.428474
2021-01-01    10.0  11.233350
2021-02-01     9.0  10.717319
2021-03-01    13.0   5.826668
2021-04-01     9.0   8.275689
2021-05-01     1.0   6.445104
2021-06-01     5.0   7.139786

      Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  PMD_Diff2  69.36  4.67  3.993595       5 - 125.66         8 - 34.17

Building models for Language:French and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---HoltsTrend---

            Issues   Issues_FC
2020-05-01     309  251.513259
2020-06-01     300  263.246428
2020-07-01     236  274.979596
2020-08-01     215  286.712764
2020-09-01     244  298.445933
2020-10-01     263  310.179101
2020-11-01     302  321.912270
2020-12-01     269  333.645438
2021-01-01     268  345.378606
2021-02-01     323  357.111775
2021-03-01     323  368.844943
2021-04-01     342  380.578112
2021-05-01     315  392.311280
2021-06-01     393  404.044449

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HoltsTrend  17.42  52.05  48.241756       12 - 17.75         2 - 15.43

Building models for Language:French and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

            Issues   Issues_FC
2020-05-01   103.0  110.800776
2020-06-01    99.0  124.398080
2020-07-01   106.0   99.106710
2020-08-01   104.0   93.308998
2020-09-01    60.0   96.136212
2020-10-01    84.0  117.494855
2020-11-01   106.0  111.856862
2020-12-01    90.0   85.599341
2021-01-01   118.0  102.197888
2021-02-01   118.0   89.752677
2021-03-01   124.0  119.207293
2021-04-01   167.0  100.821724
2021-05-01   122.0  111.872065
2021-06-01   133.0  127.258438

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",18.14,25.26,18.682975,5 - 27.77,9 - 12.79

Building models for Language:French and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

            Issues  Issues_FC
2020-05-01    12.0  11.072764
2020-06-01     9.0  12.265566
2020-07-01     7.0   8.093878
2020-08-01    12.0  19.416861
2020-09-01    30.0  25.512776
2020-10-01    18.0   9.444192
2020-11-01    28.0  16.336662
2020-12-01    19.0  16.260940
2021-01-01     9.0  15.350100
2021-02-01    10.0  19.252623
2021-03-01    19.0  24.317330
2021-04-01    17.0  15.804311
2021-05-01     9.0  15.431073
2021-06-01    18.0  19.346811

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",36.93,6.0,5.003043,8 - 47.97,6 - 22.22

Building models for Language:French and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---HoltsTrend---

            Issues  Issues_FC
2021-01-01     6.0   6.451051
2021-02-01    18.0   5.687596
2021-03-01    12.0   4.924142
2021-04-01     1.0   4.160688
2021-05-01     5.0   3.397233
2021-06-01     4.0   2.633779

       Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  HoltsTrend  86.19   6.0  4.328165       2 - 161.79         4 - 48.39

Building models for Language:French and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

            Issues  Issues_FC
2021-01-01     5.0   4.759363
2021-02-01     7.0   4.784484
2021-03-01    10.0   9.569481
2021-04-01    21.0   5.979370
2021-05-01     3.0   3.589788
2021-06-01     2.0   5.986119

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",55.21,6.42,3.747201,2 - 109.48,4 - 28.07

Building models for Language:French and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01    49.0  20.914019
2020-06-01    42.0  20.914019
2020-07-01    32.0  20.914019
2020-08-01    16.0  20.914019
2020-09-01    31.0  20.914019
2020-10-01    30.0  20.914019
2020-11-01    46.0  20.914019
2020-12-01    33.0  20.914019
2021-01-01    20.0  20.914019
2021-02-01    72.0  20.914019
2021-03-01    20.0  20.914019
2021-04-01    15.0  20.914019
2021-05-01    16.0  20.914019
2021-06-01    14.0  20.914019

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  37.61  19.01  13.726569        6 - 26.56         8 - 45.89

Building models for Language:French and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (61,)
---SARIMA_(1,2,1)_(0,1,1,12)----

            Issues  Issues_FC
2020-06-01     4.0   3.046369
2020-07-01     9.0   3.720146
2020-08-01     8.0   6.714886
2020-09-01     5.0   4.349238
2020-10-01     3.0   3.938157
2020-11-01     7.0   4.291846
2020-12-01     8.0   3.890763
2021-01-01     6.0   4.241144
2021-02-01     9.0   5.341319
2021-03-01     6.0   5.190722
2021-04-01     6.0   5.542965
2021-05-01     4.0   5.136307
2021-06-01     2.0   5.018682

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",38.72,2.54,2.05875,3 - 70.2,10 - 29.27

Building models for Language:French and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues  Issues_FC
2020-05-01      21  34.083909
2020-06-01      42  41.833458
2020-07-01      39  38.083038
2020-08-01      24  44.832230
2020-09-01      54  50.831895
2020-10-01      53  42.331074
2020-11-01      47  48.580784
2020-12-01      31  44.329799
2021-01-01      32  46.599651
2021-02-01      44  46.599873
2021-03-01      58  45.400097
2021-04-01      54  45.200321
2021-05-01      46  43.017527
2021-06-01      38  50.767076

       Method   MAPE   RMSE       MAE Over Predictions Under Predictions
0  HWAdditive  25.27  10.48  8.435422        7 - 40.09         7 - 10.46

Building models for Language:German and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (63,)
---SES----

            Issues  Issues_FC
2020-06-01    29.0  21.809699
2020-07-01    21.0  21.809699
2020-08-01    11.0  21.809699
2020-09-01     9.0  21.809699
2020-10-01    24.0  21.809699
2020-11-01    17.0  21.809699
2020-12-01    12.0  21.809699
2021-01-01    25.0  21.809699
2021-02-01    18.0  21.809699
2021-03-01    23.0  21.809699
2021-04-01     8.0  21.809699
2021-05-01     1.0  21.809699
2021-06-01     3.0  21.809699

  Method    MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  254.47  10.6  8.465269        9 - 361.8         4 - 12.96

Building models for Language:German and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues   Issues_FC
2020-05-01     360  236.801495
2020-06-01     349  235.466923
2020-07-01     225  215.176137
2020-08-01     232  213.993121
2020-09-01     261  226.896025
2020-10-01     152  226.198475
2020-11-01     250  238.350803
2020-12-01     222  214.599469
2021-01-01     220  238.992382
2021-02-01     239  238.252673
2021-03-01     273  260.012089
2021-04-01     280  276.946069
2021-05-01     298  267.142962
2021-06-01     355  265.808390

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HWAdditive  14.22  56.56  39.124621        2 - 28.72         12 - 11.8

Building models for Language:German and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues   Issues_FC
2020-05-01     251  282.928639
2020-06-01     293  282.928639
2020-07-01     273  282.928639
2020-08-01     288  282.928639
2020-09-01     151  282.928639
2020-10-01     223  282.928639
2020-11-01     288  282.928639
2020-12-01     271  282.928639
2021-01-01     257  282.928639
2021-02-01     251  282.928639
2021-03-01     301  282.928639
2021-04-01     263  282.928639
2021-05-01     282  282.928639
2021-06-01     294  282.928639

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  13.03  42.21  26.693897        9 - 18.41          5 - 3.35

Building models for Language:German and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,2,1)_(1,1,1,12)----

            Issues  Issues_FC
2020-05-01    13.0  11.470685
2020-06-01     9.0  10.955104
2020-07-01    21.0  19.334138
2020-08-01    17.0  22.538421
2020-09-01    31.0  18.832505
2020-10-01    37.0  23.939408
2020-11-01    18.0  25.906366
2020-12-01    17.0  11.743111
2021-01-01    11.0  22.224948
2021-02-01    19.0  16.261484
2021-03-01    27.0  23.178279
2021-04-01    18.0  14.741093
2021-05-01    17.0  14.575195
2021-06-01    18.0  12.083944

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 2, 1)_(1, 1, 1, 12)",29.95,6.8,5.604643,4 - 50.07,10 - 21.9

Building models for Language:German and Component:Matching
====================================================================================================
TS Data Set shape:  (27,)
---PMD_Diff1_BC----

            Issues  Issues_FC
2021-01-01    15.0   8.181818
2021-02-01     5.0  10.909091
2021-03-01     6.0   3.818182
2021-04-01     4.0   7.090909
2021-05-01     3.0   6.000000
2021-06-01     7.0   4.363636

         Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  PMD_Diff1_BC  69.16  4.31  3.939394        3 - 98.48         3 - 39.83

Building models for Language:German and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---HoltsTrend---

            Issues  Issues_FC
2020-05-01    35.0  25.926944
2020-06-01    13.0  28.391823
2020-07-01    19.0  30.856703
2020-08-01    18.0  33.321582
2020-09-01    33.0  35.786462
2020-10-01    62.0  38.251341
2020-11-01    21.0  40.716221
2020-12-01    30.0  43.181100
2021-01-01    26.0  45.645980
2021-02-01    22.0  48.110859
2021-03-01    45.0  50.575739
2021-04-01    30.0  53.040618
2021-05-01    40.0  55.505498
2021-06-01    60.0  57.970377

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HoltsTrend  57.29  16.26  14.498852       11 - 66.76         3 - 22.54

Building models for Language:German and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (57,)
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

            Issues  Issues_FC
2020-06-01     1.0   5.462329
2020-07-01    12.0   5.361524
2020-08-01    13.0  10.691478
2020-09-01    13.0   8.984742
2020-10-01     7.0   9.361009
2020-11-01     7.0   9.327703
2020-12-01     4.0  10.070876
2021-01-01     7.0  10.605039
2021-02-01     2.0   5.691199
2021-03-01     4.0   8.361019
2021-04-01     5.0   7.183515
2021-05-01     2.0   5.723846

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",111.99,4.06,3.812399,9 - 137.77,3 - 34.66

Building models for Language:German and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01    64.0  55.991574
2020-06-01    63.0  55.991574
2020-07-01    51.0  55.991574
2020-08-01    69.0  55.991574
2020-09-01    62.0  55.991574
2020-10-01    73.0  55.991574
2020-11-01    72.0  55.991574
2020-12-01    49.0  55.991574
2021-01-01    39.0  55.991574
2021-02-01    54.0  55.991574
2021-03-01    56.0  55.991574
2021-04-01    69.0  55.991574
2021-05-01    37.0  55.991574
2021-06-01    35.0  55.991574

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  21.37  12.54  10.786918        6 - 30.44         8 - 14.57

Building models for Language:Italian and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      66  62.167349
2020-06-01      98  62.167349
2020-07-01      39  62.167349
2020-08-01      35  62.167349
2020-09-01      83  62.167349
2020-10-01      42  62.167349
2020-11-01      58  62.167349
2020-12-01      53  62.167349
2021-01-01      59  62.167349
2021-02-01      76  62.167349
2021-03-01      82  62.167349
2021-04-01      55  62.167349
2021-05-01      81  62.167349
2021-06-01      84  62.167349

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  27.64  18.88  16.357143        7 - 32.56         7 - 22.73

Building models for Language:Italian and Component:Delivery
====================================================================================================
TS Data Set shape:  (62,)
---SARIMA_(1,2,1)_(0,1,1,12)----

            Issues  Issues_FC
2020-06-01     6.0   1.934743
2020-07-01     3.0   1.890447
2020-08-01     1.0   2.425178
2020-09-01     2.0   3.460788
2020-10-01     4.0   3.246214
2020-11-01     3.0   2.781665
2020-12-01     1.0   3.129629
2021-01-01     2.0   3.227571
2021-02-01     3.0   4.200566
2021-03-01     6.0   3.923279
2021-04-01     3.0   2.709921
2021-05-01     4.0   2.656492
2021-06-01     5.0   2.619323

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",60.48,1.8,1.513973,5 - 105.98,8 - 32.04

Building models for Language:Italian and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (63,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2020-06-01    31.0  33.822488
2020-07-01    28.0  27.401215
2020-08-01    12.0  23.759338
2020-09-01    19.0  21.741651
2020-10-01    25.0  20.673089
2020-11-01    29.0  20.159167
2020-12-01    14.0  19.969358
2021-01-01    18.0  19.968950
2021-02-01     6.0  20.079224
2021-03-01    15.0  20.254175
2021-04-01    26.0  20.466922
2021-05-01    32.0  20.701755
2021-06-01    29.0  20.949496

            Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  44.54  7.54  6.403349        7 - 63.54         6 - 22.38

Building models for Language:Italian and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (47,)
---HWMult----

            Issues  Issues_FC
2020-09-01     4.0   5.788548
2020-10-01     3.0   2.752293
2020-11-01     2.0   3.308180
2020-12-01     1.0   3.342938
2021-01-01     1.0   2.587934
2021-02-01     1.0   2.992229
2021-03-01     4.0   2.809396
2021-04-01     1.0   1.475952
2021-05-01     1.0   3.344913
2021-06-01     1.0   2.203475

   Method    MAPE  RMSE       MAE Over Predictions Under Predictions
0  HWMult  114.29   1.6  1.448248       8 - 138.11         2 - 19.01

Building models for Language:Italian and Component:Tscore
====================================================================================================
TS Data Set shape:  (63,)
---HoltsTrend---

            Issues  Issues_FC
2020-06-01    11.0   8.207188
2020-07-01    11.0   8.366267
2020-08-01     4.0   8.525346
2020-09-01    12.0   8.684425
2020-10-01    12.0   8.843504
2020-11-01    17.0   9.002583
2020-12-01    12.0   9.161662
2021-01-01    15.0   9.320741
2021-02-01     9.0   9.479820
2021-03-01    11.0   9.638899
2021-04-01    17.0   9.797978
2021-05-01    10.0   9.957057
2021-06-01     8.0  10.116136

       Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  HoltsTrend  31.69   4.1  3.395461        3 - 48.31         10 - 26.7

Building models for Language:Norwegian and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      13  17.315164
2020-06-01       7  17.315164
2020-07-01       7  17.315164
2020-08-01      15  17.315164
2020-09-01      16  17.315164
2020-10-01       7  17.315164
2020-11-01      18  17.315164
2020-12-01      12  17.315164
2021-01-01      33  17.315164
2021-02-01       3  17.315164
2021-03-01      12  17.315164
2021-04-01      12  17.315164
2021-05-01      18  17.315164
2021-06-01      23  17.315164

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  84.92  8.08  6.563642       10 - 110.9         4 - 19.96

Building models for Language:Norwegian and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_(1,2,1)_(0,1,1,12)----

            Issues  Issues_FC
2020-05-01    18.0  20.186201
2020-06-01    10.0  11.736150
2020-07-01     9.0  15.475311
2020-08-01    17.0  12.839136
2020-09-01     1.0  11.751755
2020-10-01     8.0  15.143355
2020-11-01    10.0  15.098927
2020-12-01    11.0  17.469594
2021-01-01     6.0  12.951031
2021-02-01     8.0   4.303322
2021-03-01    13.0  12.304246
2021-04-01    13.0   9.614101
2021-05-01     8.0   8.700600
2021-06-01    11.0   1.513072

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_(1, 2, 1)_(0, 1, 1, 12)",120.62,5.77,4.924218,9 - 166.7,5 - 37.67

Building models for Language:Norwegian and Component:Tscore
====================================================================================================
TS Data Set shape:  (61,)
---SES----

            Issues  Issues_FC
2020-06-01     1.0    1.02296
2020-07-01     1.0    1.02296
2020-08-01     1.0    1.02296
2020-09-01     1.0    1.02296
2020-10-01     1.0    1.02296
2020-11-01     1.0    1.02296
2020-12-01     1.0    1.02296
2021-01-01     1.0    1.02296
2021-02-01     1.0    1.02296
2021-03-01     1.0    1.02296
2021-04-01     1.0    1.02296
2021-05-01     1.0    1.02296
2021-06-01     3.0    1.02296

  Method  MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  7.19  0.55  0.173274         12 - 2.3          1 - 65.9

Building models for Language:Portuguese and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01     8.0   7.823429
2020-06-01    11.0   7.823429
2020-07-01     9.0   7.823429
2020-08-01    16.0   7.823429
2020-09-01     8.0   7.823429
2020-10-01     4.0   7.823429
2020-11-01     8.0   7.823429
2020-12-01     6.0   7.823429
2021-01-01     6.0   7.823429
2021-02-01     5.0   7.823429
2021-03-01     4.0   7.823429
2021-04-01     3.0   7.823429
2021-05-01     2.0   7.823429
2021-06-01     1.0   7.823429

  Method    MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  110.17  4.02  3.189061       8 - 180.34         6 - 16.61

Building models for Language:Portuguese and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---SARIMA_BC_(1,2,1)_(0,1,1,12)----

            Issues   Issues_FC
2020-05-01    77.0   76.163043
2020-06-01   136.0   58.110564
2020-07-01    94.0   51.149526
2020-08-01    81.0   67.294164
2020-09-01   104.0   48.662960
2020-10-01   146.0   74.445616
2020-11-01   136.0   79.869257
2020-12-01    86.0  100.236821
2021-01-01    78.0   84.210080
2021-02-01    56.0   85.283001
2021-03-01   143.0  115.906040
2021-04-01   161.0  147.769502
2021-05-01   116.0  162.790461
2021-06-01   112.0  136.567354

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 2, 1)_(0, 1, 1, 12)",30.76,41.6,34.265503,5 - 27.82,9 - 32.39

Building models for Language:Portuguese and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      74  59.214582
2020-06-01      67  59.214582
2020-07-01      52  59.214582
2020-08-01      66  59.214582
2020-09-01      25  59.214582
2020-10-01      67  59.214582
2020-11-01      58  59.214582
2020-12-01      56  59.214582
2021-01-01      61  59.214582
2021-02-01      48  59.214582
2021-03-01      84  59.214582
2021-04-01      59  59.214582
2021-05-01      46  59.214582
2021-06-01      44  59.214582

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  23.68  14.07  10.673512         8 - 30.7         6 - 14.32

Building models for Language:Portuguese and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---HoltsTrend---

            Issues  Issues_FC
2020-05-01    81.0  32.960477
2020-06-01    23.0  35.357015
2020-07-01    43.0  37.753553
2020-08-01    32.0  40.150090
2020-09-01    48.0  42.546628
2020-10-01    62.0  44.943166
2020-11-01    45.0  47.339704
2020-12-01    52.0  49.736242
2021-01-01    25.0  52.132780
2021-02-01    18.0  54.529317
2021-03-01    22.0  56.925855
2021-04-01    51.0  59.322393
2021-05-01    68.0  61.718931
2021-06-01    76.0  64.115469

       Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  HoltsTrend  50.75  21.42  16.141621        7 - 81.56         7 - 19.94

Building models for Language:Portuguese and Component:Tscore
====================================================================================================
TS Data Set shape:  (59,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2020-07-01    11.0   8.634932
2020-08-01     9.0   9.820161
2020-09-01     6.0   9.539627
2020-10-01     6.0   9.864242
2020-11-01    17.0   9.939018
2020-12-01     7.0  10.116942
2021-01-01    12.0  10.252280
2021-02-01     9.0  10.405200
2021-03-01    16.0  10.550861
2021-04-01    12.0  10.699519
2021-05-01     6.0  10.846940
2021-06-01    11.0  10.994872

            Method  MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  33.0  3.57  2.960136        6 - 45.57         6 - 20.42

Building models for Language:Spanish and Component:Accounts & Billing
====================================================================================================
TS Data Set shape:  (64,)
---SES----

            Issues  Issues_FC
2020-06-01    11.0   7.291603
2020-07-01     4.0   7.291603
2020-08-01    14.0   7.291603
2020-09-01     4.0   7.291603
2020-10-01     6.0   7.291603
2020-11-01     3.0   7.291603
2020-12-01     1.0   7.291603
2021-01-01     5.0   7.291603
2021-02-01    12.0   7.291603
2021-03-01     9.0   7.291603
2021-04-01     1.0   7.291603
2021-05-01     1.0   7.291603
2021-06-01     1.0   7.291603

  Method    MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  233.19  4.72  4.342924       9 - 321.29         4 - 34.96

Building models for Language:Spanish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---PMD_Diff2----

            Issues   Issues_FC
2020-05-01     155  145.607092
2020-06-01     168  129.701244
2020-07-01     122  107.022695
2020-08-01     160  118.070935
2020-09-01     116  130.448482
2020-10-01     163  139.681277
2020-11-01     189  157.154770
2020-12-01     127  137.413399
2021-01-01     150  149.548567
2021-02-01     160  150.555055
2021-03-01     154  160.690217
2021-04-01     155  169.895597
2021-05-01     156  185.896145
2021-06-01     199  170.334805

      Method   MAPE   RMSE      MAE Over Predictions Under Predictions
0  PMD_Diff2  12.35  23.12  19.6191        5 - 10.75         9 - 13.23

Building models for Language:Spanish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      97  160.49615
2020-06-01     104  160.49615
2020-07-01      95  160.49615
2020-08-01     111  160.49615
2020-09-01      86  160.49615
2020-10-01     105  160.49615
2020-11-01     247  160.49615
2020-12-01     175  160.49615
2021-01-01     146  160.49615
2021-02-01     214  160.49615
2021-03-01      94  160.49615
2021-04-01     126  160.49615
2021-05-01     147  160.49615
2021-06-01     227  160.49615

  Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0    SES  41.97  55.79  51.069778        10 - 49.0          4 - 24.4

Building models for Language:Spanish and Component:Delivery
====================================================================================================
TS Data Set shape:  (64,)
---SES----

            Issues  Issues_FC
2020-06-01     4.0   3.939597
2020-07-01     7.0   3.939597
2020-08-01     5.0   3.939597
2020-09-01     3.0   3.939597
2020-10-01     3.0   3.939597
2020-11-01     3.0   3.939597
2020-12-01     1.0   3.939597
2021-01-01     1.0   3.939597
2021-02-01     4.0   3.939597
2021-03-01     5.0   3.939597
2021-04-01     3.0   3.939597
2021-05-01     8.0   3.939597
2021-06-01     3.0   3.939597

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  68.03  1.96  1.533815       7 - 106.36         6 - 23.32

Building models for Language:Spanish and Component:Enablements
====================================================================================================
TS Data Set shape:  (25,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2021-02-01     2.0   1.998824
2021-03-01     3.0   2.405167
2021-04-01     4.0   2.572777
2021-05-01     3.0   2.644192
2021-06-01     3.0   2.676846

            Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  15.64  0.72  0.540439            0 - 0         5 - 15.64

Building models for Language:Spanish and Component:Matching
====================================================================================================
TS Data Set shape:  (25,)
---SES----

            Issues  Issues_FC
2021-02-01     2.0   1.728128
2021-03-01     1.0   1.728128
2021-04-01     1.0   1.728128
2021-05-01     5.0   1.728128
2021-06-01     2.0   1.728128

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  47.65  1.54  1.054374        2 - 72.81         3 - 30.87

Building models for Language:Spanish and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2020-05-01    90.0  73.009934
2020-06-01    62.0  60.697811
2020-07-01    46.0  68.647382
2020-08-01    62.0  64.974293
2020-09-01    99.0  67.968279
2020-10-01    72.0  67.137849
2020-11-01   116.0  68.501208
2020-12-01    73.0  68.606150
2021-01-01    84.0  69.432955
2021-02-01    31.0  69.845679
2021-03-01    37.0  70.495931
2021-04-01    55.0  71.009931
2021-05-01    33.0  71.602089
2021-06-01    38.0  72.149413

            Method   MAPE  RMSE        MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  44.94  26.5  21.955038        7 - 72.26         7 - 17.63

Building models for Language:Spanish and Component:Policy Questions
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_BC_(1,1,1)----

            Issues  Issues_FC
2020-05-01     2.0   1.800489
2020-06-01     2.0   1.750053
2020-07-01     2.0   1.731081
2020-08-01     2.0   1.719178
2020-09-01     1.0   1.708917
2020-10-01     1.0   1.699071
2020-11-01     1.0   1.689363
2020-12-01     1.0   1.679729
2021-01-01     1.0   1.670153
2021-02-01     1.0   1.660634
2021-03-01     2.0   1.651168
2021-04-01     2.0   1.641757
2021-05-01     2.0   1.632399
2021-06-01     1.0   1.623095

               Method  MAPE  RMSE      MAE Over Predictions Under Predictions
0  ARIMA_BC_(1, 1, 1)  41.2  0.52  0.48606        7 - 67.59         7 - 14.81

Building models for Language:Spanish and Component:Supply TQ Investigation
====================================================================================================
TS Data Set shape:  (51,)
---ARIMA_(1,1,1)----

            Issues  Issues_FC
2020-08-01     6.0   4.860860
2020-09-01     8.0   5.056925
2020-10-01     8.0   5.171862
2020-11-01     9.0   5.276898
2020-12-01     5.0   5.380726
2021-01-01     5.0   5.484407
2021-02-01     8.0   5.588070
2021-03-01    10.0   5.691730
2021-04-01     8.0   5.795390
2021-05-01     1.0   5.899050
2021-06-01     4.0   6.002711

            Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  ARIMA_(1, 1, 1)  71.87  2.85  2.484105       4 - 139.32         7 - 33.33

Building models for Language:Spanish and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues  Issues_FC
2020-05-01    16.0  13.034492
2020-06-01    13.0  13.534496
2020-07-01    20.0  12.284490
2020-08-01    17.0  15.534504
2020-09-01    15.0  16.284474
2020-10-01    26.0  16.284484
2020-11-01    25.0  19.784457
2020-12-01     6.0  16.034467
2021-01-01     9.0  17.026282
2021-02-01    11.0  17.626280
2021-03-01    20.0  18.526291
2021-04-01    24.0  14.626273
2021-05-01    15.0  16.233179
2021-06-01    13.0  16.733183

       Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0  HWAdditive  38.33  6.03  4.956955        7 - 52.32         7 - 24.34

Building models for Language:Swedish and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_BC_(1,1,1)----

            Issues  Issues_FC
2020-05-01    53.0  40.843490
2020-06-01    24.0  36.471807
2020-07-01    24.0  35.702959
2020-08-01    35.0  36.129272
2020-09-01    36.0  37.001164
2020-10-01    38.0  38.058278
2020-11-01    42.0  39.206736
2020-12-01    30.0  40.412611
2021-01-01    72.0  41.664048
2021-02-01    18.0  42.957391
2021-03-01    41.0  44.292056
2021-04-01    28.0  45.668626
2021-05-01    44.0  47.088141
2021-06-01    66.0  48.551839

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"ARIMA_BC_(1, 1, 1)",32.61,13.99,10.608299,10 - 35.84,4 - 24.54

Building models for Language:Swedish and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01      43  44.888304
2020-06-01      46  44.888304
2020-07-01      40  44.888304
2020-08-01      55  44.888304
2020-09-01      10  44.888304
2020-10-01      28  44.888304
2020-11-01      62  44.888304
2020-12-01      61  44.888304
2021-01-01      51  44.888304
2021-02-01      44  44.888304
2021-03-01      43  44.888304
2021-04-01      45  44.888304
2021-05-01      38  44.888304
2021-06-01      55  44.888304

  Method  MAPE   RMSE       MAE Over Predictions Under Predictions
0    SES  39.7  13.03  9.214286        7 - 64.34         7 - 15.06

Building models for Language:Swedish and Component:Enablements
====================================================================================================
TS Data Set shape:  (27,)
---ARIMA_BC_(1,1,1)----

            Issues  Issues_FC
2021-01-01     1.0   1.697667
2021-02-01     2.0   1.621512
2021-03-01     1.0   1.588105
2021-04-01     1.0   1.563699
2021-05-01     1.0   1.541413
2021-06-01     1.0   1.519811

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"ARIMA_BC_(1, 1, 1)",51.67,0.56,0.548197,5 - 58.21,1 - 18.92

Building models for Language:Traditional Chinese and Component:Appeals
====================================================================================================
TS Data Set shape:  (66,)
---PMD_Diff1_BC----

            Issues  Issues_FC
2020-05-01    90.0  85.753410
2020-06-01   119.0  81.711125
2020-07-01    88.0  76.656639
2020-08-01    80.0  73.310535
2020-09-01    83.0  68.923660
2020-10-01    84.0  66.040453
2020-11-01   102.0  71.536475
2020-12-01    62.0  61.275494
2021-01-01    64.0  63.465388
2021-02-01    29.0  56.924201
2021-03-01    85.0  77.209325
2021-04-01    75.0  84.560252
2021-05-01    77.0  66.254313
2021-06-01    80.0  63.131186

         Method   MAPE   RMSE        MAE Over Predictions Under Predictions
0  PMD_Diff1_BC  20.05  17.65  14.015461        2 - 54.52        12 - 14.31

Building models for Language:Traditional Chinese and Component:Complaints
====================================================================================================
TS Data Set shape:  (66,)
---ARIMA_BC_(1,1,1)----

            Issues  Issues_FC
2020-05-01     8.0   7.876099
2020-06-01    12.0   8.667221
2020-07-01    15.0   8.822722
2020-08-01    12.0   8.676980
2020-09-01    11.0   8.404757
2020-10-01    12.0   8.086508
2020-11-01    17.0   7.757222
2020-12-01    15.0   7.431578
2021-01-01    13.0   7.115474
2021-02-01     6.0   6.811068
2021-03-01     4.0   6.518946
2021-04-01    14.0   6.239040
2021-05-01    11.0   5.971021
2021-06-01     7.0   5.714460

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"ARIMA_BC_(1, 1, 1)",35.75,5.03,4.254781,2 - 38.25,12 - 35.33

Building models for Language:Traditional Chinese and Component:Delivery
====================================================================================================
TS Data Set shape:  (66,)
---HWAdditive-

            Issues  Issues_FC
2020-05-01     5.0   4.376533
2020-06-01     5.0  10.526467
2020-07-01     3.0   3.926574
2020-08-01     6.0   4.326589
2020-09-01     8.0   3.826574
2020-10-01     5.0   3.576595
2020-11-01     4.0   3.201601
2020-12-01     3.0   3.576607
2021-01-01     1.0   3.758455
2021-02-01     3.0   4.425156
2021-03-01     2.0   4.891804
2021-04-01     3.0   4.011718
2021-05-01     8.5   5.207137
2021-06-01    14.0  11.357071

       Method   MAPE  RMSE      MAE Over Predictions Under Predictions
0  HWAdditive  61.49  2.56  2.12462        7 - 94.61         7 - 28.37

Building models for Language:Traditional Chinese and Component:Phishing/Techscam
====================================================================================================
TS Data Set shape:  (65,)
---SARIMA_BC_(1,1,1)_(1,1,1,12)----

            Issues  Issues_FC
2020-06-01    13.0  24.189424
2020-07-01     4.0  15.698250
2020-08-01     6.0  16.334029
2020-09-01     8.0  18.003996
2020-10-01     9.0  13.674996
2020-11-01     4.0  22.471745
2020-12-01     7.0  21.601297
2021-01-01     6.0  18.325728
2021-02-01     4.0  19.887254
2021-03-01    70.0  31.272890
2021-04-01    78.0  35.938210
2021-05-01    61.0  38.802607
2021-06-01     9.0  40.305460

,Method,MAPE,RMSE,MAE,Over Predictions,Under Predictions
0,"SARIMA_BC_(1, 1, 1)_(1, 1, 1, 12)",191.86,21.82,18.729113,10 - 234.86,3 - 48.55

Building models for Language:Traditional Chinese and Component:Tscore
====================================================================================================
TS Data Set shape:  (66,)
---SES----

            Issues  Issues_FC
2020-05-01     4.0   7.471106
2020-06-01     3.0   7.471106
2020-07-01     2.0   7.471106
2020-08-01     6.0   7.471106
2020-09-01     5.0   7.471106
2020-10-01    13.0   7.471106
2020-11-01     6.0   7.471106
2020-12-01     7.0   7.471106
2021-01-01     2.0   7.471106
2021-02-01     3.0   7.471106
2021-03-01     9.0   7.471106
2021-04-01     7.0   7.471106
2021-05-01    10.0   7.471106
2021-06-01     4.0   7.471106

  Method   MAPE  RMSE       MAE Over Predictions Under Predictions
0    SES  86.82  3.53  3.054917      11 - 102.79         3 - 28.27

Wall time: 33.2 s

In [47]:
end = time.ctime()
begin, end

('Tue Sep 28 20:05:30 2021', 'Tue Sep 28 20:41:16 2021')